[2017-01-10 16:02] elstob opened #2 "Respect Atom's "Tab Length" setting"
It appears the prettifier defaults to 2 spaces per tab. I imagine this should/could be configurable in the package settings but ideally it would use the value set in Settings > Editor > Tab Length by default.

[2017-01-10 16:16] danielbuechele opened #3 "Get config from eslint"
I guess we would need to write a custom translation from eslint-rules to prettier config, but it would be super cool to get at least the most basic rules like tabs/spaces, trailing commas, etc. from the eslint-file.

[2017-01-10 16:23] erbridge opened #4 "Configuration?"
How does one specify options?

[2017-01-10 16:37] schnerd commented on #4
Agree, prettier looks awesome but config is also a minor blocker for me.

Guessing this package is more a proof-of-concept for editor integration at this point, and James hasn't completely finished all the configuration options. The core prettier package [exposes a few options](https://github.com/jlongster/prettier#api), and it would be trivial to expose them as package configuration options in At

[2017-01-10 16:49] erbridge commented on #4
Yeah, I was referring to exposing the existing options, which I think is a must have before I would consider using this.

[2017-01-10 17:00] just-boris opened #5 "Doesn't work"
**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Ubuntu 16.04.1
**Thrown From**: [prettier-atom](https://github.com/jlongster/prettier-atom) package, v0.0.3

When I tried to install this package, it gave me the following error

[code]

And the error is actually true, there is no source-map module in the `prettier` package dependencies.
How did it use to work?

[2017-01-10 17:19] ryancole opened #7 "Installation fails on Windows: cannot create directory at 'test/fixtures/jsx/regression/test-*-option': Invalid argument"
I'm attempt to install on Windows 10. Below is the error output via Atom ...

[code]

[2017-01-10 17:26] oldCoderException opened #8 "Change line length option in Atom"
First off, well done.  Very nice.  :)
I'm using prettier in Atom and it would be nice to be able to set the maximum line length in the config settings.  I changed it by altering the source for now.
cheers,

[2017-01-10 17:26] schnerd commented on #8
This can likely be merged with #4

[2017-01-10 17:39] schnerd commented on #4
Opened #9 in case PRs are being accepted

[2017-01-10 18:03] ryantriangles commented on #7
Windows does not allow the character `*` in file or folder names, that seems to be what's tripping it up.

[2017-01-10 18:55] hzoo commented on #7
This is because its using git in package.json rather than npm but yes we will fix it too

[2017-01-10 19:34] leshow opened #10 "Format on save option and ctrl+alt+f do nothing"
I can manually select to prettify but selecting format on save or doing ctrl+alt+f both do nothing on .js files
[code]

[2017-01-11 01:13] shixukai opened #11 "The format will clean the annotation in jsx file at the same time in Atom"
It's a excellent package! l like it.

But I think this should not happen when I format the JSX file the annotation was cleaned automatically  by prettier-atom.

before format
![image](https://cloud.githubusercontent.com/assets/12314563/21831285/8f0f585c-d7dd-11e6-9bb9-5df8c62273a4.png)

after format
![image](https://cloud.githubusercontent.com/assets/12314563/21831300/a325c934-d7dd-11e6-8032-2072f

[2017-01-11 10:15] just-boris commented on #10
Have you got any warnings after install?

I have got it, as I have described in #5

Installation has failed, so plugin does nothing.

[2017-01-11 16:02] jlongster opened #13 "Anyone want to take over maintanence?"
I don't use Atom daily, and I feel someone who uses it as their primary editor is more suited to maintain this. Also I won't have time to watch this as much as prettier itself. I'm happy to move this project to someone else's account if they want to be the core maintainer.

[2017-01-11 16:03] #4 closed

[2017-01-11 16:09] jlongster commented on #11
What do you mean animation? I see that the dangling comments are gone, and that is a known issue. Please file prettier bugs at https://github.com/jlongster/prettier, not here.

[2017-01-11 16:09] #11 closed

[2017-01-11 16:10] jlongster commented on #5
This should be fixed after updating to the latest prettier version. Please try it!

[2017-01-11 16:10] #5 closed

[2017-01-11 16:10] jlongster commented on #10
See above comment, it probably was failing to install for you. Try to latest version of prettier-atom, it should work.

[2017-01-11 16:10] #10 closed

[2017-01-11 16:11] jlongster commented on #8
Fixed in https://github.com/jlongster/prettier-atom/pull/9

[2017-01-11 16:11] #8 closed

[2017-01-11 16:11] jlongster commented on #7
That latest version should have fixed this.

[2017-01-11 16:11] #7 closed

[2017-01-11 16:13] jlongster commented on #3
There are some discussion on the prettier repo about this, please file issues and talk about it over there (https://github.com/jlongster/prettier).

Long story short, we are not going to do this in the short-term. We will work on ways to make it easy to integrate with eslint but prettier itself will not read from it, but another higher-level tool could.

[2017-01-11 16:13] #3 closed

[2017-01-11 16:16] just-boris commented on #5
Now that works.

Many thanks for your work!

[2017-01-11 17:20] jlongster commented on #2
Good point. The default value could be read from that unless it's explicitly set in the settings.

[2017-01-11 23:16] robwise commented on #13
I'd be very interested. My day job is full stack engineer focusing mainly on Rails and React ([my personal website](robwise.github.io)). I'd been contributing to [this project](https://github.com/shakacode/react_on_rails), but have not done much OSS recently and want to get back into it.

P.S. - Did you go to UVA and live in Bonnycastle first year?

[2017-01-12 09:01] oviava commented on #13
I would be interested, however I think the project should still remain under your account.

[2017-01-12 09:04] oviava commented on #2
@jlongster If you get this into `prettier` as an option I can make the changes to `prettier-atom`

[2017-01-12 17:24] danseethaler commented on #2
+1 for reading from the editor configuration `".js.jsx.source": editor: tabLength: x`. This would make the package for me.

[2017-01-13 04:19] jlongster commented on #13
Cool. @robwise I added you. I don't think this is going to take much, but @oviava if you're still interested, I can add you to.

I will still try to watch the PRs.

[2017-01-13 08:06] oviava commented on #13
@jlongster sure thing

[2017-01-13 13:01] erbridge opened #18 "Allow users to specify extensions to auto format"
For instance, we use the `.jsx` extension for JSX in the main project I'm working on, and prettier's JSX support still has some issues. I would like to be able to auto format on save, but that messes up my JSX files.

[2017-01-13 20:15] #13 closed

[2017-01-13 20:18] jlongster commented on #2
@oviava This doesn't have anything to do with `prettier`. The atom package itself should read this value and pass it to prettier if the user hasn't set a value in the plugin's config.

[2017-01-14 08:09] robwise commented on #2
@oviava Do you want to take this one or should I?

[2017-01-14 09:57] stoe opened #19 "Avast issue with prettier-atom v0.0.6 install"
~~Just wanted to let you know package installs just fine, but the below Avast infection is reported.~~

Can't install v0.0.6 due to the below warning.

![image](https://cloud.githubusercontent.com/assets/203805/21954023/c231e2ca-da46-11e6-9e28-90b595c93d18.png)

Using `apm install prettier-atom@0.0.5` installs without the infection message, but using `apm install prettier-atom` or `apm update` rai

[2017-01-14 10:11] stoe opened #20 "shebang wrongly prettified"
The shebang (e.g. `#!/usr/local/bin/node`) shouldn't be prettified to `///usr/local/bin/node`

![](https://cl.ly/1Z3l1B132h0m/Screen%20Recording%202017-01-14%20at%2011.09.gif)

[2017-01-14 10:16] stoe commented on #20
Sorry, should have been reported in https://github.com/jlongster/prettier.

It was reported in https://github.com/jlongster/prettier/issues/44, but wrongly prettified issue still remains.

[2017-01-14 12:51] demoneaux commented on #20
I believe this should have been fixed in 0.0.6. Please try updating your plugin.

[2017-01-14 13:57] stoe commented on #19
Checking again, I can't seem to install v0.0.6 at all without the above infection warning.

[2017-01-14 13:58] stoe commented on #20
I tried, but have issues doing so as the update is blocked with an infection warning from Avast.
See https://github.com/jlongster/prettier-atom/issues/19

[2017-01-14 15:01] fsievers opened #21 "Prettier completly removes comments from empty objects"
If you have an empty object with comments inside the brackets, the comment gets removed after running prettier-atom.

e.g.
`var foo = { /* a comment */ }`

becomes
`var foo = {}`

[2017-01-14 22:10] robwise commented on #20
Closing this one since as you said it's a Prettier bug.

[2017-01-14 22:10] #20 closed

[2017-01-14 22:12] robwise commented on #21
@fsievers This is a bug with Prettier, please see https://github.com/jlongster/prettier/issues/20

[2017-01-14 22:12] #21 closed

[2017-01-14 22:14] robwise commented on #19
@stoe I think this seems to be an issue with Prettier and not prettier-atom. I think we should close this and refer people to your [issue](https://github.com/jlongster/prettier/issues/193) there?

[2017-01-14 22:14] #19 closed

[2017-01-15 23:24] robwise opened #25 "Possible Regression with Ignore Settings"
@jlongster I was looking at the CHANGELOG because I'm planning on getting that back on track, but I noticed [this line](https://github.com/jlongster/prettier-atom/commit/d529318af8edbfd5272448d4fdc5a72245a45f98#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR7) and am worried there was a regression with the changes I made in https://github.com/jlongster/prettier-atom/pull/22.

Can you give more insight on w

[2017-01-17 13:11] albertbuchard opened #26 "[bug] On PHP pages: prettier-atom: File type not supported"
Hi,

I selected **format on save** for prettier, and every time I save a php file it seems it is trying to parse it even tho it is not javascript and give me a soft error : prettier-atom: File type not supported.

[2017-01-17 14:01] demoneaux commented on #26
This has been fixed in #24, and will be published in the next version bump.

[2017-01-17 15:39] jlongster commented on #25
@robwise We should remove the changelog. I forked the [standard-formatter](https://atom.io/packages/standard-formatter) project to make this we've just inherited it. We should blow it away and make a new one (if we want it).

[2017-01-17 15:39] #25 closed

[2017-01-17 16:29] jlongster opened #27 "Uncaught TypeError: Cannot read property 'endsWith' of undefined"
See https://github.com/jlongster/prettier/issues/269

@robwise Can you check this out?

[2017-01-18 03:40] robwise commented on #27
@jlongster Yep, on it!

[2017-01-18 03:41] #26 closed

[2017-01-18 04:08] robwise opened #28 "Changelog"
As per https://github.com/jlongster/prettier-atom/issues/25#issuecomment-273204553, we should probably blow away the current changelog and then create a new one from scratch that gets us back up to date.

[2017-01-18 04:41] #27 closed

[2017-01-18 14:30] bsr203 opened #30 "version still at 0.0.7"
The version at https://atom.io/packages/prettier-atom is still  0.0.7. Anything needed to bump to 0.0.8 ? or does it take more than a day to update the registry.

[2017-01-18 22:23] robwise commented on #30
@jlongster Has to publish it as I don't believe I have that ability

[2017-01-19 01:44] jlongster commented on #30
I published 0.0.8 yesterday but there was an obscure error at the end. I really hate the `apm publish` workflow.

[2017-01-19 01:46] jlongster commented on #30
It should should be updated to 0.0.9. Please check and re-open if not!

[2017-01-19 01:46] #30 closed

[2017-01-19 01:47] jlongster commented on #28
I removed the current one at least. Not sure a small project of this size warrants a full changelog as it's pretty easy to look at the commit history and read the 1-3 commits between versions. But I'll leave that up to you as the maintainer :)

I'm happy to add you to the release process btw. Do I just add you as an "owner" to the npm project and `apm publish` just works?

[2017-01-19 02:30] bsr203 commented on #30
thank you. Atom detected the update as available, and upgraded to 0.0.9.

[2017-01-19 06:49] robwise commented on #28
Actually, I never actually checked, I was just assuming. Maybe I already am able to by nature of being a GitHub collaborator? Next time that Prettier gets bumped, I will try and see if I can do it.

[2017-01-20 08:48] oviava commented on #2
@jlongster I don't remember seing an option for tab length in prettier - I was thinking it has to be implemented there. I'll have a look and try to submit a PR.

[2017-01-20 09:23] robwise commented on #2
@oviava It's in Prettier and also in the atom plugin, but right now it's manually set. So I guess we should make it so that it feeds the current editor's tab length setting by default, unless the user has chosen to override that tab length manually via the settings.

[2017-01-20 09:25] oviava commented on #2
@robwise noticed it, not sure how I missed it. yeah, should be a quick PR - however I think you can set the option for either global or for specific source files - should we get the global option or just .js / .jsx ?

[2017-01-20 10:41] robwise commented on #2
@oviava I'm pretty sure you can query the active editor for exactly what tab length the user is currently using for the specific tab they are in. Some people use autodetect because they switch around projects with different styles, so I don't think we can rely on looking for `.jsx` or `.js`, and that won't work in blank tabs that haven't been saved yet.

[2017-01-20 12:26] #18 closed

[2017-01-20 12:29] robwise commented on #28
Okay, turns out I can publish, so all set! Sorry about that!

[2017-01-20 12:52] oviava commented on #2
@robwise did a PR, think I'm conflicting with some of your changes, mind having a look ? cheers.

[2017-01-20 18:34] vjeux opened #33 "Can't publish 0.0.10"
@robwise turns out because you published 0.0.10 but didn't update the dependency to 0.0.10, we are now stuck as we can't publish the 0.0.10 again. I also tried publishing 0.0.10b or 0.0.10-real but atom doesn't seem to like it.

The plan is to do another smaller release either today or tomorrow and we'll bump everything to 0.0.11.

(Note: this is the first time I ever publish something to apm so t

[2017-01-20 22:16] robwise commented on #33
@vjeux You mean you are trying to mirror Prettier's semver? I don't think that's a good idea. If we have a game-stopping bug on the plugin we shouldn't have to wait for Prettier to get bumped before we can release it just so the semvers can match.

I published v10 to get a plugin-specific enhancement released, that's why I didn't bump the dependency. If we want to bump the dependency, we should ju

[2017-01-29 02:54] dwwoelfel opened #34 "Loses cursor position on format"
When I trigger a format, my cursor stays on the same line as it was before the code was formatted. It would be nice if the cursor followed its position in the code.

A quick example:

The pipe represents my cursor. Before formatting, my cursor is just after `keyTwo` in `mapTwo`. After formatting, I would expect it to move with the code. Instead, it's located just after `valueOne` in `mapOne`.

Bef

[2017-01-30 17:01] jjwyse opened #35 ""Single quote" property not working as expected"
I currently have the "Single Quote" property in Atom set to `true`, however when I format the code using `prettier`, it is changing all single quotes to double quotes.

![Properties](https://cl.ly/3x3t251m0E1j/Screen%20Shot%202017-01-30%20at%209.57.10%20AM.png)

Formatting code:
![GIF](https://cl.ly/1W272G2Z2S0r/Screen%20Recording%202017-01-30%20at%2010.00%20AM.gif)

Anyone else experiencing this

[2017-01-31 13:43] robwise commented on #35
@jjwyse I think this is an issue relating to Prettier itself as it's treating JSX attributes specially. You will notice that Prettier is not changing the single quotes at the top in your imports, so it is respecting the option that the atom plugin has set.

[2017-01-31 14:33] demoneaux commented on #35
Yep, since JSX was designed to be similar to HTML, the convention is to use double quotes for JSX attributes.

[2017-01-31 15:08] jjwyse commented on #35
@robwise @demoneaux - Ah, nice - thanks for the response and insight, appreciate it.  I'll go ahead and close this.  Thanks again. 👍

[2017-01-31 15:08] #35 closed

[2017-02-01 00:50] kennetpostigo opened #36 "Use latest prettier"
Release an update to 0.14.0

[2017-02-01 20:23] robwise commented on #36
Resolved in #38

[2017-02-01 20:23] #36 closed

[2017-02-01 20:23] #33 closed

[2017-02-01 20:25] ianobermiller opened #39 "Expose Options"
Expose the few options that prettier allows. As of opening this issue:

[code]

[2017-02-01 20:50] robwise commented on #39
@ianobermiller I'm not sure what you mean, these are already exposed?

![](https://cl.ly/05070o29402y/Image%202017-02-01%20at%203.50.16%20PM.png)

[2017-02-04 16:41] tacomanator opened #41 "Save without formatting"
What do you think of a key combo to bypass formatting and save? Sometimes I have to temporarily disable the `Format on Save` setting to make patches for OSS/projects that don't use prettier.

[2017-02-05 17:56] robwise commented on #41
@tacomanator I'm not sure how I would go about coding that one. Maybe it would be better if we had a whitelist or blacklist of globs. I did a PR for a related project that does blacklist globs:

https://github.com/kentcdodds/prettier-eslint-atom/pull/11/files

Then you would just blacklist the projects you didn't want it for. What do you think of that solution?

[2017-02-07 15:30] mxstbr opened #43 "Only format on save if prettier is in the dependencies"
I have projects that use `prettier` and adhere to the style standard, but I also have projects that neither use `prettier` nor adhere to the style. (they enforce some other styleguide with `eslint`)

It'd be great if the "Format on save" option only took effect in projects that have `prettier` in their `package.json` or something like that!

[2017-02-07 18:13] robwise commented on #43
I was thinking in https://github.com/jlongster/prettier-atom/issues/41 that it might be good to do a blacklist glob, that might be better because that would cover cases where people still want to use prettier for their files even though the project might not have it listed in the dependencies.

[2017-02-08 07:26] mxstbr commented on #43
That seems very manual. I create new projects almost everyday, and updating a custom glob every time based on "do I want to use prettier or not" seems pretty tedious. I'm not sure I'd even enable that option just based on the fact that I'll probably forget about it.

[2017-02-11 11:43] oriSomething opened #45 "Adding the ability to fail silently"
Current behave is that when I save a document that cannot be converted to AST, I get a huge popover of the failure of `prettier-atom`.
I think adding the ability that it will fail silently and won't be trigger the popover can be very helpful since, It's not exactly a pleasant UX.
Of course, I can try making a PR if needed.

Thanks!

[2017-02-13 02:29] robwise commented on #45
Yeah, great idea! Do you think you can try to tackle this one in a PR? I think we can just have a simple checkbox that lets you silence the errors? Does it do this only on format-on-save, or even if you invoke the command manually?

[2017-02-13 05:52] oriSomething commented on #45
- Yes, i'll try to PR this
- I though on a simple checkbox too
- If you invoke manually the command. It might won't be a good idea

[2017-02-13 09:54] erbridge commented on #45
I actually find those errors very helpful. They usually occur because of syntax issues I had missed. But perhaps they could highlight the error instead of making such a huge stack trace?

[2017-02-13 11:21] oriSomething commented on #45
@erbridge It's seems to me like a valid option. But, I don't think it should come instead of the "silent failure"

[2017-02-13 22:37] robwise commented on #45
Yeah we could have another option which is `errors include stack trace` or something? And that one applies to everything and not just the format on save?

[2017-02-14 10:29] zepod opened #48 "Decorators throw SyntaxError"
Encountered issue with decorators. After prettying .jsx file with decorators in it, following message is displayed and file isn't prettyfied.

Here are screenshot of error message and full stack trace.

![prettier-atom-issue](https://cloud.githubusercontent.com/assets/19804724/22925223/2d996708-f2a8-11e6-931b-56602a3990f4.png)
![atom-prettier-issue-2](https://cloud.githubusercontent.com/assets/198

[2017-02-14 20:29] robwise commented on #48
@zepod Is this a prettier-atom issue or a prettier issue?

[2017-02-14 20:40] robwise opened #49 "Shorter Stack Trace Option?"
As per #45 we were discussing whether it would be useful to be able to choose whether you want the long error message with the full stack trace versus a shorter message. Or perhaps we just should change it so it always shows the shorter message.

Anyone have thoughts on this?

[2017-02-14 20:40] robwise commented on #45
I'm going to close this for now, discussion of removing stack trace moved to https://github.com/jlongster/prettier-atom/issues/49

[2017-02-14 20:40] #45 closed

[2017-02-14 20:42] robwise commented on #39
Closing, let me know if this is still an issue for you

[2017-02-14 20:42] #39 closed

[2017-02-14 20:43] #48 closed

[2017-02-15 00:44] erbridge commented on #49
I think highlighting the syntax error (when that's the issue) in the code with a short popup to point out that it failed would be my preferred solution.

[2017-02-15 18:12] darahak opened #50 "Bad indentation on comment blocks"
I ran the latest version `0.17.0` on a script that defines a RequireJS module.
It added one indentation step to the whole module, but the comment blocks didn't follow (just the first line).

Here's an example (with 4-space tabs):

[code]

became

[code]

It works properly when I test my code on the [REPL](https://jlongster.github.io/prettier/) though.
Can other packages interfere when Prettier run

[2017-02-16 02:00] robwise commented on #50
Hmm, this is strange. I'm not sure off the top of my head what the culprit here may be. To answer your question, yes other packages could interfere I suppose if you were using something like eslint's fix-on-save feature, but I'm not sure why that would cause this.

[2017-02-16 04:19] ryancole opened #52 "Add support for jsxBracketSameLine"
There's a new option for JSX, `jsxBracketSameLine`.

https://github.com/jlongster/prettier/pull/661/commits/7c3d77e4867e5defb3c5d6362dba597897d2dbf1

[2017-02-16 08:02] robwise commented on #52
Yep, see https://github.com/jlongster/prettier-atom/pull/51

[2017-02-17 00:44] #52 closed

[2017-02-20 23:40] tacomanator commented on #41
@robwise that would definitely help. I haven't thought of a better way either.

[2017-02-21 09:59] faassen opened #54 "format on save doesn't show error messages anymore"
Previously if I had a syntax error in my code prettier would show me an error popup in red that indicated what I've been doing wrong.

But a few updates ago it stopped doing this. I noticed the new "On format on Save, don't show error message" option, which is disabled. It's absent in config.cson.

I do see the syntax errors in the development console.

I really miss the error messages.

[2017-02-21 10:52] robwise commented on #54
@faassen You should still be getting errors on the latest build. Have you updated your package to the latest version?

Here is how the feature works:

![demo of prettier error message suppression](https://cl.ly/1D0M0h241A3a/Screen%20Recording%202017-02-21%20at%2005.51%20AM.gif)

[2017-02-21 10:52] #54 closed

[2017-02-21 12:41] faassen commented on #54
Yes, I am on 0.18.0. "Format on save" is on, "On format on Save, don't show error message" is off.

If I don't introduce syntax errors in my code it formats as before. But if I have a syntax error, I don't get the red popup anymore. It used to work as you demonstrate for me. Sometime last week, it stopped working.

I can see the syntax error reported in the Atom dev tool console, but that's it. Th

[2017-02-21 13:45] robwise commented on #54
Doh! I hadn't released the fix for this (#53), my apologies. I just published it.

[2017-02-22 11:08] #2 closed

[2017-02-23 12:26] darahak commented on #43
Why not both?
I think this could be fixed by a `Use global installation` setting, like in the `linter-eslint` package.
And the blacklist could solve [prettier#787](https://github.com/prettier/prettier/issues/787) for example

[2017-02-24 07:04] robwise opened #57 "Merging prettier-eslint-atom repo"
@jlongster Kent Dodds has agreed that we can merge the [prettier-eslint-atom](https://github.com/kentcdodds/prettier-eslint-atom/issues/28) repo in here and just default Eslint to being off. I will have to do a bunch of work to get integrate the two and then I wanted to set up some automated testing. That way it's less code to maintain. I also wanted to turn on some integrations such as Travis CI

[2017-02-24 15:41] jlongster commented on #57
Definitely willing to, just need to find time to figure out the github permissions stuff to transfer things to the org. Will try to find time today. Sounds exciting, thanks!

[2017-02-24 23:24] darahak commented on #50
It looks like this one: https://github.com/prettier/prettier/issues/648

[2017-02-25 07:23] robwise commented on #50
@darahak Does that mean we should close here and that it's actually a prettier issue?

[2017-02-25 21:51] darahak commented on #50
@robwise Yes, I will follow this other issue instead. We can always re-open if necessary.

[2017-02-25 21:51] #50 closed

[2017-02-27 18:08] Anthonyzou commented on #41
I just had this exact issue recently. It would be nice to ignore `souce.min.js` type files.

[2017-02-27 19:55] robwise commented on #41
I'm currently work on a PR that will integrate `prettier-eslint-atom` where I wrote this feature, so stay tuned!

[2017-02-28 13:09] robwise commented on #57
FYI for other readers: https://github.com/prettier/prettier/issues/758

[2017-02-28 14:54] jlongster commented on #57
We moved the other repo but you all are going to merge into this one, right?

You should have access to move this repo over, so you all can do whatever you want!

[2017-02-28 17:23] robwise commented on #57
@jlongster I have access to the org but not to this repo specifically as admin?

[2017-03-01 14:08] garth commented on #54
Now there is no way to turn error on save off, checked or unchecked the error is always displayed.

[2017-03-01 14:21] keul opened #58 "Issue with eslint and JSX"
On a react.js project with eslint atom plugin configured, if I use the prettier format I get this code:

    return [
      (
        <div>
          <input
            type="checkbox"
            name="invalidateCache"
            id={uniqueId}
            onChange={this.onInvalidateCache}
            checked={this.props.workflowDataStorage.cacheInvalidation}
          />
          <label htmlFor

[2017-03-01 14:40] robwise commented on #58
@keul I am currently working on integrating `prettier-eslint` into this repo. Until that's ready, I would check out https://github.com/kentcdodds/prettier-eslint-atom

[2017-03-01 14:40] #58 closed

[2017-03-02 13:44] note89 opened #59 "Select bin file from repo"
When running this plugin you are stuck with the version bundled with the package.
Would be great if one could use the version installed in `node_modules`.

Now i get a diff from running prettier via the command line and the atom package

[2017-03-02 14:45] robwise commented on #59
Hmm, this is a great point. I am currently doing a big refactor but I will definitely plan on implementing this somehow.

[2017-03-02 15:42] negebauer opened #60 "Option for colon insertion"
I don't like having `;` at the end of each line, which this beautifier forces.
It would be good to have it as an option that can be turned off

[2017-03-02 15:47] robwise commented on #60
@negebauer If you want this to be an option in [prettier](https://github.com/prettier/prettier) itself, please make an issue there.

Also, not sure if this interests you, but I will be soon merging in the [prettier-eslint-atom](https://github.com/kentcdodds/prettier-eslint-atom) repo, in which case if you use ESlint, you can make sure your semicolon ESLint rule is configured and it will automatica

[2017-03-02 15:47] #60 closed

[2017-03-02 15:50] negebauer commented on #60
@robwise Nice, the eslint will do
I'm actually running lint --fix before committing as a workaround

[2017-03-05 14:16] robwise opened #62 "Whitelist Globs"
Feature request from @kentcdodds to add an option for whitelisting certain globs. I'm thinking that these would take priority over both the blacklist and the scopes, so we check the whitelist first, and if the globs match the file, we go straight to executing.

[2017-03-05 15:00] kentcdodds commented on #62
Sounds great to me

[2017-03-05 15:03] kentcdodds opened #63 "Disable fix on save from linter-eslint?"
Is it possible to disable linter-eslint's fix unsaved from this plugin when people choose fix on safe in this plugin?

[2017-03-05 15:27] robwise commented on #63
Yes, I think so. One of the things I've seen other packages do is show a warning dialog if it detects both options are enabled at once. That might be a more preferable way to do it because otherwise, you are going to get weird edge cases. For example, if we disable ESlint's autofix, then the user disables prettier-atom, should we turn the ESlint autofix back on? How do we remember whether they had

[2017-03-05 15:50] kentcdodds commented on #63
Good point. Probably a warning would be good

[2017-03-05 16:10] robwise commented on #57
@jlongster okay, merged in the new changes. We're all set. I know you're busy, but when you've got time, can you set me up with whatever it is so that I can turn on CI and stuff like that?

Also, just a heads up that I am going to disconnect the semver of this repo with prettier so that we have more flexibility with releases (sometimes I have bugs and stuff that I need to get released even when th

[2017-03-05 17:08] robwise commented on #63
Fixed in https://github.com/jlongster/prettier-atom/pull/64

[2017-03-05 17:08] #63 closed

[2017-03-05 17:40] kentcdodds opened #66 "Update the gif"
I expect a majority of users using prettier wont enable the eslint integration. Perhaps we could have a main gif at the top and then another one further down where we talk about the eslint integration?

[2017-03-05 19:54] ryancole opened #67 "Uncaught TypeError: Path must be a string. Received null"
[Enter steps to reproduce:]

1. Honestly, I'm not sure. I'm simply saving a `.js` file, with format-on-save enabled. This was working like 10 minutes ago but is no longer working. After receiving the error a first time, I was prompted to updated Atom. I updated Atom and am still getting the error.

**Atom**: 1.14.4 x64
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Pro
**Thrown From**: [prettie

[2017-03-05 20:05] skevy commented on #67
This is happening to me as well. It started occurring upon upgrading prettier-atom to 0.21.0

[2017-03-05 22:13] thomasbrueggemann commented on #67
Same here.

[2017-03-05 22:45] robwise commented on #67
I'm on it!

[2017-03-05 23:18] thtliife commented on #67
@ryancole & @skevy if you just create an empty .eslintignore file in your project, the error goes away...
just a dirty workaround until @robwise fixes this...

[2017-03-05 23:20] #67 closed

[2017-03-05 23:20] thtliife commented on #67
Wow @robwise that was FAST!
Loving this package btw.... :)

[2017-03-05 23:25] robwise commented on #67
@thtliife @ryancole @skevy I just released a new version that hopefully addresses the bug. I apologize; I had to change a bunch of stuff under the hood when integrating prettier-eslint and this bug crept in.

Could you update to the latest and verify that it fixes your use cases? I was able to reproduce locally and then my fix seemed to resolve it, but I just want to make sure you're all set.

So

[2017-03-05 23:28] robwise commented on #28
After merging prettier-eslint we're adopting the [commitizen](https://github.com/commitizen/cz-cli) + [cz-conventional-changelog](https://www.npmjs.com/package/cz-conventional-changelog) we should be able to auto-generate one. I just need to figure it out.

[2017-03-06 01:47] ryanhomer commented on #67
I'm getting the same issue on version 0.21.1 but an empty `.eslintignore` does the trick.

[2017-03-06 02:51] robwise commented on #67
Okay, was a double bug, fixing that now

[2017-03-06 03:11] robwise commented on #67
I was able to reproduce the eslintignore problem as well and wrote a fix that seems to resolve it. I got thrown off because I actually encountered and fixed an unreported bug the first time. This should now fix the actual bug you were describing. I just published 0.21.2. Can someone confirm the problem is solved?

[2017-03-06 04:59] thtliife commented on #67
Confirmed fixed in v0.21.2
Thanks for the fast work @robwise :)

[2017-03-06 06:17] skevy commented on #67
Thanks @robwise for the quick turnaround!!

[2017-03-06 09:15] silvenon opened #71 "ESLint Integration option shouldn't crash without ESLint config"
I have one project which uses ESLint and the other one which doesn't, but I want to cover both without having to switch the "ESLint Integration" option on and off. I suggest altering the behavior of it to not crash without ESLint config, but instead to fall back to regular prettier.

What do you think?

[2017-03-06 13:48] aaronshaf opened #72 "trailingComma validation error"
Version: 0.21.2

My config.cson has:

[code]

Error:

[code]

[2017-03-06 15:48] robwise commented on #71
Yeah absolutely, we should do this. I would almost consider it a bug. Do we need an option like `Fallback to prettier if no ESlint configuration found`?

[2017-03-06 15:51] robwise commented on #72
@aaronshaf It looks like you've got old options set in there, I would wipe those and use the settings menu to repopulate your config.

[2017-03-06 15:53] silvenon commented on #71
I don't think the option is necessary, it's very intuitive and in my opinion always desired behavior. Unless there's an edge case that I'm overlooking.

[2017-03-06 16:00] robwise commented on #71
@silvenon I was thinking that it might be confusing if they check "ESlint Integration" and then we don't actually do the integration in some cases, but I can just maybe add that in the description and skip the option?

[2017-03-06 17:05] silvenon commented on #71
That would make sense to me, yes.

[2017-03-06 17:14] kentcdodds commented on #67
Thanks @robwise! Take care of yourself :)

[2017-03-06 17:26] kentcdodds opened #73 "Apply excludedGlobs"
:wave: hi! Unless I'm missing something `excludedGlobs` isn't actually being applied anywhere...

[2017-03-06 17:48] aaronshaf commented on #72
Where can I find the old options?

[2017-03-06 18:21] robwise commented on #72
In your `config.cson`, it still is listing the old options. I would delete those manually. Then I would go to Preferences -> Packages -> prettier-atom and set the new settings there. Let me know if that works.

[2017-03-06 18:26] aaronshaf commented on #72
I did that and it did not work. I ended up deleting the entire `.atom` directory, still no cigar.

[2017-03-06 18:29] robwise commented on #73
*sigh* 3rd bug. I'm on it!

[2017-03-06 18:30] robwise commented on #72
Can you screenshot your settings page for prettier-atom and show me which option you have selected for `Trailing Commas`?

[2017-03-06 19:43] aaronshaf commented on #72
https://cl.ly/2m0r0l1T211y

https://cl.ly/2Z3O0D3o0F3o

It's set to "none".

[2017-03-06 20:14] #73 closed

[2017-03-06 20:16] robwise commented on #72
@aaronshaf Hmm, this is a very strange bug, it seems like your old config settings are still there. I'm not really sure what's going on, but I am going to try something weird and see if it fixes your issue.

[2017-03-06 20:29] kentcdodds commented on #73
Thank you!

[2017-03-06 20:37] #28 closed

[2017-03-06 20:53] robwise commented on #72
@aaronshaf Please let me know if the latest version fixes this issue for you.

[2017-03-06 20:54] aaronshaf commented on #72
I tried 0.21.3. Unfortunately... same issue :-(

[2017-03-06 20:59] robwise commented on #72
@aaronshaf Ugh, sorry man. Okay, so if you manually delete those options from your `config.cson`, then restart atom, they come back again? Or do they stay gone from the config?

Is anyone else having issues like this? Maybe we can figure out a common thread between environments and that will point towards what the cause is.

[2017-03-06 21:14] aaronshaf commented on #72
That worked! Thank you so much.

[2017-03-06 21:14] aaronshaf commented on #72
Users will have to delete the relevant section of `config.cson` and restart.

[2017-03-06 21:17] aaronshaf commented on #72
Drat, sorry. False positive. Once I re-enabled eslint integration, same issue.

[2017-03-06 21:21] robwise commented on #72
When you re-enable the eslint integration, the old values come back and put themselves into your `config.cson` again?

[2017-03-06 21:22] aaronshaf commented on #72
New config.cson:

[code]

[2017-03-06 21:28] robwise commented on #72
So, you delete the old options from your `config.cson`, then it works. Then you uncheck and check the ESlint integration option, and although the old options don't reappear in your config, you get an error about the trailing comma being a string instead of a boolean again? Except now there's nothing to delete?

[2017-03-06 21:29] aaronshaf commented on #72
It looks like it never worked when eslint integration was enabled for the plugin.

[2017-03-06 21:45] robwise commented on #72
Shoot, I can't think of what the problem may be here.

[2017-03-07 00:54] tbillington opened #78 "HTML Errors"
Prettier-atom runs over html files when saving, causing errors on script tags.

Sample:
[code]

Error:
[code]

[2017-03-07 00:58] robwise commented on #78
Will fix, for the time being, I suggest taking `text.html.basic` out of your scopes

[2017-03-07 03:40] 0xCMP opened #79 "Uncaught TypeError: Cannot read property 'path' of null"
[Enter steps to reproduce:]

1. Make a new buffer/file
2. Type a few letters
3. Try to say the file somewhere

**Atom**: 1.14.4 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.11.6
**Thrown From**: [prettier-atom](https://github.com/jlongster/prettier-atom) package 0.21.3

### Stack Trace

Uncaught TypeError: Cannot read property 'path' of null

[code]

### Commands

[code]

### Non-Core Packages

[c

[2017-03-07 04:35] #79 closed

[2017-03-07 07:17] dgcoffman commented on #72
I having a similar problem where commas are inserted always regardless of what the setting is. In addition, ESLint is not running fix.

I have deleted the relevant section in my config.cson and re-created it from the settings, no change.

config.cson now has
[code]

Yet commas are inserted and eslint is not run. Double-quoted strings _are_ changed to single-quoted strings, so prettier is definitel

[2017-03-07 16:43] robwise commented on #78
@transcranial Do you have any insight into what's going on here? It seems like if the script tags are on the same line, it errors?

[2017-03-07 17:18] robwise commented on #72
@dgcoffman I checked that repo using prettier-eslint's CLI directly and the bug still happens, so this is a prettier-eslint error. Can you make an issue over at https://github.com/prettier/prettier-eslint?

In the meantime, I noticed that, for some reason, adding this to the end of your .eslintrc stops the bug from happening even though it's redundant to the eslint:recommended preset.

[code]

[2017-03-07 17:55] #62 closed

[2017-03-07 18:05] #66 closed

[2017-03-07 18:28] robwise commented on #41
@Anthonyzou @tacomanator We now have the ability to both whitelist and blacklist certain globs so I'm closing this for now. Maybe in the future we should add a keymap to toggle format on save on and off.

[2017-03-07 18:28] #41 closed

[2017-03-10 18:58] n1k0 commented on #59
This is a really important point, as many different versions may existing across one's repositories.

[2017-03-10 23:21] robwise commented on #57
@jlongster any word on this one?

[2017-03-13 00:49] pokorson opened #84 "Plugin disable not working"
Hi,

I'm not sure if its some atom core issue or plugin but It looks like disabling plugin doesn't work for prettier. With `format on save` enabled It keeps formatting my code even after I disabled plugin in settings.

Atom version 1.15.0
MacOS 10.12.3

[2017-03-13 01:20] robwise commented on #84
@pokorson Thanks for reporting this, I will look into it!

[2017-03-13 12:38] Belir opened #85 "Eslint config based prettying"
Hey, there is something wrong with reading eslint configuration I guess.

Greetings

[code]

[code]

used eslint configuration:
[code]

[2017-03-13 14:47] robwise commented on #85
Hey @Belir, thanks for reporting! It looks from the stack trace that this is coming out of prettier-eslint, so this might be an error with that package as opposed to the plugin. If you install the [prettier-eslint-cli](https://github.com/prettier/prettier-eslint-cli) and run it directly (instead of using atom-prettier), does it still happen?

[2017-03-13 15:04] Belir commented on #85
@robwise unfortunately yes, here's an output:
[code]

[2017-03-13 15:08] charypar commented on #59
@robwise Would you be interested in a PR making the change?

[2017-03-13 16:11] robwise commented on #59
@charypar Sure! Do you want to take a stab at it? I figure we should prefer to look for the user's version of it first, and if we don't find it, then use our own packaged version. The only trick is that what you're looking for depends on whether they have the eslint integration turned on or not (look for `prettier` if not, look for `prettier-eslint` if so).

[2017-03-13 16:12] robwise commented on #85
@Belir Okay in that case, can you post this over at that repo since it's not actually a problem with the plugin's code? I will close this since it's a prettier-eslint issue.

[2017-03-13 16:12] #85 closed

[2017-03-13 20:15] ryancole opened #86 "format-on-save seems to break plugins such as linter-eslint"
I'm here to report an unexpected interaction, between atom plugins, that I notice while using both prettier-atom and linter-eslint.

If you enable prettier-on-save and save a document, it'll cause linter's inline error highlighting and gutter icons to break. They'll disappear until you continue typing again, etc. I believe it's the prettier-atom plugin changing the text that causes the linter plug

[2017-03-13 21:01] robwise commented on #86
@ryancole Oh I've been noticing this as well, but couldn't figure out why it was happening.

True, but because we specifically have an ESlint integration, I think fixing unexpected `linter-eslint` problems should be considered in-scope for this repo. If it was some obscure unrelated package then I might be more wary of trying to fix it. I will mark this as a bug and hopefully come up with a fix so

[2017-03-13 21:02] steelbrain commented on #86
Just a side note that if you trigger the `linter:lint` command on the editor, it'll fix this issue for not just ESLint, but all of the linter providers

[2017-03-13 21:03] robwise commented on #86
@steelbrain roger that, good to know, I'll make sure to use that more generic command and not a linter-eslint-specific command

[2017-03-14 02:37] #86 closed

[2017-03-14 03:24] #84 closed

[2017-03-14 09:18] fredrikekelund opened #90 "editorconfig integration"
Hi, thanks for a very neat project! Looking forward to using it more.

I noted quickly however that the `tabWidth` setting doesn't seem to pick up the value as I've configured it in my `.editorconfig` file (see http://editorconfig.org/ for more details on that project). Would be great if the `tabWidth: auto` setting could pick up the value from there – that would make for a very portable workflow!

[2017-03-14 17:13] robwise commented on #90
Hmm, this sounds like a bug, I'll look into it!

[2017-03-14 20:04] charypar commented on #59
That was my thinking too. I'll have a look at the complexity around `prettier-eslint` and try to have a first stab at it by the end of this week. Thanks for the pointers!

[2017-03-15 20:41] artembloom opened #91 "[HELP] semi rule in atom"
Hello!
I have this eslint config:
[code]

As you can see  "semi": ["error", "never"]
I set ESLint integration in settings and Format on Save
Everything is doing fine, but sometimes prettier adds semi in the end of expression. Not everywhere, i find it on object statements or similar like this (react component class)

[code]

in

[code]

How can I fix it? Or is this a bug?
Thanks a lot.

[2017-03-16 03:57] robwise commented on #91
Hey @artembloom, can you do me a favor and check if you do the same thing with the [prettier-eslint-cli](https://github.com/prettier/prettier-eslint-cli) tool on that file? If it still happens, then this is an error with that library and not this plugin as we just call that under the hood.

[2017-03-16 09:52] Willibaur opened #92 "Object.extname is deprecated."
Argument to `path.extname` must be a string
[code]

[2017-03-16 11:35] artembloom commented on #91
Hey @robwise. The same result. And I find that it happens only in react component class on state and arrows functions as methods of class. This is example:

[code]

[2017-03-16 19:50] robwise commented on #91
@artembloom If you get the same result, that means it is a prettier-eslint bug and not a prettier-atom bug. Could you make an issue there since I can't fix it on this repo?

[2017-03-16 19:50] #91 closed

[2017-03-16 21:33] artembloom commented on #91
Yeah, sure!

[2017-03-19 14:25] aickin opened #93 "ESLint integration does not seem to use .eslintrc.js files."
First, thanks for all your hard work on prettier! In hopes of making it even better, I'd like to share an issue I found today.

**Short repro instructions:**

1. Clone the React codebase.
1. Open up the master branch in Atom and go to prettier-atom settings. Turn ESLint integration on and enable Format on Save. Leave all other settings as their defaults.
1. Add a space to any file of significant l

[2017-03-19 19:44] charypar commented on #59
@robwise I had a go and got it working using a dynamic `require`, but both eslint and flow are complaining about it and I'm thinking they are probably right - dynamic require does seem a bit iffy.

Would it be better to switch to using prettier through its CLI (similar to how linter-eslint works)? Prettier-eslint doesn't have a CLI, but as far as I can tell, it already does a local lookup (https:/

[2017-03-20 08:47] gustavnikolaj opened #94 "When formatting JSX single quotes option is ignored."
I am evaluating the tool on an existing code base. By coincidence, prettier matches the existing style except that it prefers single quotes and uses 4 spaces. So I changed those options in the editor plugin.

With settings `Single Quotes` enabled and `Tab Width` set to 4, the following code is changed from:

[code]

Into:

[code]

[code]

[2017-03-20 08:58] gustavnikolaj commented on #94
Turns out this is by design https://github.com/prettier/prettier/pull/126

[2017-03-20 08:58] #94 closed

[2017-03-20 14:45] rmetzler opened #95 "special chars in strings"
Prettier and Prettier-Atom do replace special chars like "äöüß" in Strings with another representation.

[code]
becomes
[code]

Is there a way to deactivate this behavior?

[2017-03-20 16:57] robwise commented on #59
@charypar It does, check this out: https://github.com/prettier/prettier-eslint-cli

It looks like prettier-eslint does a local lookup of eslint and prettier, but do you think we should also do a local lookup of prettier-eslint itself?

Well, I'm thinking everyone is going to have the normal package installed, but not necessarily everyone will have the CLI installed? I was thinking we would recursi

[2017-03-20 17:01] robwise commented on #95
@rmetzler Can you open an issue on the prettier repo? This plugin just calls prettier on the text under the hood.

[2017-03-20 17:01] #95 closed

[2017-03-20 17:04] robwise commented on #93
@aickin Thanks for reporting this! I think you're right, but I believe that this is a problem with prettier-eslint. Do you think you could report this same issue there? (You can tell by installing prettier-eslint-cli and running it on the code, and if it still has the problem, then it needs to be changed in prettier-eslint and not this plugin).

[2017-03-20 17:05] #93 closed

[2017-03-20 17:05] n1k0 commented on #59
Maybe I'm misunderstanding what you're saying, but the prettier CLI is part of the npm package, typically available in `node_modules/.bin/prettier`. So if people are setting their Atom project root at the same level, it's just matter of calling it with `exec`.

We should also lookup for a global installation (`npm i -g`) of prettier as a fallback, which would be the result of `which prettier`, tho

[2017-03-20 17:09] robwise commented on #59
Yeah but `prettier-eslint` and `prettier-eslint-cli` are separate.

In this other issue people are wanting it to just turn itself off in this case:
https://github.com/jlongster/prettier-atom/issues/43

I'm not sure which we should go with here.

[2017-03-20 17:11] n1k0 commented on #59
Ok I admittedly know nothing about these.

I like their idea of checking for a prettier dependency in `package.json`. I could totally see an option in the settings to enable or disable autopicking. Best of both world?

[2017-03-20 17:18] robwise commented on #59
Yeah I'd rather we have the option of what happens when we can't find prettier/prettier-eslint in your package.json. You can either use the version shipped with the plugin, or you can have nothing happen (and then drop the global concept)?

[2017-03-20 17:21] n1k0 commented on #59
It's easy saying as it's probably a bunch of work and a possible maintenance burden, but we could (should?) keep the current existing setup for people not having prettier installed at all.

[2017-03-20 18:09] charypar commented on #59
I'd agree with @n1k0 we should keep the bundled prettier option, so that you get some formatting even on a clean project (or even static browser scripts with no npm). We could support the ask #43 as a config option, e.g. "Do nothing when there is no local Prettier" defaulting to false?

I think using local prettier through the CLI route is probably generally a cleaner option: as @n1k0 pointed out,

[2017-03-20 23:33] robwise commented on #59
I think we should try and avoid double negatives ("do nothing is false"). So I would word it as "Fallback to packaged version of prettier/prettier-eslint if no local module is found" or something to that effect.

I think we're making an assumption here. If we are going to have it work one way for prettier, we should have it work the same way for prettier-eslint. We do get bugs here all the time fo

[2017-03-21 00:19] tacomanator opened #96 "Only current file formatted on save all"
I'm often tripped up by the fact that only the current file is formatted when doing a Save All. Other files that have changed are saved, but are not touched by prettier-atom. Is this something you've considered addressing, or even possible to be addressed?

[2017-03-21 00:55] robwise commented on #96
Hey @tacomanator, no I hadn't considered that as I just personally haven't ever used that functionality. I don't have a problem with addressing this scope-wise, but I would need to look into if and how this could be addressed and how big of a change it would be.

[2017-03-21 00:58] robwise commented on #92
@Willibaur if you install `prettier-eslint-cli` and run it on the same file, do you get the same error?

[2017-03-21 01:11] robwise commented on #57
@jlongster it would be really cool if I could turn on CI and code coverage

[2017-03-21 05:06] tacomanator commented on #96
I see. It's useful on projects using some sort of live reload. It's usually desirable to save all at once when making a change that spans multiple files, to avoid a premature reload. If it's doable, that would be 👍

[2017-03-21 10:17] rmetzler commented on #95
Thank you, I opened jlongster/prettier-atom#95 as suggested.

But if there is a code change in prettier which adds a commandline switch to change behavior, there would be changes needed in prettier-atom too.

[2017-03-21 12:50] blainekasten commented on #43
I'm with @mxstbr here. I came here to raise this issue. Glad to see I'm not the only one facing this. I personally do not create a new repo every day, but I'm even just thinking organizationally as I try to introduce prettier to my company, asking every person in the company to set up their blacklist creates friction points to adoption.

[2017-03-21 15:24] ewdave opened #97 "Uncaught TypeError: runLinter is not a function"
So I just updated my Prettier package on Atom, and when I tried formatting a codebase, I get a "runLinter is not a function" error. Code rightly formatted, though, but not sure this is something I should ignore

`Uncaught TypeError: runLinter is not a function`

[code]

[2017-03-21 16:41] jlongster commented on #57
@robwise I'm so sorry! I was traveling over the past 2 weeks and not checking notifications too closely. I forgot that we haven't moved this over yet. I can move this repo and then since you have org access I believe you should have more control over it. Sound good?

[2017-03-21 17:37] charypar commented on #59
Yes, sorry I didn't intend to suggest that as the actual copy :) "Fall back to packaged version" is much better.

What I was trying to point out with `prettier-eslint` is that I doubt people would install it in their project as a standalone tool to use in CI or git hooks and thus hit the problem of version mismatch between their scripts and Atom. That's how I understand this issue: your project ha

[2017-03-21 18:42] robwise commented on #95
@rmetzler Roger that, let me know if such a change is made and I will reopen to support it

[2017-03-21 18:49] robwise commented on #59
I have two projects where I do exactly this (well, I use `prettier-eslint-cli` that is, not `prettier-eslint` directly). I'm not getting why you would do it for prettier but not prettier-eslint, they're the same use case?

Either approach is fine with me, although I'm not really clear on what the pros/cons are.

[2017-03-21 18:50] robwise commented on #57
@jlongster sounds good! No worries!

[2017-03-21 18:56] robwise commented on #97
@ewdave hmm, this is very strange, can you try uninstalling and reinstalling the package and see if that makes any difference? This function is definitely there when I look at the dist files and I haven't been getting any problems or bug reports like this so far (although I did at the relevant code only 6 days ago).

[2017-03-21 21:16] robwise commented on #43
Sorry if I've been unclear on this, we are definitely going to get this addressed. Right now the plan is we are going to look for prettier/prettier-eslint (depending on your eslint integration setting), and if we don't find it, we will have an option in the settings where you can specify if you want us to fall back to the included packaged version or just not do anything. https://github.com/jlongs

[2017-03-22 09:13] charypar commented on #59
Oh, ok, I stand corrected. That makes for an even more interesting challenge - finding a project local `prettier-eslint` or `prettier-eslint-cli`'s `prettier-eslint`.

I suppose the question really is how likely is a version mismatch between bundled and local versions of those packages to give a different output vs. how likely are different prettier version. From my perspective `prettier-eslint` i

[2017-03-22 11:40] IljaDaderko opened #98 "Disabling prettier in specific projects?"
Hi,

I've started using prettier in my personal projects and it is really helping out with code formatting. I am using atom package and have following problem.

As it is my main editor I also use it for my work where we haven't currently introduced prettier, as I have it configured to format on save it causes lint errors in work project, hence I need to enable and disable the package when switchin

[2017-03-22 15:08] jlongster commented on #57
This has now been moved! :) Sorry for the wait.

[2017-03-22 15:09] jlongster commented on #57
@robwise Can you check and see if you have perms to set up CI and such now?

[2017-03-22 18:20] robwise commented on #57
@jlongster not yet, I think you need to give me admin perms for this repo?

[2017-03-22 18:27] robwise commented on #59
@charypar Okay, good arguments. How about for now then, we go with your way and we don't worry about finding the prettier-eslint bin if the user is using the eslint integration. Then maybe at some point in the future, if we have enough reason, we can think about adding that.

Great table! If you're willing to do the CLI implementation, then it sounds superior to me. Thank you so much for your help

[2017-03-22 18:28] robwise commented on #98
@IljaDaderko Currently your options are limited to using the whitelist globs or blacklist globs. So, the idea being you put matching globs for your projects in there.

However, we are currently working on getting the ability to choose not to format with prettier/prettier-eslint if we can't find it in your package.json (https://github.com/prettier/prettier-atom/issues/59), so that may be an attract

[2017-03-22 18:28] #98 closed

[2017-03-22 18:28] jlongster commented on #57
Oh, I thought you already had that, just fixed!

[2017-03-22 18:29] robwise commented on #57
@jlongster Awesome!! All set! I will get to work getting CI set up now!

[2017-03-22 18:31] #57 closed

[2017-03-22 18:35] robwise commented on #71
The more I think about this one, the more I think we should probably implement this in prettier-eslint itself. I will look into that.

[2017-03-22 22:09] jaycetan opened #99 "Spacing between brackets"
Although I have the Bracket Spacing option set to true, formatting code removes space between brackets.

Before:
{ type: GraphQLString }

After:
{type: GraphQLString}

[2017-03-23 00:12] robwise commented on #99
@jaycetan do you have the eslint integration enabled?

[2017-03-23 09:30] ewdave commented on #97
@robwise It's now fine after a system restart. Thanks

[2017-03-23 09:31] #97 closed

[2017-03-23 12:05] charypar commented on #59
Ok, let's do that. Maybe we could track looking up the other packages as separate issues and see if they get traction?

I'm happy to do the CLI implementation, I'll try and check back with a PR soon. Thanks for your patience getting to the bottom of this!

[2017-03-24 23:44] robwise commented on #72
@aaronshaf Are you still encountering this? I believe it may actually be an error with atom and how it deals with changes to package settings, as I noticed similar problems when other packages changed their own settings API as well.

[2017-03-25 08:08] da-vaibhav opened #101 "Add a note for restarting atom after installation"
The settings panel is not shown if you installed the package via command line, although it shows entire ReadMe contents.
A note in the [installation](https://github.com/prettier/prettier-atom#installation) section should be added saying 'Please restart atom after package installation'. That would be helpful for quick start.

[2017-03-25 12:48] kentcdodds commented on #101
Could you [makeapullrequest.com](http://makeapullrequest.com)?

[2017-03-25 21:38] robwise commented on #101
Fixed in https://github.com/prettier/prettier-atom/pull/102

[2017-03-25 21:38] #101 closed

[2017-03-26 15:26] jefffriesen opened #103 "Jsx Bracket Same Line doesn't work?"
Does this work for people? I see the ticket closed [here](https://github.com/prettier/prettier-atom/issues/52) and the options in the settings

My settings are this:
<img width="629" alt="screen shot 2017-03-26 at 9 16 49 am" src="https://cloud.githubusercontent.com/assets/445733/24332541/68275958-1205-11e7-87ac-09280418852c.png">
<img width="590" alt="screen shot 2017-03-26 at 9 18 17 am" src="ht

[2017-03-27 01:59] robwise commented on #103
This is an atom bug unfortunately. The one without the description is sort of a "ghost" of a previous settings schema and isn't connected to anything.

I will check this out and report back!

[2017-03-28 13:30] michalkvasnicak commented on #99
I had this problem too. Disabling eslint integration fixed the problem.

[2017-03-29 00:57] robwise commented on #99
Okay closing for now

[2017-03-29 00:57] #99 closed

[2017-03-29 09:14] oriSomething opened #105 "Bookmarks are gone after running prettier format"
Bookmarks are gone after running prettier format.
I'm not sure if it's an **atom bug** with files that are updated by changes in the file system. But even if it's an Atom bug. We might need to consider to add a work around it.

![screenshots](https://cloud.githubusercontent.com/assets/2685242/24447159/b67278c0-1478-11e7-8a76-327a50520315.png)

[2017-03-29 09:28] darahak commented on #99
Is `bracketSpacing` supposed to work for both array and object literals?
It only works for curly braces as mentioned in prettier's `README.md`.

[2017-03-29 23:15] robwise opened #106 "Update "Bracket Spacing" Description"
Prettier changed the bracket spacing option to only affect curly braces and not square brackets (Arrays). We need to update that setting's description accordingly.

[2017-03-29 23:17] robwise commented on #105
@oriSomething Does this happen when prettier-atom is turned off and you turn eslint auto-fix on? If not, then I can look at the linter-eslint repo and try and reverse-engineer how they're working around this.

[2017-03-29 23:27] robwise commented on #99
Oh they must have changed that at some point, we should update our settings description, added here: https://github.com/prettier/prettier-atom/issues/106

[2017-03-30 05:03] oriSomething commented on #105
Yes, with `linter-eslint` the bookmarks stay in place.

Thanks

[2017-03-30 05:14] robwise commented on #105
Okay I will see if we can't reverse-engineer what they're doing

[2017-03-30 20:31] souporserious opened #107 "better guide on usage with eslintrc"
First off, thank you for such an amazing plugin! Sorry if this is trivial and I'm misunderstanding things, but it seems that just adding an `.eslintrc` file like in the [README](https://github.com/prettier/prettier-atom#usage) does not work for me. If I run `eslintrc --init` and have it create a file, everything seems to work fine. I guess I'm just not sure what is required to run `eslint` alongsi

[2017-03-30 20:52] darahak commented on #99
Yup, that was discussed in https://github.com/prettier/prettier/issues/296

[2017-03-30 21:00] souporserious commented on #107
Sorry 😅  I believe it was because I'm using `es6` code, by adding:
[code]
everything seems to work as expected. Maybe it can be referenced in the docs or something?

[2017-03-30 21:10] souporserious commented on #107
Ok, so I tried starting a new project with just my `.eslintrc` and a `foo.js` file and it didn't work, so I guess back to my original question 😓

[2017-03-30 21:42] darahak opened #109 "Obsolete info in CONTRIBUTING.md"
In `CONTRIBUTING.md`, there is a link to a `ROADMAP.md` in the last section, but it doesn't exist.
I'm not sure how you want to rephrase it, just wanted to let you know.

[2017-03-31 00:44] robwise commented on #107
Can you be a bit more specific?

[2017-03-31 00:45] #106 closed

[2017-03-31 01:53] souporserious commented on #107
Sorry 😞  I don't think I was understanding eslint correctly. It seems that depending on what style of Javascript I'm writing it works or doesn't. Right now if I'm missing some option or a plugin, eslint seems to fail silently and it falls back to the regular Prettier options.

[2017-03-31 05:58] #107 closed

[2017-03-31 07:10] #109 closed

[2017-03-31 07:12] robwise commented on #92
Closing due to lack of response and not able to reproduce, pls reopen if you have more info.

[2017-03-31 07:12] #92 closed

[2017-03-31 07:16] robwise commented on #103
@jefffriesen I just checked and this is because prettier only keeps the `>` on the same line if it's a non-self-closing tag.

[code]

[code]

[2017-03-31 07:16] #103 closed

[2017-03-31 07:17] #72 closed

[2017-03-31 08:46] robwise opened #111 "Manual format is broken"
It appears we regressed somewhere as this doesn't seem to work for me, whether invoking via the keyboard shortcut or using the commands menu.

[2017-03-31 13:17] jefffriesen commented on #103
Ok, got it. I didn't realize that. I'm not crazy about that decision, but that's the beauty of prettier - I can learn to stop caring and just submit!

Now at least I know it's not a bug.

[2017-03-31 21:24] souporserious commented on #107
Is it possible a warning can be thrown when that happens?

[2017-04-01 17:09] anback opened #112 "Atom-Prettier is not paying attention to eslint max-len rule configured per file"
Hi!

Super great work with atom-prettier! Lovin it!

See screenshot. When i configure the max-len rule like this atom-prettier does not care. It does work when i configure a max-len rule in .eslintrc.

With "work" i mean it respects the max-len rule and format the code accordingly

![image](https://cloud.githubusercontent.com/assets/2440382/24580781/a48216aa-170e-11e7-8e87-ad287517ffc8.png)

[2017-04-01 23:54] robwise commented on #107
I don't think that's actually what's going on though, in fact people are complaining about the fact that we _aren't_ doing this: https://github.com/prettier/prettier-atom/issues/71

[2017-04-02 00:04] robwise commented on #112
@anback Can you make an issue over at `prettier-eslint`, this is just the plugin that runs that in atom so we can't actually change this from this repo.

[2017-04-02 00:04] #112 closed

[2017-04-02 05:27] souporserious commented on #107
Dang, I thought that was it 😕. Any idea what might be causing it?

[2017-04-02 08:59] robwise commented on #107
I'm still not sure what the problem you're having is. Can you give me an example of:

1. a short snippet of code before running prettier
2. the code after running prettier
3. an explanation of what you had expected to see instead of #2
4. your eslintrc

[2017-04-02 09:21] robwise commented on #111
nvm, was pressing the wrong key lol

[2017-04-02 09:21] #111 closed

[2017-04-02 09:27] robwise commented on #105
@oriSomething I checked and eslint's fix on save _does_ remove bookmarks:

![](https://cl.ly/110y0F1c0i08/Screen%20Recording%202017-04-02%20at%2005.25%20AM.gif)

I'm not really sure how to get around this because now there's the question of what was I trying to bookmark on that line and where did it go, and that requires a lot more intelligence. If you want to take a crack at it, that would be awe

[2017-04-02 09:28] robwise commented on #34
While cool, this isn't really possible to code because it would require some advanced code intelligence and would be too difficult. That being said, if anyone wants to take a crack at it and submit a PR, that would be awesome. Closing for now.

[2017-04-02 09:34] oriSomething commented on #105
Leave it open. I'll try to address this, though I think the checkbox of this setting will have the title "Experimental"

[2017-04-02 09:38] robwise commented on #105
Oh okay, awesome!

In the meantime, I'm going to cut a release because we just merged #113 which will probably help with removing bookmarks unnecessarily if the text isn't changed (if that was happening).

[2017-04-02 09:54] #49 closed

[2017-04-04 14:19] dnehring commented on #72
I just updated prettier-atom and get the same error as Aaron.

[2017-04-05 05:24] robwise commented on #72
What version were you on prior to updating?

[2017-04-07 13:28] spudly commented on #72
Similar error here. prettier-atom will not respect my settings (commas, line-length, etc.) while eslint integration is turned on. I think it's falling back to the defaults or something.

[2017-04-10 01:35] robwise commented on #72
@spudly This is the intended behavior, if you want it to use the prettier settings you chose and not the eslint settings, you need to turn the eslint integration off

[2017-04-10 06:32] crucialfelix opened #115 "Parses markdown, throws errors"
I'm not sure why it would try to parse markdown files.  There are no code blocks in the files either.

[code]

my scopes are default:
source.js, source.jsx, source.js.jsx, source.babel, source.js-semantic, text.html.basic, text.html.vue

Lovely package, thank you so much for this !

[2017-04-10 13:20] spudly commented on #72
@robwise So in my setup, I've disabled all style configs for eslint because I want prettier to handle style (I only want eslint to fix errors / bad practices). I don't have any configured line-length or comma rules in my eslint config because I want prettier to handle that.

Let's take line-length for example. I would expect it to look at the `maxlen` eslint rule first. If it's configured, use the

[2017-04-10 14:26] robwise commented on #72
I don't think this is going to be possible to do from this plugin, because the detection of the ESlint rules and whether they are defined or need to fall back is all done by prettier-eslint, not this atom plugin?

[2017-04-11 11:49] spudly commented on #72
@robwise,

I spent some time digging through the code, and it looks to me like we should be sending the configured options to `prettier-eslint`. It will then behave as expected.

`prettier-eslint` takes a `prettierOptions` option. See https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L47

If `prettierOptions` is specified, it uses the prettierOptions configured by the user. Othe

[2017-04-11 14:30] robwise commented on #72
@spudly Can you elaborate on the use case for this? Why would you want to add trailing commas with prettier, for example, if your eslint config is set to not add trailing commas? The original intent was that if you are going to use the ESlint integration, then prettier-eslint "just works" by picking up your configuration from the ESlint config. This way, as you switch to different projects with di

[2017-04-11 14:49] spudly commented on #72
@robwise

My use case is this: I want eslint to handle warnings and errors (possible bugs), while prettier makes the code look pretty.

To that end, I:
* have no style rules enabled in my eslint config
* created #110 (merged) to run prettier after eslint (not before)

Unfortunately, the prettier options I specify in the plugin settings are not respected because they are not passed on to `prettier-

[2017-04-11 14:52] robwise commented on #72
Oh okay, now I see. Yeah so maybe what we should do is add a boolean flag like you say to the `prettier-eslint` options section of the settings that you made in #110 and we default this to off. If we detect it's true, then we pass the prettier options on to ESlint?

[2017-04-11 14:58] spudly commented on #72
Sounds good to me.

[2017-04-13 15:03] tleunen opened #117 "A way to enable/disable prettier via the command menu"
Currently, the only shortcut we have is `format`. But it would be great to have a way to quickly enable/disable prettier.

Asking because I switch from project to another and not all of them use prettier so I have to enable or disable it manually.

![image](https://cloud.githubusercontent.com/assets/1972567/25010598/77f016ae-201f-11e7-9657-a68b139d4903.png)

[2017-04-13 16:07] robwise commented on #117
Yeah, I think this is a good idea!

[2017-04-13 16:08] robwise commented on #59
This is implemented in #104

[2017-04-13 16:08] #59 closed

[2017-04-13 23:04] buunguyen opened #119 "eslint --fix doesn't run even when ESLint Integration is enabled"
Plugin version: 0.27.0. Atom version: 1.16.0.

I have both this plugin and `linter-eslint`. After disabling "Fix errors on save" in `linter-eslint` and enabling ESLint integration in this plugin, saving doesn't seem to run the eslint formatting. Enabling "Fix errors on save" in `linter-eslint` will make it work correctly but that's clearly not an ideal thing to do.

[2017-04-14 00:31] robwise commented on #119
@buunguyen does it run the prettier formatting at least?

[2017-04-14 00:34] buunguyen commented on #119
Yes it does run prettier. My specific test is I have an eslint rule that disallow `var`, so `var` should be converted to `const` or `let`. With "Fix errors on save" of `linter-eslint` disabled, that conversion doesn't take place, although the code gets formatted by prettier. When enabling the option, the conversion happens.

[2017-04-14 00:38] robwise commented on #119
Hmm, this is very strange. I'm not really sure what would be causing this 😕

[2017-04-14 00:40] buunguyen commented on #119
Is there anything I can do to help debug the issue?

[2017-04-14 00:52] robwise commented on #119
Well, if you put a `console.log` right above this line: https://github.com/prettier/prettier-atom/blob/master/src/executePrettier.js#L33 (and then rebuild) and then start atom in development mode, does it hit that log? If not, then that means that it's not even running prettier-eslint for some reason.

[2017-04-14 13:54] transcranial commented on #78
@robwise Hey sorry, didn't see this until now. Just made a pull request that should fix this. #123

[2017-04-14 18:00] lowmess opened #124 "Add semicolon option"
The ability to toggle semicolons was added in Prettier 1.0. This was the last thing stopping me from using prettier, and the only thing currently stopping me from using this!

[2017-04-14 19:58] mkeedlinger commented on #124
I love the idea of prettier! Just waiting for this.

:+1:

[2017-04-15 01:09] robwise commented on #124
Resolved by https://github.com/prettier/prettier-atom/pull/122, I'm cutting a release momentarily! Welcome to the party, once you start using this you won't want to go back!

[2017-04-15 01:09] #124 closed

[2017-04-15 09:36] FezVrasta opened #125 "spaces between curly braces not preserved"
If I have:

[code]

It changes it to:

[code]

Even if I have the "Bracket Spacing" option enabled.

[2017-04-15 10:37] kuba-orlik opened #126 "Add --use-tabs option support"
Prettier now supports `useTabs` option - it would be super nice to have a way to enable it in the package's config ;)

[2017-04-15 11:54] darahak commented on #126
Fixed by https://github.com/prettier/prettier-atom/pull/122

[2017-04-15 13:43] mkeedlinger commented on #124
Amazing! Thanks!

[2017-04-16 14:43] #126 closed

[2017-04-16 14:48] robwise commented on #125
@FezVrasta I can't reproduce:

![](https://cl.ly/2n2Q3G1C2f14/Screen%20Recording%202017-04-16%20at%2010.47%20AM.gif)

Do you have eslint integration on and it's picking up something in your eslint config? Are these braces inside of JSX code, to which this rule does not apply (prettier decision)?

[2017-04-16 14:56] slacktracer opened #129 "Max line length corner case?"
_Prettier_ then _eslint --fix_ then _max-len_ error.

The following code is perfectly formatted by prettier alone but when eslint _--fixes_ it the maximum line length rule is violated.

[code]

.eslintrc.js:
[code]

_--fixed_:
[code]

Is it even fixable? I mean, it's the fix that breaks it.

Is it the definition of irony...?

[2017-04-16 15:00] robwise commented on #129
@slacktracer It seems that your "before" code, although passing the line-length rule, would fail the `space-before-function-paren` rule. Enabling eslint fix adds the space and then causes the linelength validation to fail, but because eslint is run _after_ prettier, then prettier can't fix the linelength anymore. I'm not sure there's a real solution to this, but you may want to bring this up over

[2017-04-16 15:01] #129 closed

[2017-04-16 15:07] FezVrasta commented on #125
Nope, I'm not using JSX, this is my ESLint config:

[code]

[2017-04-16 15:56] slacktracer commented on #129
@robwise

Sorry. It was not clear to me that this repo is not the one responsible for the eslint integration.

Thank you very much anyway.

[2017-04-17 03:42] robwise commented on #125
Where's the bracket spacing rule? http://eslint.org/docs/rules/object-curly-spacing

[2017-04-17 06:42] lifeiscontent opened #131 ".eslintignore not ignoring when passed to prettier-eslint"
When running prettier-atom it doesn't seem .eslintignore is being used as it still runs on directories I've ignored.

[2017-04-17 07:05] FezVrasta commented on #125
Why do I need it? Prettier adds still spaces by default

[2017-04-17 15:01] robwise commented on #125
If you run prettier-eslint directly instead of through the atom plugin, does it still do it?

[2017-04-17 15:04] FezVrasta commented on #125
Yup, same problem. I guess it's `eslint --fix` that takes the default value of the rule and fixes them.

[2017-04-17 15:04] #125 closed

[2017-04-17 17:06] tleunen commented on #119
I'm having the same issue. It used to work, but since I updated to latest version this morning (0.28), it doesn't work anymore.

I'll try what you suggest when I get a chance @robwise

[2017-04-17 18:12] tleunen commented on #119
After all, I think it works for me @robwise. Tested in debug and the log is hit when added at the location you mentioned.

But I think there was a change recently around trailing commas and that's why I thought it wasn't running anymore

[2017-04-17 22:40] robwise commented on #119
Hmm, strange. So is everything working okay now?

[2017-04-17 22:43] robwise commented on #131
I can't reproduce, this does seem to work still for me. Do you have any more info than this? Or maybe make a PR where you can show it not working using the `tests/fixtures` directory?

[2017-04-18 15:57] blowery opened #133 ".eslintignore rules that start with ! cause nearly all files to be skipped"
for example, an `.eslintignore` with:
[code]

will cause all files to be skipped, because `minimatch` sees this as a negation rule and matches all files that are not `.eslintrc`. The intent is the same as `.gitignore`, "don't skip `.eslintrc.js`".

Note that eslint does not use `minimatch`, but instead uses https://www.npmjs.com/package/ignore. See https://github.com/eslint/eslint/blob/master/lib/

[2017-04-19 00:56] mrbarletta opened #134 "Code Folding lost after Format"
Thanks for the great tool!  we are very happy with it!

I was wondering if the code that is folded could be maintained after formatting the text.

thanks

[2017-04-19 01:46] robwise commented on #134
I'm not sure on this, the thing is, the folded line might be removed or joined with a previous line, or split into two, so there might not really be a way to know which line should still be folded

[2017-04-19 01:48] mrbarletta commented on #134
thats right! never thought of that so I guess its an incompatible dream :) thanks for your prompt answer!

[2017-04-19 01:48] #134 closed

[2017-04-20 22:14] darahak commented on #115
This could be solved if we use scopes on all formats, and not only formats on save.

[2017-04-21 02:19] liuzheng644607 opened #135 "custom iconfont format error in JSX"
before fromat:
[code]

after:
![image](https://cloud.githubusercontent.com/assets/8045477/25259936/aa36d7e4-267b-11e7-92e9-6472ea9a596d.png)

the icon code #xf3cc; change to 

[2017-04-21 02:28] robwise commented on #135
@liuzheng644607 this seems like an issue with Prettier or prettier-eslint, this is just the atom plugin

[2017-04-21 02:28] #135 closed

[2017-04-21 06:04] shashanktomar commented on #131
I am also facing the same issue. My file is ignored by eslint plugin but is still picked by prettier.

[2017-04-21 12:50] lifeiscontent commented on #131
@robwise sorry, not entirely sure how to do that.

[2017-04-21 15:03] jelder opened #136 "Doesn't obey settings"
With Single Quotes off, Bracket Spacing on, Semicolons off the plugin converts this:

[code]

To this:

[code]

With those settings and that example, it shouldn't make any changes.

Version 0.28.0
![image](https://cloud.githubusercontent.com/assets/38099/25283446/cf07b90c-2681-11e7-9480-aa5e09e9c712.png)

[2017-04-21 18:45] robwise commented on #136
@jelder do you have eslint integration on?

[2017-04-21 18:47] robwise commented on #131
@shashanktomar this could be because we are using globs instead of the ignore patterns,  see https://github.com/prettier/prettier-atom/issues/133

[2017-04-21 19:16] jelder commented on #136
I do, and your implicit assumption that turning off eslint integration would fix my issue was correct. However, I would expect that the "Run Prettier Last" option would make Single Quote, Bracket Spacing, and Semicolons work again, but it does not.

[2017-04-21 19:28] robwise commented on #136
If you've got the eslint integration on, it's going to interpret your eslint settings into prettier settings regardless of which order prettier is ran.

I would suggest that if you are using ESlint, which is awesome, that you configure everything in the eslintrc and forget about having to set prettier settings manually. This way you do not have to worry about keeping prettier and eslint in sync an

[2017-04-21 22:22] darahak commented on #117
Do you want a toggle command just for `fix-on-save` or everything including `format`? (the shortcut would be inactive)

[2017-04-21 23:02] jelder commented on #136
Great. The ESLint rules I decided was close to my expectations with those three Prettier options is:

[code]

[2017-04-21 23:02] #136 closed

[2017-04-22 01:06] robwise commented on #117
I guess just fix-on-save?

[2017-04-22 01:27] #133 closed

[2017-04-22 01:44] robwise commented on #71
I'm going to close this because right now prettier-eslint does this automatically. Keep an eye out for this though: https://github.com/prettier/prettier-eslint/issues/72

[2017-04-22 01:44] #71 closed

[2017-04-22 01:45] robwise commented on #115
Wait, this is happening on manual invocation of `format` and not `format-on-save`?

[2017-04-22 01:45] robwise commented on #117
@darahak are you taking this one or just discussing? I can assign you if you want to take a stab at it?

[2017-04-22 01:46] robwise commented on #119
Closing, please reopen if you are still having an issue, I do want to help

[2017-04-22 01:46] #119 closed

[2017-04-22 01:47] robwise commented on #78
Fixed in #123

[2017-04-22 01:47] #78 closed

[2017-04-22 01:47] tleunen commented on #117
Yep, talking about this thing:
![image](https://cloud.githubusercontent.com/assets/1972567/25300392/fbaf4a88-26c2-11e7-834e-19d77269bd56.png)

[2017-04-22 06:51] crucialfelix commented on #115
It is actually happening  on first wave of a new file. Create a markdown or python file, write some stuff and then save. It opens a syntax error notification. It might be that scope of a new file isn't set yet until it completed saving.

[2017-04-22 06:52] crucialfelix commented on #115
So this is format-on-save

[2017-04-22 10:35] crucialfelix commented on #115
Create new markdown file.

[code]

Save it as `test.md`

Error thrown:

<img width="1377" alt="screen shot 2017-04-22 at 12 31 22" src="https://cloud.githubusercontent.com/assets/218738/25303662/0003d0f0-2758-11e7-92f3-d1ea532124d2.png">

Callstack:
[code]

[2017-04-22 10:40] crucialfelix commented on #115
The bug:

https://github.com/prettier/prettier-atom/blob/master/dist/helpers.js#L129

[code]
perhaps

[code]
but I have to test that. Not sure if I can find time to setup and do a PR but I will see.

[2017-04-22 13:12] darahak commented on #117
@robwise Yup, I'll take this one. Since I already added one command, this seems like a natural follow-up.

[2017-04-22 13:44] darahak commented on #115
Format on first save is supposed to be fixed on https://github.com/prettier/prettier-atom/pull/127
Can you try the latest version? (0.29.0)

[2017-04-22 21:44] tommoor commented on #72
I'm still seeing this issue with the latest version of prettier-atom, definitely not fixed.

[2017-04-22 23:39] robwise commented on #72
@tommoor A fix was never attempted. I'm pretty sure this is an Atom bug related to config schema changes.

[2017-04-23 02:50] robwise commented on #131
v0.29.0 is out which uses a glob matching library that is more similar to gitignore, can you guys check if this is still an issue? I will reopen if it is

[2017-04-23 02:50] #131 closed

[2017-04-24 07:06] markacola commented on #72
Just for anyone coming across this, my issue was a old version of prettier installed as a `devDependency` of the project I was working on, which expected `trailingComma` to be a boolean and was being passed the string `all`.
Should prettier-atom check that the version of prettier it will use is compatible with the options being passed?

[2017-04-24 11:20] FezVrasta commented on #117
I think it would make sense to have a dotfile on the project directory to enable it.

Doing so I can keep it always on and have it active only in projects that explicitly states they make use of it.

Alternatively you may read the package.json and enable it only if it is listed as dependency.

[2017-04-24 19:10] tommoor commented on #72
Thanks Mark, that's really useful - almost definitely the problem on my end
as I update the dependency much less often than the plugin, I'll try that
out.

On Mon, Apr 24, 2017 at 12:06 AM, Mark Cola <notifications@github.com>
wrote:

--
Tom Moor

http://tommoor.com
http://twitter.com/tommoor

[2017-04-25 09:19] crucialfelix commented on #115
yes, thanks !

[2017-04-25 09:19] #115 closed

[2017-04-27 15:18] gaearon opened #144 "Make "Format on Save > Enabled" more discoverable"
I participated in a workshop aimed at JS beginners yesterday, and Atom Prettier plugin was super helpful to beginners who aren’t feeling comfortable with JS formatting conventions 👍

One minor piece of feedback is that it’s easy to miss how to enable “Format on Save” in settings, because the checkbox just says “Enabled”. I guess the contrast of section heading might be different depending on the t

[2017-04-27 15:23] gaearon opened #146 "Show parsing errors inline"
I'm not sure if it's even possible, but another piece of feedback from using Prettier Atom with JS beginners is that the parser messages are a bit confusing. They appear as a popup and you have to spend mental energy mapping them back to your code. It would be amazing if the errors could be shown inline in code (does Atom have an error panel and APIs for adding errors to it?)

Apologies if this is

[2017-04-27 15:39] shashanktomar commented on #131
Thanks @robwise, will check it.

[2017-04-27 16:56] lionize opened #147 "prettier-atom not respecting line length"
**Version**: 0.29.0
**Prettier: Debug**: `'Uncaught Error: ENOENT: no such file or directory, open 'package.json'`

Hello! I am using `prettier-atom` for a project and it works great. It formats everything on save as expected and all of the options produce the expected output, except the line length option is not being respected. It doesn't matter what I set it to, it will still produce very long

[2017-04-27 21:12] robwise commented on #147
@lionize It could, yes, this is very strange. prettier-atom will attempt to find your prettier package if you have one and use this instead of its packaged version of prettier. I wonder if this is a bug or something?

[2017-04-27 21:13] robwise commented on #144
Awesome to hear! Hmm, I can see what you mean. Yeah, I will change it.

[2017-04-27 21:21] robwise commented on #146
We actually had already been discussing this as a possibility in another thread, but I forgot to make an issue, so thanks! I think we can use the stack trace to point back to the line similar to how flow or eslint do this when you have a parsing error:

![](https://cl.ly/0q3e1n3x1H3y/Image%202017-04-27%20at%205.18.57%20PM.png)

It will take some work, but I think it's worth it because apparently a

[2017-04-27 21:24] #144 closed

[2017-04-27 21:30] robwise commented on #147
BTW, are you using eslint integration?

[2017-04-27 21:32] gaearon commented on #146
Yea, I can understand how this could initially seem out of scope, but it would be very handy.

[2017-04-27 21:32] lionize commented on #147
@robwise Hi Rob. Yes we are, and we have `prettier-eslint` installed as well.

[2017-04-27 21:54] robwise commented on #147
@lionize Can you also try using `./node_modules/.bin/prettier-eslint` directly? Just making sure this is a prettier-atom problem and not a prettier-eslint problem.

[2017-04-27 21:56] lionize commented on #147
@robwise There's no `prettier-eslint` in the `.bin` folder. I tried uninstalling and reinstalling using npm and still nothing.

[2017-04-27 22:24] robwise commented on #147
Sorry, I should have said [prettier-eslint-cli](https://github.com/prettier/prettier-eslint-cli) as that's the one you use to invoke from the command line.

[2017-04-28 11:15] ikzjfr0 opened #148 "Semicolon settings not working"
Atom version 1.16.0 under MacOS.

The problem is: the semicolon is still in codes even I have switched it off in settings. Directly see gif below.

![semicolon](https://cloud.githubusercontent.com/assets/6456056/25526607/a71b2ccc-2c57-11e7-9e15-e28032a0b2b6.gif)

[2017-04-28 13:08] lionize commented on #147
@robwise Man, looks like it is a `prettier-eslint` issue after all. My bad!

[2017-04-29 01:29] tunnckoCore opened #149 "The bracketSpacing option seems to not work"
It seems that it isn't a Prettier bug, because on the online REPL it works.

Code

[code]
prints

[code]

Online [in repl](https://prettier.github.io/prettier/#%7B%22content%22%3A%22var%20bar%20%3D%20%5C%22xx%5C%22%5Cnvar%20options%20%3D%20%7B%5C%22xaax%5C%22%3A%201%2C%20zzz%3A2%7D%3B%22%2C%22options%22%3A%7B%22printWidth%22%3A80%2C%22tabWidth%22%3A2%2C%22singleQuote%22%3Atrue%2C%22trailingComma%2

[2017-04-29 03:32] robwise commented on #149
@tunnckoCore You have eslint integration on, did you set the brackets rule in your eslint config?

[2017-04-29 03:33] robwise commented on #148
@ikzjfr0 Do you have eslint integration on? If so, what is your setting for semicolons?

[2017-04-29 03:34] robwise commented on #147
Ok no worries, closing for now

[2017-04-29 03:34] #147 closed

[2017-04-29 05:02] tunnckoCore commented on #149
@robwise, huh... didn't thought to try directly `object-curly-spacing: error, always`, so i was trying with Standard's `object-curly-even-spacing: error, always`

So yea, it works now :)

[2017-04-29 05:02] #149 closed

[2017-04-30 11:59] mohitgarg opened #150 "Space before function paranthesis"
I am using standard as my linter and every time I save the file it deletes the space before the function paranthesis and then my linter starts yelling at well. How can I add a rule in config file to not do that?

[2017-04-30 12:14] ikzjfr0 commented on #148
my eslintrc.json configure includes

[code]

[2017-04-30 13:06] darahak commented on #150
Did you try using [Standard's ESLint config](https://github.com/feross/eslint-config-standard) + the ESLint integration option?

[2017-04-30 13:09] mohitgarg commented on #150
@darahak I am talking about the atom packages here.  I am using this [standard](https://atom.io/packages/linter-js-standard) package for linting.

[2017-04-30 13:12] mohitgarg commented on #148
@ikzjfr0 Did you turn on ESLint integration in settings? I turned it off and it worked for me

[2017-04-30 21:57] robwise commented on #148
If you have eslint integration on, and turning it off fixes it, then the rule must not have been configured correctly, or there is a bug in prettier-eslint.

[2017-04-30 21:58] robwise commented on #150
Did you turn the eslint integration for prettier-atom on? (The "enabled" option?) If you don't do this, prettier won't look at your eslint config.

[2017-04-30 22:17] mohitgarg commented on #150
@robwise Yes, I turned it off because I am not using an eslint configuration file in the setup. The standard linter is linting the code on the fly with a config file. I just want to know how can I add an exception in the prettier configurations so that it will start adding a space before the function parenthesis

[2017-04-30 22:25] robwise commented on #150
Prettier is not capable of doing that right now. They only want to allow a limited amount of configuration. Only eslint's autofix is capable of doing this automatically. You can make an issue at the [prettier repo](https://github.com/prettier/prettier) if you want to see this enabled. Otherwise, I'd recommend using ESlint and then turning the integration on. Please let me know if you've got any ot

[2017-04-30 22:25] #150 closed

[2017-04-30 22:27] robwise commented on #148
Also, if you've got eslint integration on, you need to make sure your eslint config is a sibling or parent of the file in which you're working.

[2017-05-02 14:06] MerlinBB commented on #90
I noticed this issue too... As a work-around, if you're using eslint you can explicitly set rules on tab-width: http://eslint.org/docs/rules/indent

[2017-05-03 05:28] #117 closed

[2017-05-03 05:53] robwise commented on #146
@steelbrain Would I need (or do you suggest) that we use atom-linter for this? If yes, will I break the experience for users who did not already have the atom-linter package installed?

[2017-05-03 07:21] robwise commented on #148
I've now implemented fallback options in case we cannot infer your settings from eslint, so try out 0.30.0 and I can reopen if you're still having trouble:

https://github.com/prettier/prettier-atom/pull/152

[2017-05-03 07:21] #148 closed

[2017-05-03 07:29] robwise opened #153 "Option to Hide FormatOnSave Status Indicator"
Some of my colleagues have requested the ability to hide the status indicator via an option, and we had talked about doing this eventually when we implemented it.

@darahak Do you want to take this one on?

[2017-05-03 08:57] hamutinnikov opened #154 "Failed to load the prettier-atom package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.11.6
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.30.0

### Stack Trace

Failed to load the prettier-atom package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-03 12:07] steelbrain commented on #146
Hi @robwise

I definitely think that showing syntax errors with Linter is the most seamless experience for the users. Tho you could only show it for people who already have it installed but I would recommend you use [`atom-package-deps`](https://www.npmjs.com/package/atom-package-deps) to ensure it's installed so the userbase has a consistent experience.

Because your package is going to be invoke

[2017-05-03 14:10] RichardChaumont opened #155 "Vue.js files missing some rules"
I'm using this plugin with `vue.js` files.

My code:

[code]

If I have it inside a `.js` file it gets formated according to my rules. If I have it inside a `vue.js` file some changes are applied some are not.

Specifically `data() {` becomes `data(){` if in a `.js` file and not otherwise.

I think the related rule is:

    'space-before-blocks': ['error', 'never']

I'm happy to add a spec/test if

[2017-05-03 20:42] robwise commented on #155
@RichardChaumont Can you use `prettier-eslint-cli` on this file and see if the same thing happens? If so, it's a bug with prettier-eslint and not this plugin.

All test files are right next to their source file with the same name except with `.test` in their extension. However, because this plugin just calls either prettier or prettier-eslint, we don't have tests that verify that check those plugi

[2017-05-03 20:43] robwise commented on #154
@hamutinnikov Can you install atom-linter and see if it fixes it?

[2017-05-03 21:41] darahak commented on #153
Yes, that's what we agreed on. You can assign it to me.

[2017-05-03 23:08] robwise commented on #154
According to Steelbrain, we should implement this ASAP so this doesn't happen to other people: https://www.npmjs.com/package/atom-package-deps

[2017-05-04 02:10] tbillington opened #156 "Uncaught Error: ENOENT: no such file or directory, open 'package.json'"
**Reproduce**:

1. Run prettier command with open, unsaved .js file.

**Atom**: 1.16.0 x64
**Electron**: 1.3.13
**OS**: Mac OS X 10.11.6
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.30.0

### Stack Trace

Uncaught Error: ENOENT: no such file or directory, open 'package.json'

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-05-04 02:23] robwise commented on #156
This is a bug. We got around this by not formatting on save, but if the user manually invokes, then we are trying to find a package.json from a non-existent filepath. Will fix.

[2017-05-04 05:33] RichardChaumont commented on #155
@robwise thanks for feedback. `prettier-eslint-cli` is for `.js` files right? I did try it on a folder with `.vue` files and it does not run because it cannot interpretate `css` in the file. Basically `.vue` files are like `.html` files with html where the JavaScript is inside a `<script>`  tag. What plugin does `prettier-atom` use to run such files?

[2017-05-04 05:44] robwise commented on #155
If you have the eslint integration on it should use `prettier-eslint`, if you have it off, it should use `prettier`. The fact that it's embedded in script tags shouldn't change that AFAIK. It's very strange that it is giving you different results like this. I will try and reproduce locally, see what's up, and report back.

[2017-05-04 22:53] #90 closed

[2017-05-07 00:43] lemon79 commented on #96
can i work on this

[2017-05-07 03:31] robwise commented on #96
@lemon79 sure!

[2017-05-07 23:14] darahak commented on #156
@robwise Did you reproduce the issue? I can't so I'm wondering if it's OS-specific (I'm on Windows).
@tbillington When you say "unsaved", do you mean it's a newly created file or a file that already existed but has unsaved changes?

[2017-05-08 00:08] #153 closed

[2017-05-08 01:19] tbillington commented on #156
@darahak the latter, existing file that I've edited and have yet to save.

[2017-05-08 03:08] robwise commented on #156
Hmm, in that case I'm not sure, as this is the normal use case and it seems to be working otherwise. Have you tried uninstalling and re-installing the package?

[2017-05-08 11:19] jmatsushita commented on #119
Hi there, I ran into the same bug. Adding console logs shows me that executePrettier does get executed and prettierEsLint as well, but it returns the exact same code it's passed.

Activating `linter-eslint`'s `Fix errors on save` option does work correctly.

Maybe `prettier-eslint` doesn't find the local `.eslintrc` file?

[2017-05-08 19:27] pruett opened #161 "trailingComma of type boolean"
I receive the following when running the formatter in Atom:

![screen shot 2017-05-08 at 3 22 55 pm](https://cloud.githubusercontent.com/assets/794809/25821361/cd3a3d00-3402-11e7-9bf4-1be5a6a6b288.png)

[code]

But it doesn't look the `Trailing Comma` option in the package settings allows for a `boolean`.

![screen shot 2017-05-08 at 3 24 06 pm](https://cloud.githubusercontent.com/assets/794809/25

[2017-05-08 20:02] darahak commented on #161
@pruett There is another thread for the same issue.
Can you check https://github.com/prettier/prettier-atom/issues/72? I'll close this one.

There might be a conflict in your Atom config with an older version of `prettier-atom`.

[2017-05-08 20:02] #161 closed

[2017-05-09 01:55] BHSPitMonkey opened #162 "Options descriptions seem to contradict main project documentation"
The `prettier` README.md describes "Bracket Spacing" option as follows ([see here](https://github.com/prettier/prettier#options)):

| Option | Default | CLI override | API override |
| ------------- | ------------- | ------------- | ------------- |
| **Bracket Spacing** - Do not print spaces between brackets. <br /><br /> If true, puts the `>` of a multi-line jsx element at the end of the last lin

[2017-05-09 02:08] BHSPitMonkey commented on #162
After getting deeper into the main `prettier` source, I'm leaning toward calling this a problem with the main project's documentation. It seems like they are calling the "JSX Bracket Same Line" option by the wrong name, and lacking documentation for the real "Bracket Spacing" option entirely. Does that sound about right?

[2017-05-09 05:48] robwise commented on #162
@BHSPitMonkey Yes, it looks like their README is inaccurate, it's lumping two different options together, as you describe. You can see in the source code that they are two different options: https://github.com/prettier/prettier/blob/master/src/options.js#L12-L13

Perhaps you could make a pull request over at that repo to correct it?

[2017-05-09 06:31] BHSPitMonkey commented on #162
Done: https://github.com/prettier/prettier/pull/1564

Thanks for confirming; closing this issue.

[2017-05-09 06:31] #162 closed

[2017-05-09 07:24] robwise commented on #119
@jmatsushita That's very possible, can you try running prettier-eslint-cli and see if it behaves the same way? Right now, prettier-atom will fallback to its atom settings if it can't find the eslintrc or if a corresponding rule is not defined in the eslintrc.

[2017-05-09 21:55] therealklanni commented on #119
I ran into the same problem. This plugin only looks for `.eslintrc` not `.eslintrc.*` like ESLint does. So having `.eslintrc.json5` (for example) causes this plugin to ignore your ESLint config.

[2017-05-09 23:44] robwise commented on #119
@therealklanni This is just the atom package, we don't actually look for the `.eslintrc` at all in this repo.Can you make an issue over at `prettier-eslint` repo?

[2017-05-11 00:38] tbillington commented on #156
I tried uninstalling and reinstalling. When I run format instead of debug, I get this:

[code]

[2017-05-12 06:51] dacz commented on #156
I experience the same error when run `prettier debug` from atom (package.json is in the project repo):

[code]
At fs.js:640

Error: ENOENT: no such file or directory, open 'package.json'
    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Object.module.(anonymous function) [as openSync] (ELECTRON_ASAR.js:168:20)
    at Object.fs.readFileSync (fs.js:508:33)
    at Object.fs.readFi

[2017-05-12 12:27] darahak commented on #156
Maybe the current directory is not set to `prettier-atom`'s package and `read-pkg` struggles to find `package.json`.
I'll investigate ASAP.

[2017-05-12 14:04] robwise commented on #156
@darahak just a heads-up, I'm in the process of a big refactoring of codebase's file structure, I should be done sometime this weekend

[2017-05-12 15:22] kentcdodds opened #164 "Have option to force format even if eslintignored"
Sometimes I'm hacking around in my `node_modules` directory writing messy code as I do, and I'd like to format a block of code. Not on save, but explicitly when I hit the keyboard shortcut. I'd love it if I could have an option to force formatting even if something's eslint ignored. Happy to contribute back if you think this is useful and could give me some brief direction :)

[2017-05-12 15:40] robwise commented on #164
@kentcdodds I'm in the middle of a big code refactoring (#165) so I would wait until we get that baby merged if we're going to do any code changes.

Are you aware of the <kbd>ctrl</kbd><kbd>option</kbd><kbd>f</kbd> shortcut for manual format?

It's not supposed to respect your eslintignore for that since we assume if you're explicitly invoking it that we should just do it. Is it not working/docume

[2017-05-14 21:00] #156 closed

[2017-05-14 21:05] darahak commented on #156
@tbillington @dacz The fix will probably be included in the next update (like `0.31.1` or `0.32.0`).
I fixed what looked like the origin of the bug, but I never reproduced the issue.
Please retry when you get the update and tell us if it's resolved.

[2017-05-14 21:18] robwise commented on #156
0.31.0 is out (released yesterday) so if you update, the fix (hopefully) should be in there

[2017-05-14 21:31] darahak commented on #156
@robwise Didn't you publish `0.31.0` a few hours ago?
This change is very recent; I don't think it's included in it.

[2017-05-14 21:38] robwise commented on #156
Yeah I didn't realize you had merged a PR, so I assumed you were talking about some commit from a while ago

[2017-05-16 08:37] dacz commented on #156
I updated prettier-atom and still having the issue.

[2017-05-16 12:03] joarwilk commented on #156
Just want to chime in and say I have this issue as well. Also,

[code]

[2017-05-16 12:53] darahak commented on #156
@dacz The fix has not been released yet actually.
@joarwilk It looks like the same problem as https://github.com/prettier/prettier-atom/issues/72. There could be some helpful suggestions for you there.

[2017-05-16 13:14] dacz opened #167 "Can not reformat/wrap slightly longer line"
Example:

`const enhWithZip = withProps(props => ({ zip: path([ 'place', 'zip' ], props) }));`

Setting is 80char wide (this is 83). Cannot make it shorter. When I make it one character longer, it works:

[code]

My eslint is set to require spaces inside brackets `{ ... }` and `[ ... ]`.

Note: I went to all-prettier and format on save. Prettier rocks! Thanks.

I'd paste the output of the `Prettie

[2017-05-16 13:39] dacz commented on #167
Another case - deeply nested (complexity 29, booooo, shame on me but this component should be like this) snippet:

[code]
length 83 (again).

I change this manually to:

[code]
and similar modifications but save (reformat on save) will change it again to 83 long one line to disturb eslint. No problem with disable-line but... :)

... unfortunatelly problem with eslint...

I fixed my complexity ugli

[2017-05-16 14:36] robwise commented on #167
@dacz this is just the atom plugin that uses prettier/prettier-eslint under the hood. Can you use prettier-eslint-cli on this code and see if it behaves the same way? If so, it's a prettier-eslint issue

[2017-05-16 14:52] dacz commented on #167
@robwise Thanks. Output is the same, so I'll resort it to prettier-eslint. Thanks!

[2017-05-16 14:52] #167 closed

[2017-05-17 13:46] dinophile opened #168 "Warning about linter-eslint fix on save (coming from prettier-atom) when linter-eslint is not installed"
I keep getting a warning telling me that linter-eslint's fix on save feature is enabled (warning is coming from prettier-atom). But I don't even have the linter-eslint package installed in my editor...nothing obvious coming up other than the following from prettier:debug (and a line telling me that this issue has already been reported):

`Error: ENOENT: no such file or directory, open 'package.jso

[2017-05-17 15:09] robwise commented on #168
@dinophile We had a bug in our debug script, I just pushed a new version (0.31.1), can you please update prettier-atom, and re-run the debug script. Also, can you please triple-check that you don't have linter-eslint installed? This error is only supposed to happen if all of the following are true at the same time:

- have linter eslint
- have linter-eslint autofix set to true
- have prettier-atom

[2017-05-17 15:57] marcusmotill opened #169 "Validation error after 0.31.1 update"
Unable to run prettier from key board shortcut after updating my plugin today.

Error showing up on screen:
[code]

Debug:
[code]
Here are my settings:
![image](https://cloud.githubusercontent.com/assets/7673106/26163500/7f9b4136-3aef-11e7-8b96-1eb91f9d9944.png)

I have tried to unset and reset the tab width setting but it still saves as a string.  Seems like there is a cast missing

[2017-05-17 16:04] robwise commented on #169
@marcusmotill We've had users report very similar errors off and on, but we're still unable to track down the problem. I personally believe it's an Atom bug, where an old config schema somehow gets left behind.

This is Atom, not our plugin, that's throwing the error, despite our config clearing asking for a string, and it working for _most_ users: https://github.com/prettier/prettier-atom/blob/ma

[2017-05-17 18:33] marcusmotill commented on #169
I went into my config.cson file and change the value from a string to an integer manually and it worked.  Clearing cache and restarting did not work

[2017-05-17 18:40] robwise commented on #169
@marcusmotill Yess!!!! Thank you so much for figuring that out and reporting back!

[2017-05-17 20:33] darahak commented on #169
I don't understand how this keeps happening.
If I use invalid types on purpose in my `config.cson`, the invalid settings are erased when Atom reloads (see https://github.com/atom/atom/pull/5280).

It might keep happening on every update.
I'd really like to figure it out.

@marcusmotill Did you try to open DevTools and see if there was any error/warning in the console?

[2017-05-17 20:36] darahak commented on #96
@lemon79 Thanks for your help 👍
If you're stuck or need a little guidance, don't hesitate to ask.

[2017-05-17 20:49] dinophile commented on #168
Hi @robwise, thanks for getting back to me!

Upgraded to the new version, checked three times (just in case!) and I definitely don't have linter-eslint installed (or any of the linter packages) yet I still get the warning about linter's fix on save feature being active.

This time when I run the debug script this is the only output I get:

[code]

[2017-05-17 21:01] darahak commented on #168
@dinophile Are there any properties related to `linter-eslint` in your `config.cson` file? (could happen if you installed it before and removed it)

[2017-05-17 21:04] robwise commented on #168
^ oh yeah good thinking

[2017-05-17 21:05] dinophile commented on #168
Aha! And removing them did the trick! That was sneaky, yup the settings were still in my config file...once I removed them there was no more error! Thanks a million! :)

[2017-05-17 21:08] darahak commented on #168
Knowing this, maybe we should check if `linter-eslint` is actually installed.
I don't know what's the proper way to do this and how much it would cost though.

[2017-05-17 22:06] robwise commented on #168
@darahak Agreed, we should investigate if there's a way to tell if the package is actually installed and enabled instead of just checking for the value in the config

[2017-05-18 01:05] tbillington commented on #156
Confirming that the latest update has fixed the issue for me. Both the format and debug commands now work :) thanks!

[2017-05-18 01:12] robwise commented on #156
Excellent news!

[2017-05-18 13:18] tomaskazatel commented on #169
I have same problem. After manualy change number of tabs in config it works.

[2017-05-18 16:44] darahak opened #170 "Display status bar tile only if current file matches scope"
We should remove the tile if there are no open files or if the language used is not included in our scopes (it doesn't make sense if the user is writing Python for example).
It's cleaner this way, and this is what other packages do (like `linter-eslint`).

[2017-05-18 17:40] robwise commented on #170
Sounds good!

[2017-05-19 13:33] shashanktomar opened #171 "Flow Generics reported as error"
Following is a valid flow syntax, but is reported as error by prettier plugin:
`
const funName = <T>(param: T): T => {
  // ...
}
`

[2017-05-19 14:55] marcusmotill commented on #169
@darahak I did not notice anything in the console but was not vigilantly checking it either. :/

[2017-05-19 15:33] darahak commented on #171
@shashanktomar How is the error reported? What do you see?
Did you try switching the parser to Flow? It could be a bug in Babylon.

[2017-05-20 22:15] robwise commented on #171
Also, please use the `prettier` or `prettier-eslint-cli` (if you have eslint integration enabled) packages and see if you get the error there. If yes, you need to report the issue at the respective repo, this repo is just the atom package that calls these under the hood.

[2017-05-21 18:19] #168 closed

[2017-05-21 18:37] darahak commented on #171
@shashanktomar What's the exact line that throws the error?
The way you wrote your sample, it just fails because you started an inline comment before the closing brace.

Is it possible you are talking about https://github.com/prettier/prettier/issues/1632?

[2017-05-23 03:53] #169 closed

[2017-05-23 08:52] faassen opened #174 "indentation depth changed"
I upgraded to a recent prettier and Atom 1.17. Now suddenly prettier uses 4 spaces to indent instead of 2 spaces. I tried changing the tab width in the prettier settings from "auto" to 2, but it still uses 4 spaces. Even "auto" ought to work as I haven't changed the tab length in the atom settings either. What am I doing wrong?

[2017-05-23 08:54] faassen commented on #174
Aha, this is as designed. The project had an .editorconfig and this took precedence. I fixed that and the indentation is back to what I expected.

[2017-05-23 09:02] faassen commented on #174
I'll close this issue. But manually setting indentation depth gives an error instead -- I'll create a new issue.

[2017-05-23 09:02] #174 closed

[2017-05-23 09:05] faassen opened #175 "setting tab width to a number results in error"
Due to #174 I set the tab width to 2 for prettier atom in the UI. But this results in a "tab width should be an integer, not a string" error from prettier-atom, which then didn't function.

[2017-05-23 09:43] darahak commented on #175
There is a problem with how Atom handles changes on config schemas (= how we describe our settings).
Unfortunately, we cannot do anything about it.

See https://github.com/prettier/prettier-atom/issues/169 which is a duplicate of this issue.
A [troubleshoot section](https://github.com/prettier/prettier-atom#troubleshooting) has also been added to our `README` for this specific issue.

[2017-05-26 12:07] nikgraf opened #176 "Key combination to turn on/off "Format Files on Save""
I'm switching between multiple projects (open source and closed) during the day. Some of them have a prettier setup, some of them don't. Right now I always go into the Settings and turn this feature on and off. Would be nice to have a keyboard shortcut for turning it on/off. What do you think?

[2017-05-26 12:26] nikgraf commented on #176
Just discovered "Show in Status Bar" … that solves my issue :)

[2017-05-26 12:26] #176 closed

[2017-05-28 00:16] robwise commented on #176
You can also use the command menu: `prettier:toggle-format-on-save`

[2017-05-30 13:53] shashanktomar commented on #171
@darahak Sorry for the late response. I have changed the parser to flow but can still see the error. Try pasting the code below in atom and saving it.
`const fun1 = <T>(param: T): T => param;`
`const fun2 = <T>(param: T): T => param;`

[2017-05-30 15:24] darahak commented on #171
@shashanktomar This is what I get in Prettier's REPL: [link](https://prettier.github.io/prettier/#%7B%22content%22%3A%22const%20fun1%20%3D%20%3CT%3E(param%3A%20T)%3A%20T%20%3D%3E%20param%3B%5Cnconst%20fun2%20%3D%20%3CT%3E(param%3A%20T)%3A%20T%20%3D%3E%20param%3B%5Cn%22%2C%22options%22%3A%7B%22printWidth%22%3A80%2C%22tabWidth%22%3A2%2C%22singleQuote%22%3Afalse%2C%22trailingComma%22%3A%22none%22%2C%

[2017-05-31 04:26] lemon79 commented on #96
hey i have no clue how to do this, i think to trigger the format there has to be an event listener for save all, but i can't find out how to attach it to the atom element.

[2017-05-31 10:38] shashanktomar commented on #171
@darahak Thanks for verifying. Submitted a bug [#1828](https://github.com/prettier/prettier/issues/1828)

[2017-05-31 11:39] darahak commented on #96
@lemon79 The subscription on save is done in [main.js](https://github.com/prettier/prettier-atom/blob/master/src/main.js#L105).
I never really paid attention to this part, but it looks like we already subscribe to the save event on every text buffer, and this might actually be a **bug**.

As you can see, we call `lazyFormatOnSave(editor)` before every save, but the [implementation](https://github.

[2017-05-31 18:01] lemon79 commented on #96
@darahak i tried to save every editor, but then it cannot distinguish between save and save all

[2017-05-31 22:12] darahak commented on #96
@lemon79 Not sure I understand what you mean. What did you do exactly?

[2017-06-01 05:20] robwise commented on #96
Sorry for the delay in responding, I was moving out of my place the past two days. You're absolutely right, we should use the passed editor and not make the `getActiveTextEditor()` call. Flow doesn't catch it because it's not a static typing error, more just a logic error (or style error depending on your point of view).

Eslint will error if you declare a function parameter but don't use it, howe

[2017-06-01 05:22] robwise commented on #171
closing since this is a prettier issue

[2017-06-01 05:22] #171 closed

[2017-06-01 05:22] #175 closed

[2017-06-01 11:29] darahak commented on #169
If someone gets this error again, could you try this and retry?

Open Atom with this CLI option: `--clear-window-storage`.
See [Clearing Saved State](http://flight-manual.atom.io/hacking-atom/sections/debugging/#clearing-saved-state) from Atom's documentation.

[2017-06-01 17:05] tleunen opened #177 "What does prettier-atom does under the hood with the eslint integration?"
I was trying to run prettier on an entire code base, so I wanted to run `prettier-eslint` from the command line, with the `--write` option to overwrite the files.

But when I do that, I noticed the result is different from what `prettier-atom` is giving me with the eslint option.

It's slightly different, a few lines have the wrong indentation (2 spaces instead of 4 from my eslint config). But it'

[2017-06-01 20:38] pruett commented on #72
Still getting this error:

prettier-atom v 0.31.1
[code]

Last time, the fix was to upgrade the prettier binary. Seems 1.3.1 is the latest. Is the atom package somehow referencing an old version?

[2017-06-01 21:26] tommoor commented on #72
FWIW in my case it was definitely the the dependency in my project and prettier-atom were mismatched. It turns out that I didn't need to use prettier-atom at all anyway as I was already running prettier through eslint, the atom integration is pointless in that scenario.

[2017-06-01 22:04] robwise commented on #177
@tleunen I'm not sure, but one possibility is that there are some prettier rules that cannot be inferred from your eslint config. In this case, prettier-eslint will fallback to the prettier default for that rule. However, in prettier-atom, we tell prettier-eslint to fallback to the settings you've got for the package. So, if you are missing an eslint rule, and your prettier-atom's prettier setting

[2017-06-01 22:07] tleunen commented on #177
My tab width doesn't have any value in prettier-atom (set to "auto"), so it doesn't seem to be that.

What would be the best way to see what command prettier-atom is running? I can start atom in dev and see a log somewhere if I change the code? Any hint to where to put the log?

[2017-06-02 03:31] robwise commented on #177
This is still a value, it's going to figure it out from atom's default tab width for the given scope. You can put a log right here to print out what the fallbacks are:
https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/executePrettierOnBufferRange.js#L15

[2017-06-02 11:36] darahak opened #178 "Show which options are used on format"
Related to #177.

Looks like `prettier-atom` is not transparent/explicit enough on which options are used for formatting and where they come from (ESLint, EditorConfig, etc.).

It's hard to debug, so we could add another toggle command that shows what the formatter is doing every time.

[2017-06-02 16:39] tleunen commented on #177
Ok, so everything is done by `prettier-eslint`...

If I debug these lines: https://github.com/prettier/prettier-eslint/blob/master/src/index.js#L60-L64

- In case of `prettier-atom`, the eslint config and the fallback prettier options are set, but not the prettier options.
- In case of `prettier-eslint-cli`, both the eslint config and prettier options are set. The options being the default prettie

[2017-06-02 17:12] splodingsocks opened #179 "Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script"
I just installed prettier@1.4 (which supports typescript formatting) in my local project, added `.ts` onto list of files that prettier should run on, and saved a typescript file. I got the following output:

![image](https://cloud.githubusercontent.com/assets/1227109/26736669/59b674b2-4784-11e7-9c84-fd2406dfe7c6.png)

[code]

Prettier:Debug output:
<details>
<pre>
Atom version: 1.18.0-beta2
pretti

[2017-06-02 17:18] pruett commented on #72
apologies, it seems my `yarn.lock` had two versions and it was resolving the old version 😭

[2017-06-02 19:20] robwise commented on #179
I'm currently trying to get a hotfix done, but the problem is that 1.4 introduces the use of `eval` which is against Atom's Content Security Policy (CSP). There is a loophole for this, but it isn't working correctly in this case. I'm still looking for solutions.

[2017-06-02 19:25] robwise commented on #177
Doing this would remove prettier-eslint's ability to infer anything from your eslint settings, which would be extremely inconvenient. Prettier-eslint-cli should not be forcing you to override all settings, it should allow just inferring them from your eslint config.

[2017-06-02 19:31] margic commented on #179
Is that 1.4 of prettier itself. Is there a known good version to work with while you work on the fix?

[2017-06-02 19:38] margic commented on #179
Answering my own question dropping prettier to "prettier": "1.31.1", works for now with prettier-atom 0.31.1

[2017-06-02 20:18] robwise commented on #179
Looks like they are going to release a 1.4.1 that will address this, until then, please use margic's solution, the version number is `1.3.1`.

[2017-06-02 20:19] robwise commented on #177
I'm noticing issues with it prettier-eslint-cli pick up a different print width as well, but it definitely should not be doing that. I'm wondering if this is an issue with prettier-eslint-cli

[2017-06-02 20:20] kentcdodds commented on #177
You might try reinstalling everything. I made a goof with `prettier-eslint-cli` releases. Make sure you have v4

[2017-06-02 20:48] calesce opened #180 "Close the error dialog after prettier is re-run successfully"
It can be a bit annoying when I make a quick syntax error and then immediately fix it, and still have to click the close icon on the error dialog.

I can try my hand at implementing this if people think that it's a good idea. Thanks for the great package!

[2017-06-02 20:54] tleunen commented on #177
I'll wait for prettier-atom to be updated with the recent prettier version so I can compare the output again :)

[2017-06-02 22:05] robwise commented on #180
@calesce Yeah it can be very annoying, so the current plan is to show errors inline and get rid of the message popup thing altogether: https://github.com/prettier/prettier-atom/issues/146

I should have some time this weekend to try and get this implemented

[2017-06-02 22:05] #180 closed

[2017-06-02 23:40] robwise commented on #179
Okay 1.4.1 was just released, and I've verified that this solves the problem!

[2017-06-02 23:40] #179 closed

[2017-06-03 09:02] hollandThomas opened #182 "Fails on save with EvalError with version 0.32.0"
After upgrading to 0.32.0 there is the following error on file save:

`EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".`

<details>

[code]

</details>

[2017-06-03 16:05] darahak commented on #182
@hollandThomas Do you have `prettier` as a local dependency of your project?
It's possible that the `prettier` embedded in `prettier-atom` is not being used.

[2017-06-03 16:27] nfcampos commented on #182
I do, and I'm seeing the same error.

[2017-06-03 16:28] nfcampos commented on #182
And I was seeing this error before (and after) updating to 0.32.0, I believe I was using 0.31.1

[2017-06-03 16:28] nfcampos commented on #182
But I only started to see this error after updating `prettier` itself in my project to 0.4.0

[2017-06-03 16:34] nfcampos commented on #182
Seems to have been fixed for me after updating my project to `prettier` 0.4.2

[2017-06-03 16:35] darahak commented on #182
@nfcampos As I suggested in my previous message, your local `prettier` may be used instead of the one bundled with `prettier-atom`.
If that's the case, you should update `prettier` in your project's dependencies.
See https://github.com/prettier/prettier-atom/pull/104

[2017-06-03 16:47] nfcampos commented on #182
yes sorry about the flooding

[2017-06-03 18:42] hollandThomas commented on #182
Upgrading to 1.4.2 indeed resolved the issue. Thank you!

[2017-06-03 18:42] #182 closed

[2017-06-03 19:43] keithjgrant opened #183 "Support formatting CSS"
The latest release includes Prettier 1.4.0, which includes support for CSS formatting, but prettier-atom doesn't seem to be running for CSS files. I tried adding `source.css` to my Scopes list, but that didn't do it.

[2017-06-04 02:24] robwise commented on #183
Yeah, there's a bunch of considerations we need to address in order to make that work. Which we absolutely should do.  We probably will want to add a settings section for CSS formatting, such as overriding the default scopes (or changing the existing default scopes?). There also may be special options to pass.

[2017-06-04 02:31] keithjgrant commented on #183
Let me know how I can help out :)

[2017-06-05 09:30] O4epegb opened #184 "Support typescript parser option"
Prettier [1.4.0](https://github.com/prettier/prettier/releases/tag/1.4.0) has Typescript support, so i guess we should add it here too?
I am pretty noob in atom extensions, but at first glance just adding it to config-schema.json options will do the thing? If so, i can make PR. Otherwise probably more experienced person should do this :)

[2017-06-05 16:27] tleunen commented on #182
I have prettier-atom 0.32.0 and inside a project which has a dependency on prettier-eslint-cli 4.0.3, I'm seeing the exact same error message.

What should I do to force prettier-atom to use the one in the extension inside of the one in the project?

[2017-06-05 17:29] robwise commented on #182
Try doing,

[code]

[2017-06-05 17:34] robwise commented on #184
I will try and take care of this, as I was going to hit the new CSS stuff as well

[2017-06-05 19:00] tleunen commented on #182
Yes, adding prettier as a direct dev dependency works. Any reason why this is needed?

prettier-eslint-cli has a dependency on prettier-eslint which has a dependency on prettier already.

[2017-06-05 20:02] robwise commented on #182
Doing this forces the prettier version to be the most up-to-date. For some reason, your prettier version was the older, buggy one, and prettier-atom was picking it up out of the node_modules folder.

[2017-06-08 03:48] #43 closed

[2017-06-08 04:57] robwise commented on #154
Closing, please re-open if you are still having trouble

[2017-06-08 04:57] #154 closed

[2017-06-08 04:58] robwise commented on #177
Yep this was an issue in prettier-eslint-cli, resolved in 4.0.4, closing

[2017-06-08 04:58] #177 closed

[2017-06-08 04:59] #183 closed

[2017-06-08 04:59] #184 closed

[2017-06-08 16:42] charlesvinette commented on #169
Hey @darahak. I did get the error and tried what you suggested but it didn't work, had to go directly in config.cson

[2017-06-09 03:58] tbillington opened #190 "Can't save file"
![screen shot 2017-06-09 at 1 54 23 pm](https://user-images.githubusercontent.com/2771466/26960509-477a1532-4d1b-11e7-9457-c7c1c17dac33.png)

[Enter steps to reproduce:]

1. Have outdated prettier-atom
2. Update prettier-atom
3. Try to save file

Prettier-atom is asking me to restart atom to get updates, but it won't let me save my file so I can restart.

I have run on save disabled.

I had to dis

[2017-06-10 12:04] kachkaev opened #191 "Check package-lock.json / yarn.lock / node_modules to enable prettier"
Hi guys! Great idea to add this option!
![](https://pbs.twimg.com/media/DBx8O9WU0AAgZ-9.jpg)

Just curious if the package could also check the contents of `package-lock.json` / `yarn.lock` / `node_modules` in addition to `package.json` This can be useful for ‘monolithic’ deps similar to react-scripts (create-react-app).

In our team we have an internal linting npm module, which includes eslint-con

[2017-06-10 14:02] lewisblackwood commented on #169
Thanks @darahak, that worked for me!

[2017-06-11 15:00] ZeeCoder opened #192 "Using the version of prettier described in packages.json"
I see that the project has a dependency on prettier 1.4.4, so I assume it's using that.
However, with my current project, I'm using 1.3.1, while at work we use 1.4.2.

Is there a way the plugin could use the version installed for the current project, found in the dependencies?

[2017-06-11 15:10] darahak commented on #192
It already does, if `prettier` is installed in your project's dependencies.
We need to update our documentation.

[2017-06-11 20:50] darahak commented on #96
@lemon79 Are you still working on this?

[2017-06-14 21:02] zimme opened #194 "Use prettier_d"
I think [prettier_d](https://github.com/josephfrazier/prettier_d) would be a really good match for this project.

Any thoughts?

[2017-06-14 21:24] darahak commented on #194
Not 100% sure, but aren't Atom packages (including dependencies) cached after activation?
The point of `prettier_d` is to mitigate startup time, which should already be low in Atom.

[2017-06-14 21:32] zimme commented on #194
// Using the CLI introduces a noticeable delay and there is currently no
   // way to use prettier as a long-running process for formatting files as needed
   //
   // See https://github.com/prettier/prettier/issues/918

This comment from [here](https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/getPrettierInstance.js#L13) makes me think otherwise.

[2017-06-14 21:36] Tibfib opened #195 "Support *.scss files"
`.css` files are now supported in the latest version but `.scss` isn't. It seems like it processes it as javascript:

![image](https://user-images.githubusercontent.com/290380/27155623-e189111a-5116-11e7-88d3-6e946a1c4eb8.png)

However, when I change the language in the bottom right of atom to `CSS` (instead of CSS) it will format it properly. Am I missing something or is this a bug?

[2017-06-14 21:47] darahak commented on #195
Have you tried adding `source.scss` to the CSS scopes in the package settings?
I know it's in the "Format on Save" section, but I think it's also used for manual format.

[2017-06-14 22:05] Tibfib commented on #195
Oh, cool, thanks for pointing that out! That works perfectly. I looked at the settings and didn't realize "scopes" was what I needed. I wonder if adding an explanation for what the scopes are (what files/languages should be formatted by what prettier parser) would be helpful? It would for me.

For anyone else looking later: add `source.css.scss` to your CSS scopes to get prettier to format .scss f

[2017-06-14 22:14] darahak commented on #195
That's a great suggestion.
We'll think about a better description for these fields.

Or if you want to make a proposal, feel free to open a PR.

[2017-06-14 23:04] zimme commented on #194
On another note, it doesn't seem like `prettier-eslint` is using a local version if it's available.

[2017-06-15 11:59] #96 closed

[2017-06-15 17:17] alekhurst opened #198 "Feature request: keyboard shortcut to save without formatting"
First of all, this package is a godsend!

Wanted to bring up something that I have come across often when using it. I use the "format on save" option because 95% of the time this is my preferred behavior, but sometimes when I'm working on an html file, or migration file that only supports es5 syntax, I want to save without formatting.

I realize that I could disable format on save and use a keyboa

[2017-06-15 20:18] josephfrazier commented on #194
`prettier_d` author here (by way of https://github.com/prettier/prettier/issues/918). I'd love to see `prettier-atom` use `prettier_d` to speed things up, if `prettier-atom` doesn't already cache loaded `prettier` instances. Let me know if you have any questions!

[2017-06-15 20:25] zimme commented on #192
It doesn't seem like `prettier-eslint` is using a local version if it's available as seen in [executePrettierOnBufferRage](https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/executePrettierOnBufferRange.js).
getPrettierInstance is what gets the local instance of `prettier` if available but `prettier-eslint` doesn't have a counter-part.

[2017-06-15 21:14] darahak commented on #192
In [buildPrettierEslintOptions](https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/buildPrettierEslintOptions.js), we provide the `filePath` option which should be enough according to the [docs](https://github.com/prettier/prettier-eslint#options).

For ESLint and Prettier paths, it says:

My understanding is that the default is to look in the project first.

[2017-06-15 21:20] zimme commented on #192
Ooh, missed that. I guess I was too focused on this project to ecen consider looking at the dependencies docs :p

[2017-06-16 07:56] #195 closed

[2017-06-17 10:56] #170 closed

[2017-06-18 01:05] jasonkuhrt opened #201 "Incorrect application of eslint --fix"
I have used `eslint-config-prettier` to disable all style-only ESLint rules. When I try eslint on the cli I get a few issues but nothing related to semi-colons or the like:
[code]

Now when I save a `.js` file in Atom it goes from:
[code]
to
[code]
This is wrong. Prettier is set in Atom to not use e.g. semi-colons. `ESLint` on the command line does not tell me to put them either as we saw. So wher

[2017-06-18 01:21] jasonkuhrt commented on #201
I tried eslint configuration in my direct project. I noticed that:
[code]

works as expected but `0`:
[code]
does not work, even though it should.

[2017-06-18 06:02] robwise commented on #201
@jasonkuhrt This sounds like it might be a prettier-eslint issue. Can you test if using that package causes the same issue? Make sure to pass the `fallbackPrettierOptions`?

That being said, with prettier-eslint, I would highly recommend configuring everything via your eslint config and not trying to split the two like this. It's meant to use your eslint settings, and this way your linter will war

[2017-06-21 13:59] chris-erickson opened #203 "CSS/LESS indentation"
How do I inform prettier to use the proper indentation for LESS files?  I use `.editorconfig` and `.eslintrc` and these files are ending up with the wrong indentation.

[2017-06-22 07:21] robwise commented on #203
@chris-erickson That's probably something I would ask over at the [prettier repo](https://github.com/prettier/prettier)

[2017-06-22 13:12] dan-mckay opened #204 "Double quotes are replacing single quotes on save"
I have this configuration in Settings:
![screen shot 2017-06-22 at 14 05 49](https://user-images.githubusercontent.com/1457201/27435454-326b8552-5754-11e7-945f-ab231a920b3a.png)
...but every time a save a js file, the single quotes are being replaced by double quotes. It is a recent issue and also affects my colleague in the same way. I am running v0.34.0 of the package and v1.18.0 of Atom.

Any t

[2017-06-22 18:37] michaeljcalkins commented on #146
I don't think the popups are even needed.  The same error appears in my linter console.

<img width="1091" alt="screen shot 2017-06-22 at 11 35 12 am" src="https://user-images.githubusercontent.com/8272012/27449945-e2e3a916-573e-11e7-9dae-
c51ae6aadbd4.png">

[2017-06-22 23:08] darahak opened #205 "onDidChangeActiveTextEditor only available in latest Atom"
[atom.workspace.onDidChangeActiveTextEditor](https://atom.io/docs/api/v1.18.0/Workspace#instance-onDidChangeActiveTextEditor) only exists on Atom 1.18.0.

On older versions, we get this error:

### Stack Trace

Failed to activate the status-bar package

[code]

### Commands

[code]

[2017-06-22 23:12] darahak commented on #204
I can't reproduce the issue.

Can you publish your config displayed by command `prettier:debug` and also give us an example so we can have more context?

[2017-06-23 01:17] robwise commented on #146
Yeah I agree, I'm planning on switching to just using the linter and getting rid of the popup stuff. I just had to get through some of the earlier issues first, but this is the next thing on my list to implement.

[2017-06-23 02:09] michaeljcalkins commented on #146
@robwise I just realized you had this option, what if it was just true by default?

https://github.com/prettier/prettier-atom/blob/master/src/config-schema.json#L6

<img width="497" alt="screen shot 2017-06-22 at 7 07 31 pm" src="https://user-images.githubusercontent.com/8272012/27463699-140f2b66-577e-11e7-89c7-5881ae04de41.png">

[2017-06-23 02:50] robwise commented on #146
@michaeljcalkins Yeah, I keep that enabled myself. I'm worried that if it was true by default, and someone has a syntax error, they won't ever realize that the plugin is erroring. I'd rather have it on, and if they find it annoying, turn it off. Like I said, pretty soon I will switch to using the linter API/packages and we won't have this annoyance anymore.

[2017-06-26 20:17] slightlytyler commented on #183
It looks like this got implemented but my css files are not being parsed on save. Any ideas?

[2017-06-26 20:34] keithjgrant commented on #183
@slightlytyler Can you confirm you’re on prettier-atom 0.33.0?

[2017-06-26 20:35] slightlytyler commented on #183
@keithjgrant  <img width="718" alt="screen shot 2017-06-26 at 1 35 04 pm" src="https://user-images.githubusercontent.com/6819171/27559137-48816b04-5a74-11e7-9986-f5f854131221.png">

[2017-06-26 20:36] keithjgrant commented on #183
@slightlytyler also see my edit. I submitted my reply before I meant to :)

[2017-06-26 20:47] slightlytyler commented on #183
@keithjgrant We are using postcss but all the extension are `.css`

[2017-06-26 20:56] darahak commented on #183
@slightlytyler In the command palette (and from the editor that opened your `.css` file), run `Editor: Log Cursor Scope`.

Then copy the one(s) that start with `source.` and add it to `prettier-atom` settings in the scope fields. @keithjgrant added `source.css.postcss`, maybe you're missing this one (it's not there by default).

[2017-06-27 03:49] robwise commented on #183
@darahak Do you think we should add it to our defaults?

[2017-06-27 13:03] darahak commented on #183
@robwise I don't know. I suppose yes, if Prettier supports it, but the `README` only mentions SCSS and LESS.
Is there a specific syntax for PostCSS? I thought it was just like Babel for CSS.

[2017-06-27 13:16] keithjgrant commented on #183
@darahak There’s a syntax highlighter for PostCSS that’s popular — https://atom.io/packages/language-postcss. It adds support for things like nested selectors and some common PostCSS plugins. Prettier’s may not officially support it, but I haven’t noticed any issues; it’s probably going to come down to whether or not you use any odd/custom PostCSS plugins.

It also adds support for SugarSS, which

[2017-06-27 21:54] darahak opened #207 "Improve documentation"
I've been thinking about this for a while.
I just want to show my plan here and maybe get some advice/suggestions before making any change.

- [ ] Add feature descriptions (e.g. scopes and how to add more)
- [ ] List supported formats (by default)
- [ ] Explain "hidden" behaviors (e.g. using `prettier` from project dependencies)
- [ ] Review contributing guidelines
- [ ] Add table of contents and

[2017-06-29 05:55] robwise commented on #207
I think we definitely should go into greater detail of how the different options interact with each other. We've had a lot of issues in the past where people didn't properly understand how various settings were getting chosen, especially regarding the eslint integration and which version of prettier gets used. At first, we didn't have this because it was simpler, but lots of people requested it, s

[2017-06-29 06:26] tsdorsey opened #209 "isDisabledIfNotInPackageJson option title and description are contradictory"
The following option is contradicting itself. The way I read them...
Title: "If you find prettier modules in my dependencies then format with prettier on save"
Description: "If you find prettier modules in dependencies then DO NOT format with prettier on save"
<img width="833" alt="screenshot 2017-06-28 23 06 38" src="https://user-images.githubusercontent.com/473477/27673874-eb76f7d6-5c57-11e7-95e

[2017-06-29 07:34] robwise commented on #209
@tsdorsey The description text is wrong, it should be doing what the title says (if you have prettier in your deps, it formats, if you don't, it doesn't). This is the behavior you're getting, right?

[2017-06-29 07:44] tsdorsey commented on #209
Nope.

Node project.
`"prettier": "^1.5.2"` in my devDependencies
If I check that box no formatting happens (even though the status bar indicator is showing that format on save is on).

I'm using yarn.
Have done various gyrations of `yarn remove prettier` and `yarn add prettier --dev` with no luck.

Do I need to reload the project when the package file changes? Restart Atom?

[2017-06-29 07:51] tsdorsey commented on #209
Derp. My bad. 😞

I'm using [React Starter Kit](https://reactstarter.com/) and you can [see here](https://github.com/kriasoft/react-starter-kit/tree/master/src/components/Layout) that there are lots of package.json files in subfolders to reduce the number of index.js files in the project. The "is in deps" check is not recursive (which makes sense).

[2017-06-29 07:57] tsdorsey commented on #209
If I add a devDependencies with prettier to the subfolder package.json file and have the option on it works as expected.

[2017-06-29 07:57] robwise commented on #192
Closing this for now, please let me know if there's still something to be resolved and I will reopen

[2017-06-29 07:57] #192 closed

[2017-06-29 07:58] robwise commented on #155
@RichardChaumont are you still having this issue?

[2017-06-29 07:59] robwise commented on #203
Closing this for now, please let me know if there's still something to be resolved and I will reopen

[2017-06-29 07:59] #203 closed

[2017-06-29 08:00] robwise commented on #201
@jasonkuhrt Any word on this?

[2017-06-29 08:03] robwise commented on #190
@darahak do you think we should basically just wrap `formatOnSave` in a massive outer try-catch?

[2017-06-29 08:05] robwise commented on #209
@tsdorsey I will fix the docs right now. J/C though, if we checked for the binary in `node_modules/.bin` instead of reading the package json, would that find it properly? There's a similar problem with CRA and #191

[2017-06-29 08:20] #209 closed

[2017-06-29 08:48] robwise commented on #155
I just released 0.35.0 which uses prettier 1.5. Prettier 1.5 has CSS-in-JS support. Could you see if maybe this fixes the problem?

[2017-06-29 08:50] robwise commented on #205
I guess we can just wrap this subscription with a check of the atom version first? And then just don't display the tooltip otherwise? Are a lot of people using versions of Atom older than 1.18.0?

[2017-06-29 11:50] ZeeCoder commented on #192
Thanks for the feedback guys, awesome work!

[2017-06-29 12:17] poacher2k opened #212 "incorrect JSON formatting"
After running Prettier: Format with prettier-atom, JSON is incorrectly formatted. This does not seem to happen when using the CLI.

Looks to me like perhaps it's formatted as JS? See screen recording.

![prettier-atom](https://user-images.githubusercontent.com/2255960/27687064-a132b63c-5cd5-11e7-8687-8d6c22817c4b.gif)

<details>
Atom version: 1.18.0

prettier-atom version: undefined (<--this is th

[2017-06-29 13:55] robwise commented on #212
@poacher2k Are you using the package's version of prettier or a local version of prettier? Even though this is obviously happening as I can see in your GIF, I'm having trouble reproducing locally.

[2017-06-29 14:14] poacher2k commented on #212
@robwise: I'm using the package's version - no node_modules exist in the project folder, nor do I have prettier installed globally.

How strange that you can't reproduce it locally :confused:

[2017-06-29 14:54] mordaha commented on #212
Maybe this will help

[code]

[code]

[2017-06-29 15:25] robwise commented on #212
@mordaha The only way I'm able to get that error is if I purposely use a pre-1.5 version of prettier? If you run prettier-eslint-cli on that file with the parser set to json, does it still happen?

[2017-06-29 16:14] poacher2k commented on #212
@robwise: now testing on my home computer that runs windows 7 (my and my coworkers work computer runs linux), and I get the exact same error that I posted above.

![d50739d274ceb96b25b5941354d1eb34](https://user-images.githubusercontent.com/2255960/27698244-d166a158-5cf6-11e7-93e9-4c2ab8629686.gif)

[2017-06-29 16:51] jasonkuhrt commented on #201
@robwise I'm currently working on some TypeScript projects. Not sure when I'll get time to loop back on this = \

[2017-06-29 17:00] tsdorsey commented on #209
Yeah, it's installed and in the bin folder. Just read #191 and looking in `node_modules/.bin` would be an excellent solution.

[2017-06-29 17:33] michaeljcalkins opened #214 "TypeError: isCurrentScopeJsonScope is not a function"
This just started happening and I'm not sure what caused it.  In every React JavaScript file I get this error.  It prevents formatting from occurring.  I restarted Atom and it worked again.

[code]

<details>
[code]
</details>

[2017-06-29 17:42] todgru commented on #212
I'm getting this error as well. Prettier 0.35.0 and Atom 1.19.0-beta1.

[2017-06-29 18:11] mordaha commented on #212
@robwise At home comp (now) prettier-eslint-cli does the same error.
But prettier-atom in Atom doesn't.
Hmmmm.

[code]

[code]

prettier (1.5.2) from node_modules formats this file just fine.

Atom 1.18

[2017-06-29 18:17] todgru commented on #212
I just upgraded Prettier to 1.5.2. I am still able to reproduce the error.

[2017-06-29 19:53] ericeslinger commented on #212
I just started getting this error - upgrading to prettier-atom 0.35 with no local installation of prettier, and suddenly prettier wants to format package.json with trailing commas. After saving again, it chokes on the selfsame file (like, I delete all the trailing commas manually, hit save, and it adds them, then I hit save again and it errors parsing the json).

For the time being I created an .e

[2017-06-29 21:00] dodekeract commented on #214
Same here, first time I've seen this is today.

[2017-06-29 22:08] kentcdodds opened #215 "Format undoes all editor folds"
Here's a gif of the behavior. This happens whether I format manually or hit save to format.

![bad](https://user-images.githubusercontent.com/1500684/27712622-1c088b66-5ce5-11e7-9d51-0f143179b42d.gif)

Not 100% certain you can do anything about this, but maybe? Perhaps keep track of all the folded coded and refold it when you're done?

[2017-06-30 06:41] robwise commented on #214
@michaeljcalkins Do you mean you upgraded, didn't restart Atom, then got this error, then restarted Atom, and now it works?

[2017-06-30 06:48] robwise commented on #215
I'm not sure, I'd have to take a deeper look at how code folding is done. Unlike #105, this isn't just based on arbitrary line numbers (which can become inaccurate after formatting), so this one might be more within the realm of possibility.

[2017-06-30 08:58] darahak commented on #212
Last version of `prettier-eslint` depends on `prettier 1.5.0`.
`prettier 1.5.2` has this [fix](https://github.com/prettier/prettier/pull/2298) and I think we are always using range formatting, but I'm not sure.

[2017-06-30 16:09] michaeljcalkins commented on #214
@robwise I do not remember what happened first and it hasn't happened again.  It just stopped working, I turned on prettier-atom errors, and then this appeared.

If you released an update that was probably the issue.  I was doing some package work and I had to restart Atom to make it work right sometimes.

[2017-06-30 17:44] ryanhiebert opened #216 "Different formatting results from prettier-eslint-cli"
### Summary

`prettier-atom` is formatting my project differently from `prettier-eslint-cli`. Specifically, it's not doing the spacing inside braces. I'm using Standard, and the eslint standard rules to configure eslint.

`prettier-eslint-cli` (via `yarn run format`) gives this diff:

[code]

`prettier-atom` gives this diff:

[code]

### `package.json`

<details>

[code]

</details>

### Prettier

[2017-06-30 20:02] robwise commented on #216
@ryanhiebert You have `bracketSpacing: false` in your atom settings, so if this rule is missing from your eslint config, prettier-atom will fallback to your prettier-atom settings. Could you try setting this to `true` and see if it changes the behavior? Or set this to false, and set `"space-in-brackets": "always"` in your eslint config?

[2017-06-30 20:04] robwise commented on #214
Yes, Atom must always be restarted after updating a package. I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-06-30 20:04] #214 closed

[2017-06-30 20:10] darahak opened #217 "Debug command returns undefined for package versions"
Seen on recent issues.

Example:

<details>

[code]
</details>

[2017-06-30 20:12] darahak commented on #190
Looks like the way to go.
We should just ensure any error gets properly reported by the catch handler.

[2017-06-30 20:49] ryanhiebert commented on #216
That did what I needed, thank you. I think that I misunderstood what was meant by what the help string for the prettier-eslint setting:

I took that to mean that it would end up with the same settings that `prettier-eslint` would, but upon re-reading I see that is incorrect. It seems that Standard doesn't much care about the bracket spacing as long as it's even, so both meet the eslint configurati

[2017-06-30 20:49] #216 closed

[2017-06-30 20:57] darahak commented on #205
I don't know if it happens a lot, but I think it's still worth fixing for the few people that might experience this bug. It's possible some people stick to an older version if there are regressions that remain unfixed for example.

I'll read the docs and see if I can find an alternative.
If I can't find any, I'll apply your suggestion.

[2017-06-30 21:43] ryanhiebert commented on #216
Turns out that the `space-in-brackets` option has been replaced with `object-curly-spacing` and `array-bracket-spacing`. So for me, I needed to add this to my `package.json`'s `eslintConfig` section:

[code]

[2017-06-30 22:28] robwise commented on #190
Roger that

[2017-06-30 22:32] robwise commented on #216
If you have alternative wording you think would improve understanding, don't hesitate to make a PR! The problem is, we had more basic functionality, and then people wanted more advanced functionality like falling back to their atom settings, but now people are getting confused by that because there's more complicated checks and fallbacks going on under-the-hood :/

Oh oops, I'm glad you were still

[2017-06-30 22:36] robwise commented on #217
It would also be great if we could get:

- local prettier version detected
- local prettier-eslint version detected
- local prettier-eslint-cli version detected

That way we could tell whether we are picking up their local dependency or not, although maybe this is out of scope for this issue.

[2017-06-30 22:40] robwise commented on #212
Still trying to figure out what's going on, I was able to reproduce by turning the eslint integration off. I'm not really sure why that makes a difference. In the meantime I'd recommend changing the json scopes option in your prettier-atom settings to be just blank or `source.foo` or something. That's probably better than .gitignoring your package.json which is generally inadvisable.

[2017-07-01 00:11] ryanhiebert commented on #216
That sounds like it would be helpful. However, I think that what probably should happen is that the configured settings _not_ be used as the fallback configuration. I've been thinking about it a bit, and I'll open up a new issue to make my case. Then we'll see if you agree or not ;-)

Thanks for your help today!

[2017-07-01 00:24] ryanhiebert opened #218 "Use prettier-eslint defaults when installed in project"
As promised, making my case from my assertion in #216. If the concept is approved, and nobody is too antsy to wait for me to get around to implementing it, I'm willing to put in the work to make it happen.

-------

Right now, using `prettier-eslint` and `eslintConfig` is the only way to configure what `prettier-atom` will do for a project, so it applies to all users of that codebase. Prettier unf

[2017-07-01 08:26] bradennapier commented on #212
I got this error and a ton more - the entire thing has broken for me as posted in the prettier repo issues with screenshots.  It started by giving me errors on json -- it wants all my `:` to be `;` and adds trailing commas.

Then i noticed HTML formatting was happening and it appears the 0.35 version of atom-pretier shipped the HTML parser which is apparently not ready at this time

Then all the s

[2017-07-01 13:58] darahak commented on #212
@mordaha @poacher2k Could you check which version of `prettier-eslint` you have? (not `prettier-eslint-cli`) See `.atom/packages/prettier-atom/node_modules/prettier-eslint/package.json`.

`prettier-eslint 6.4.1` has a fix for that trailing comma issue (see https://github.com/prettier/prettier-eslint/pull/99), so you should only get that bug if you had an older version.

Looking at the stack traces

[2017-07-01 14:09] darahak commented on #212
If ESLint integration is disabled, we should also force disable the trailing-comma option.
I see that @poacher2k had it enabled in the original post.

[2017-07-01 15:40] mordaha commented on #212
@darahak

[code]

[2017-07-01 15:52] poacher2k commented on #212
@darahak: `6.4.1` here too.

[2017-07-01 16:20] bradennapier commented on #212
ok... ummm it fixed itself this morning??

[2017-07-01 18:10] robwise commented on #212
Correct, the guy who originally coded that made it that way and I never updated it. It uses local prettier but not prettier-eslint.

[2017-07-01 18:13] robwise commented on #218
If you are using the eslint integration, and you want everyone in the repo to consistently use, for example, semicolons, you should add that as a rule to your eslint config. That way your linters will catch it in case they forget to run prettier, and everyone's prettier-atom will act exactly the same way. If your prettier-atom is having to fall back to your personal settings, that means you didn't

[2017-07-01 18:23] #212 closed

[2017-07-01 18:23] #205 closed

[2017-07-01 18:28] robwise commented on #207
Oh also, it might be useful to list a mapping of the eslint rules to their prettier rules, so people know what rules to set in their eslint config

[2017-07-01 22:11] darahak commented on #217
@robwise That's a good point. I'll open a separate issue so I can close this one with the bugfix.

[2017-07-01 22:14] darahak opened #222 "Add local dependencies to prettier:debug output"
Idea from #217.

Would be nice to add:

- [ ] Detected local `prettier` version
- [ ] Detected local `prettier-eslint` version
- [ ] Detected `prettier-eslint-cli` version
- [ ] ESLint config if using `prettier-eslint` (see [getConfigForFile](http://eslint.org/docs/developer-guide/nodejs-api#getconfigforfile))

[2017-07-01 22:41] darahak commented on #207
All great suggestions, thanks @robwise!

I see what you're talking about, but I was referring to a table of contents and links that redirect to that table. I'll rephrase that item.

I agree. Let's focus on being didactic and effective with a short "getting started" section.
Options will speak for themselves.

Although we should address some subtleties like the scopes being in `Format on Save` but

[2017-07-02 07:01] jameswyse commented on #204
I'm having the same issue. They also show up as linter errors:

<img width="660" alt="screen shot 2017-07-02 at 4 59 29 pm" src="https://user-images.githubusercontent.com/1144357/27767851-f3983ec8-5f47-11e7-9446-2ce809bdfd0b.png">

prettier:debug output:

[code]

[2017-07-02 10:09] lifeiscontent opened #224 "no-mixed-operators eslint rule not being respected"
when using prettier-atom with the rule http://eslint.org/docs/rules/no-mixed-operators

it removes the mixed operator formatting

this:

[code]

turns into this:

[code]

[2017-07-02 10:26] robwise commented on #224
@lifeiscontent This is just the atom integration. Prettier itself has no ability to switch this off, and because eslint can't autofix this, there's nothing we really can do on this repo. I would suggest either trying to get this to be eslint fixable or petitioning the prettier repo to make this an option.

I am going to close this for now, please let me know if there is still something that needs

[2017-07-02 10:26] #224 closed

[2017-07-02 10:44] #217 closed

[2017-07-02 10:45] robwise commented on #155
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-07-02 10:45] #155 closed

[2017-07-02 10:47] robwise commented on #201
I'm pretty sure this is either a configuration or a prettier-eslint issue, not an issue with the prettier-atom package itself.

I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-07-02 10:47] #201 closed

[2017-07-02 15:53] peterpme commented on #190
:wave: I have the same issue. Disabling prettier-atom fixed this for me

[2017-07-02 20:39] #190 closed

[2017-07-03 17:15] ryanhiebert commented on #218
First, thank you for all the hard work that you've put into prettier-atom. It has made my life less mired with dealing with styling, since I know that a quick save will fix things for me, and I can just _move on_ with my life.

-------

If prettier is being used by a project, with or without eslint, its basic utility for the project is compromised if it doesn't format consistently between users. F

[2017-07-03 19:40] tjshipe commented on #212
I'm seeing the same`unexpected token, expected ;` issue in JSON files.

[2017-07-03 20:09] darahak commented on #212
@tjshipe Could you post your config (run `prettier:debug`) and the call stack for the exception?
I think we have two separate issues here:

- `trailingComma` being added even for JSON (fixed in latest release)
- `unexpected token` probably because it's reading JSON with a JS parser, don't know why

[2017-07-03 20:24] tjshipe commented on #212
@darahak here is the config:

`Atom version: 1.18.0
prettier-atom version: undefined
prettier version: undefined
prettier-eslint version: undefined
prettier-atom configuration: {
  "formatOnSaveOptions": {
    "enabled": true,
    "showInStatusBar": true,
    "respectEslintignore": true,
    "javascriptScopes": [
      "source.js",
      "source.jsx",
      "source.js.jsx",
      "source.babel",

[2017-07-03 20:54] darahak commented on #212
@tjshipe Which version of Prettier do you have in `/Users/shipe/workspace/javascript/complete-react/node_modules/prettier`?

[2017-07-03 20:58] tjshipe commented on #212
@darahak `1.3.1`

[2017-07-03 21:04] tjshipe commented on #212
I just updated Prettier to 1.5.1 and that fixed the issue. Thanks @darahak

[2017-07-03 21:06] darahak commented on #212
@tjshipe `< 1.5.0` doesn't have JSON support.
You can either update that dependency or if you don't care about formatting JSON, erase the JSON scopes in `prettier-atom`'s settings.

Users requested to be able to use their locally installed `prettier`, but we have nothing to prevent them from using obsolete versions.
We should at least display a warning or something.

[2017-07-04 13:54] robwise commented on #218
I agree that inconsistency between users on the same project is not desirable, I guess I was explaining in sort of a weird way. I'm saying that the intention of prettier-eslint is that you're supposed to eliminate this inconsistency by putting the rule in the eslint config and not rely on any fallbacks. That will solve this issue entirely, with the nice side-effect that your eslint script will pic

[2017-07-05 14:02] ryanhiebert commented on #218
I agree that we should prefer the user's settings of prettier-atom when eslint doesn't give any guidance, as long as the project isn't actually using prettier. However, I can't think of a case where a project is using prettier, but wants the user to format it however the user desires. The project may not care about what the specific style is, but the contract of uniformity is still implied.

Let m

[2017-07-05 14:05] ryanhiebert commented on #218
Also, I'll note that for my own project I have gone ahead and added the rule that I needed to the eslint config, so that the question isn't an actual concern for me. I'm arguing my case on principle, because I think that there's a clear case that it should be the preferred choice. I see adding the eslint rule as a workaround, rather than fixing the problem, so I'm trying to help make things easier

[2017-07-05 14:22] robwise commented on #218
We're not really arguing, just having a friendly discussion expressing our viewpoints on how to make the plugin better, which I always welcome :)

I guess it comes down to what is preferable if the project fails to properly configure their rules (whether it's an eslint config or a hypothetical prettier config if/when that's supported). With your way, it will help projects who've made this mistake

[2017-07-05 15:06] #146 closed

[2017-07-05 15:33] ryanhiebert commented on #218
Good. Here's to hoping I don't ever make it seem otherwise, if I dip into unfriendly discussion, then that's the farthest thing from what I want to be doing.

We disagree as to whether a partially-specified configuration is an improper configuration. I don't think that it is an improper configuration.

We disagree as to whether "partial configuration" constitutes "proper configuration". In prettie

[2017-07-05 16:24] robwise commented on #218
Yeah, I guess you're right, this is what I'm getting hung up on. Why if you want to enforce the use of semicolons project-wide are you not putting that in the project's config?

[2017-07-05 17:16] ryanhiebert commented on #218
Because I don't _care_. I just want to do whatever prettier does, and never consider it. That's why I'm using prettier, so that I don't have to think about all the possible stylistic preferences that prettier deals with.

If I don't agree with prettier's choices, it does _allow_ me to care about things, if I want to care about it. But then I don't have to care about everything, only the stuff that

[2017-07-05 17:53] robwise commented on #218
If you want to use the prettier defaults because you don't care, why did you change your prettier-atom settings to be non-default?

[2017-07-05 18:57] ryanhiebert commented on #218
Because I do care as a _user_, but not as a project maintainer. When I'm doing things for my own way, then I'll use my preferences, but I'll be interacting with different projects that don't care, but still want things consistent. It's not just about me, of course, and sometimes when I use "I" I'm referring to different roles I may take. In answering your question, I was taking the role of the _pr

[2017-07-07 07:30] hmeerlo opened #226 "linter is incompatible with nuclide"
Hi, I just upgraded prettier-atom, but unfortunately it now tries to use the linter package which is not compatible with nuclide. Is there any way to get it compatible with nuclide-diagnostics as well? Otherwise I can not use prettier-atom anymore.

[2017-07-07 07:33] hmeerlo commented on #226
And if I enable linter anyway, I get the following error:

[code]

[2017-07-07 09:59] peterp commented on #222
This would be helpful, right now my `Format Files on Save` isn't working when `only format if Prettier is found...` is checked, but I have:

[code]

in my `devDependencies`

[2017-07-07 11:24] fanyer commented on #155
same here. `.js` files run correctly, while `.vue` wrong.

[2017-07-07 11:47] fanyer commented on #155
In my case, all rules in `.eslintrc` works normally in `.js` files.
However, not all parts of rules in `.eslintrc` works in `.vue` files.

my `.eslintrc`:
[code]
In `.vue` files,
`semi` rules works, while `  "space-before-function-paren": [2, "always"],` doesn't work.

[2017-07-07 12:11] mattapperson commented on #226
I am getting this too but do not have nuclide installed

[2017-07-07 12:16] mattapperson commented on #226
My stack trace...
<details>

TypeError: Cannot read property 'line' of undefined
    at buildPointArrayFromPrettierErrorAndRange (/Users/mattapperson/.atom/packages/prettier-atom/dist/executePrettier/handleError.js:16:37)
    at setErrorMessageInLinter (/Users/mattapperson/.atom/packages/prettier-atom/dist/executePrettier/handleError.js:32:29)
    at /Users/mattapperson/.atom/packages/prettier-ato

[2017-07-07 12:31] mattapperson commented on #226
hmmm it seems not all errors have the error.loc.start error signature, and this implementation does not take that into account. Some are just `error.loc = {line: 5, column: 8}`

[2017-07-07 15:28] ffxsam opened #228 "[0.36.0] No more error dialogs when formatting invalid code"
Prettier no longer pops up error dialogs if you try to run `Prettier: Format` on code with syntax error(s).

[code]

[2017-07-07 15:30] robwise commented on #228
This is by design, we are now using the `linter` package to display errors inline. If you have linter already installed, you should see it right away, if not, you should have seen a message prompting you to install it?

[2017-07-07 15:34] ffxsam commented on #228
Ah! I had `linter` disabled because it didn't play nice with Nuclide, but now that `linter` v2 is out, that seems to have been cleared up.
Thanks.

[2017-07-07 15:42] robwise opened #229 "Cannot read property line of undefined"
Error due to unexpected API from Errors coming from Prettier. From @mattapperson in https://github.com/prettier/prettier-atom/issues/226#issuecomment-313665570

[2017-07-07 15:42] robwise commented on #226
I need to look more into this, I will try and make it work with nuclide diagnostics

Woops, okay, willfix, thanks for investigating this! I made a separate issue for this here: https://github.com/prettier/prettier-atom/issues/229

[2017-07-07 15:56] robwise commented on #226
@hmeerlo According to this post https://github.com/prettier/prettier-atom/issues/228#issuecomment-313715801 you should be able to just leave linter disabled and nuclide diagnostics will automatically stand-in for it. Do you think maybe that this is the case, and that #229 is actually the only problem here?

[2017-07-07 16:00] #229 closed

[2017-07-07 16:03] robwise commented on #226
I just published 0.36.1, can you see if that resolves the issue?

[2017-07-07 17:03] robwise commented on #226
@steelbrain Do you know if I have to do anything special to get nuclide to work with linter? Can users just leave linter disabled and somehow nuclide inserts itself and uses the linter API?

[2017-07-07 17:04] steelbrain commented on #226
@robwise Yep! Nuclide tries to work with linter providers out of the box, so if you install Nuclide it'll try to use every Linter provider you have, you can disable this in Nuclide settings tho

[2017-07-07 18:51] hmeerlo commented on #226
@robwise 0.36.1 works fine for me without installing Linter and therefore relying on nuclide-diagnostics. Thanks for the quick fix!

[2017-07-07 19:48] robwise commented on #226
@hmeerlo Awesome, okay closing this issue for now!

[2017-07-07 19:48] #226 closed

[2017-07-07 20:59] jessehattabaugh opened #231 "Uncaught TypeError: Cannot read property 'start' of undefined"
[Enter steps to reproduce:]

1. Open Javascript file
2. Select text
3. Select "format with prettier" from context menu

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Mac OS X 10.12.5
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.36.1

### Stack Trace

Uncaught TypeError: Cannot read property 'start' of undefined

[code]

### Commands

[code]

### Non-Cor

[2017-07-07 21:01] jessehattabaugh commented on #231
I tried creating a new js file in a new directory and couldn't reproduce this error. So I suspect that this has something to do with the structure of my project, but I don't know what that could be. It's a proprietary repo so I can't easily share. There is no .eslintrc, and the package.json is in a different subdirectory than the javascript I'm trying to format.

[2017-07-07 21:36] robwise commented on #231
This seems like there was an error trying to parse your code, and then for some reason, prettier returned that error object without including the `loc` property on it, which we were not anticipating would ever happen. I can write a fix that at least lets the error pass through so you can see what the original error from prettier was. I am going to create an issue over there and see what the deal i

[2017-07-07 21:38] jessehattabaugh commented on #231
If I copy and paste the contents of the file into a new file in a different directory prettier formats it with no problems.

[2017-07-07 21:43] robwise commented on #231
Hmm, very strange, here is the issue: https://github.com/prettier/prettier/issues/2428

Without seeing the original error, I can't say what's going wrong. I will try and include a fix so that at least this original error gets passed through and we can see what Prettier doesn't like.

[2017-07-08 00:34] julenr commented on #231
Hi, first of all thanks for this amazing tool.
I have the same issue in Mac and PC and is related to ESLint. When I disable it, everything works fine.

Atom: 1.18.0
ESLint 4.1.1
prettier-atom: 0.36.1
OS: Mac OS X 10.12.5 and Win 10

[2017-07-08 19:33] ryanhiebert commented on #34
Does prettier/prettier#1637 change things here?

[2017-07-08 19:36] robwise commented on #34
@ryanhiebert probably, reopening!

[2017-07-08 19:37] robwise commented on #204
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-07-08 19:37] #204 closed

[2017-07-09 07:45] lifeiscontent opened #232 "Destructuring without const/let breaks prettier"
Object Destructuring breaks prettier on save.

[code]

this javascript, when trying to save will blow up prettier-atom even though it is valid ES6.

[2017-07-09 16:15] robwise commented on #232
@lifeiscontent this is just the atom integration, are you sure this isn't just a problem with prettier itself?

[2017-07-09 18:29] SeanBannister commented on #231
Just confirming this bug and that the fix was turning off "ESLint integration" as julenr suggested.

[2017-07-09 18:32] robwise commented on #231
Hmm, then that must mean this is an error with prettier-eslint, and not prettier itself?

[2017-07-10 04:02] Sam1301 commented on #231
+1, oddly enough for me the error went away when I enabled  `ESLint integration`.

[2017-07-10 09:15] lifeiscontent commented on #232
@robwise good question, as I haven't dug into the depths of prettier, I'm unsure, but I can repost it there if you like.

[2017-07-10 16:17] WangQianliang opened #233 "format on save doesn't work"
format on save doesn't work for me

[code]

[2017-07-10 16:43] jessehattabaugh commented on #231
Disabling ESLint did solve the problem for me. But I also use ESlint in a couple different projects, with different settings. So, would still like for it to work.

[2017-07-10 18:11] robwise commented on #233
Can you provide some more details?

[2017-07-10 18:55] hattmarris commented on #233
Hi @robwise I've also observed this bug introduced in either `0.36.0` or `0.36.1` (I *think*).  Here are some screen caps of the behavior with 0.36.1 installed:

Formatting manually (^⌥F) some test JSX (formats correctly) -
![](http://g.recordit.co/oTKPP9ZnWF.gif)

Saving and expecting format on save -
![](http://g.recordit.co/Zdl7GxZYGx.gif)

[2017-07-10 20:58] robwise commented on #232
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-07-10 20:58] #232 closed

[2017-07-10 23:37] rotexhawk commented on #73
I am still having an issue with this. I have .html in my list of exclude globs and it ignores it.
It messes up my .html files but if I turn off format on save, .html file looks good.

[2017-07-11 01:07] robwise opened #234 "Formats Embedded JS in HTML on Save Even if it's an Excluded Glob"
https://github.com/prettier/prettier-atom/issues/73#issuecomment-314279638

[2017-07-11 09:26] WangQianliang commented on #233
after reinstall prettier-atom, disable linter-eslint's fix on save and enable linter-eslint's fix on save, now it works fine magically

[2017-07-11 14:25] chmac opened #235 "No errors shown with linter"
Excited to see the upgrade for inline error reporting. Saw #228. I have linter installed and enabled. But I don't see any errors at all from prettier, yet my code has a syntax error and so will not format.

Do I need to have linting enabled in this project or for this file or something like that?

In general, love the idea of the new approach, looks like there are maybe some kinks. Would it be fea

[2017-07-11 16:01] robwise commented on #235
Do you have the `linter` package installed and enabled?

[2017-07-11 16:02] robwise commented on #233
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-07-11 16:02] #233 closed

[2017-07-11 19:44] chmac commented on #235
:-)

[2017-07-11 21:04] robwise commented on #235
Oh my bad lol

good news, I was able to reproduce, working on a fix now

[2017-07-11 21:29] robwise commented on #235
@darahak Are you able to reproduce this?

[2017-07-12 09:44] chmac commented on #235
@robwise If there's anything I can do to help with testing / debugging, just let me know.

[2017-07-12 15:44] robwise commented on #235
@chmac The weird thing is I'm having trouble reproducing. I wonder if it's specific to the source code or the project structure or something?

You can put your own print statements in and see what's going on.

[code]

Then reload your window from command palette after you make a change and want to see its results.

This is where we catch any errors that get thrown from running prettier: https://gi

[2017-07-12 23:01] chrisbull commented on #231
Solved!

Not sure why this had to happen this way, but here is the fix that worked for me:
[code]

[2017-07-12 23:57] robwise commented on #231
Perhaps it was an old verison of prettier with a different API or something?

[2017-07-13 11:47] jsnajdr commented on #231
This is the error that triggers this issue for me:
[code]

[2017-07-13 12:17] jsnajdr commented on #231
This recent Atom PR seems to have a fix: https://github.com/atom/atom/pull/14761
I use Atom 1.18.0 and this PR was merged after the release.

[2017-07-14 10:15] quizzy commented on #231
Hi, I had the same bug but from a different circumstances:
- Created a fresh install of Create React App
- Already had an existing install of the `prettier-atom` plugin with pre-existing settings
- Opened `App.js` and saved it to invoke the 'Format Files on Save' option from `prettier-atom' plugin
- `Cannot read property 'start' of undefined` error pops up and auto format doesn't happen.

My Fix:

[2017-07-17 00:34] jjabraham commented on #231
Hi,
i'me getting this bug as well. I'm not using ESLint in my project So I dont know if that's an issue. i have tried all of the fixes mentioned above but not luck.

[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.18.0 x64
**Electron**: 1.3.15
**OS**: Ubuntu 16.04.2
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.36.1

### Stack Trace

Uncaught TypeErr

[2017-07-18 10:26] mmvsha commented on #231
Hello, i have the same bug, disabling ESLint did not help.

**Atom**: 1.17.2 x64
**Electron**: 1.3.15
**OS**: Ubuntu 16.04.2
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.36.1

### Stack Trace

Uncaught TypeError: Cannot read property 'start' of undefined

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-07-18 16:24] rpylipow commented on #231
I was having the same issue which seemed to be related to #169. Using @marcusmotill 's [solution](https://github.com/prettier/prettier-atom/issues/169#issuecomment-302188076) worked for me.

[2017-07-18 22:20] cmmartin commented on #226
Why the `linter` dependency all of the sudden? Is it just for displaying errors? Or are we actually linting in prettier now?

I saw the new `linter` dependency and almost cried. We came to prettier to avoid `eslint`!

[2017-07-19 00:24] jjabraham commented on #231
Thanks @rpylipow That seems to have fixed the problem.

[2017-07-19 02:17] robwise commented on #226
Who said anything about eslint?

[2017-07-19 02:23] julenr commented on #231
Sorry but I am still having the problem.
When I change tabWidth: "2" to tabWidth" 2 Atom removes this line and the problem continues.

[2017-07-19 09:36] vitorbal commented on #218
Now that prettier supports taking in a config file as of https://github.com/prettier/prettier/pull/2434, this discussion seems even more relevant.

[2017-07-19 12:54] thoragio commented on #231
@robwise I love Prettier. Thanks for such an excellent productivity tool for developers!

I had this same issue and disabling ESLint integration solved it for me. I looked into it a little further and here is what was causing the problem.

I have the following ESLint rule in *.eslintrc*:
`"operator-linebreak": [2, "after"]`

Here is the code that was causing me trouble:
[code]

When I tried to use

[2017-07-19 20:19] cmmartin commented on #226
I am asking why this plugin now depends on the `linter` package?

[2017-07-19 21:05] robwise commented on #226
Yeah it's just an atom package that displays errors, nothing to do with eslint

[2017-07-19 21:09] cmmartin commented on #226
Hooray. Thanks!

[2017-07-19 22:16] julenr commented on #231
Following to @thoragio solution, mine was similar but with a different ESLint rule.

In my case I had: "comma-dangle": [0] and it was causing the error. I have changed for "comma-dangle": ["error", "never"] and now it works fine.

Hope this can help.

Cheers

[2017-07-20 00:29] ryanhiebert commented on #218
Looks like this discussion was alluded to in that issue. The answer given to his question, though, was unsatisfying. Basically not making it clear what partial configuration means to the prettier team, unfortunately.

[2017-07-21 09:59] nadeemja opened #236 "Getting closing and opening brace on the same line separated by comma"
Hi,

I'm using the latest Atom and prettier-atom.

No matter what I do, I can't get prettier-atom to stop putting braces inside parentheses on new lines. I have tried brace-style: '1tsb'.

What I want:
[code]

What I get instead:

      Clients.update(
        {
          ext_id: c.id,
        },
        {
          $set: {
            ext_id: c.id,
            name: c.name,
            status: c.

[2017-07-21 13:28] nickdima opened #237 "GraphQL support"
Is GraphQL  support already enabled? I saw that prettier introduce it in v1.5.0.

[2017-07-21 19:30] robwise commented on #236
@nadeemja Is this a problem with how prettier-atom is passing the option to prettier, or is this a problem with prettier itself? This is just the atom integration that calls it under the hood.

[2017-07-21 19:31] robwise commented on #237
@nickdima Not yet, I will hit it this weekend!

[2017-07-22 22:53] robwise commented on #231
@thoragio Going by @julenr's comment, can you try changing your rule to:

[code]

If this is the case, it sounds like there is a problem with how the prettier-eslint repo is reading the config?

[2017-07-22 22:56] robwise commented on #231
All - we're getting a whole jumble of errors, some seem related some seem might not be. I think the key thing here is that when we went to using `linter` to display syntax errors inline, I didn't consider that we may have non-syntax-related errors that need to be displayed by other means. I'm going to add the popup-style errors we used to have for the cases where the errors aren't syntax errors. T

[2017-07-22 22:56] #237 closed

[2017-07-22 23:46] robwise commented on #234
@rotexhawk I believe the issue was that you had `.html` and not `*.html` as your glob in your excluded globs. I can't reproduce this otherwise.

[2017-07-22 23:46] #234 closed

[2017-07-23 00:05] robwise commented on #235
@chmac I just released 0.37.0, can you try that version and see if it makes any difference?

[2017-07-23 09:18] chmac commented on #235
@robwise Awesome, will do. Will be back at my machine Tuesday and will report back then...

[2017-07-23 13:06] thoragio commented on #231
@robwise Passing `"operator-linebreak": ["always", "after"]` was invalid, but I tried both `"operator-linebreak": [0, "after"]` and `"operator-linebreak": [1, "after"]` and in both cases I got the same error as mentioned at the start of this thread.

[2017-07-23 13:09] thoragio commented on #231
I just installed v0.37.0. When I try to run prettier now on the same file, I get a red pop-up error window that says "prettier-atom failed: Cannot read property 'arrays' of undefined".

[2017-07-23 13:47] Sam1301 commented on #231
this is fixed for me after upgrading to v0.37.0 🎉

[2017-07-23 19:12] robwise commented on #231
@thoragio what's the trace?

[2017-07-23 23:58] nadeemja commented on #236
@robwise

Thanks chiming in :)

When I run eslint --fix from the command line, it actually works the way I want.

In the devtools atom-prettier says, I think, something about config file not found for eslint,

However, from what I can tell from docs, I've configured correctly (VS Code finds the file).

Also, I've tried every conceivable combo of local vs global eslint@3 install.

Please do let me

[2017-07-24 01:38] robwise commented on #236
Can you try running `prettier-eslint-cli` and if it creates the same result? If so, it's a problem with that library and not prettier-atom itslef

[2017-07-24 05:44] lednhatkhanh commented on #233
It doesn't work for me too, this should be reopen, I tried to reinstall prettier-atom, disable eslint auto save, re-enable the prettier format on save settings but still doesn't work...

[2017-07-24 05:52] lednhatkhanh commented on #233
Update: After installing prettier-eslint as a devdependencies the `Format on save` settings start to work.

[2017-07-24 07:02] robwise commented on #233
Do you need me to reopen? I need help finding where the bug is or how to reproduce as most people aren't running into this it seems.

[2017-07-24 11:46] thoragio commented on #231
@robwise I get nothing in the console. Just the pop-up error mentioned above.

![image](https://user-images.githubusercontent.com/9831905/28521988-69a53050-7076-11e7-917b-076dd280ff32.png)

[2017-07-25 12:59] oriSomething commented on #105
After some research and the fact prettier doesn't support `sourcemaps` I think there is no a good solution that can be maid in reasonable amount of time.
For now, there are other "work arounds" or more correct using different ways for bookmarking in Atom:

- [Nuclide outline view](https://nuclide.io/docs/features/outline-view/) - it's not a bookmarks manager but it gives okay way to navigate to sy

[2017-07-25 12:59] #105 closed

[2017-07-26 15:37] chmac commented on #235
@robwise Took a few days, but it looks like there's no change on my system. I saw no linter error today but the code was broken, so my app was crashing, and it took me a minute to figure out why. I'm guessing that means the issue persists. Will try to find time to get into the debugging steps you recommended.

[2017-07-27 07:38] joshagudo opened #241 "Unable to set tabWidth"
Getting an error trying to set the tab width to 2.

![screen shot 2017-07-27 at 5 35 09 pm](https://user-images.githubusercontent.com/6194037/28659266-323e0910-72f2-11e7-84c1-4b429d117fc0.png)

![screen shot 2017-07-27 at 5 34 59 pm](https://user-images.githubusercontent.com/6194037/28659269-36926b46-72f2-11e7-873a-96efc27c4d25.png)

Atom version =  1.18.0
prettier-atom = 0.37.0

[2017-07-27 21:53] jasonLaster opened #242 "automatically removes debugger statements"
Prettier automatically removes my debugger statements (not very nice :P).

Here is a conversation  with @kentcdodds https://twitter.com/jasonlaster11/status/890683399974920194

![](http://g.recordit.co/md9BoWdB1T.gif)

<details>

[code]

</details>

[2017-07-27 22:01] kentcdodds commented on #242
So here's a proposal. I think that this would actually be a change in prettier-eslint rather than prettier-atom... We could add a property in the `settings` of your eslint config to do this. For example:

[code]

The `prettier-eslint` property would effectively be an eslint config that would override the rest of your config. I'm not sure how easy that would be (like supporting `extends` and stuff

[2017-07-28 03:51] robwise commented on #242
That would be one way to solve it. The disadvantage is now you can't use prettier-eslint to auto-fix this in the cases where you actually _do_ want it to fix that. In other words, it seems when you're using prettier-atom, you probably don't want to remove the debugger, but if you're using prettier-eslint in some sort of validate script, you probably do.

In order to get both, you could allow passi

[2017-07-28 04:02] kentcdodds commented on #242
That seems fine to me :+1:

Anyone wanna work on that? I guess I should file this on the `prettier-eslint` repo.... 🤔 But don't let that stop anyone from starting a PR :wink:

[2017-07-28 08:19] chmac commented on #235
I thought I had found a reproduction, because I have a file which shows no linter errors, but which will not format. I tried to copy the file elsewhere so I could strip out pieces and see if I could figure out what was causing the issue. But when I opened the file in a different location, linting errors show up. Also, if I close the original file and reopen it, the linting errors show up.

At best

[2017-07-28 09:50] robwise commented on #235
@chmac Hahaha, well I use vim-mode-plus as well (I can't live without it). Come to think of it, I _have_ been noticing strange counts in my linter but no actual errors that I can find. Some people have reported success with getting errors not to happen by manually installing `prettier` and `prettier-eslint` in their package.json (prettier-atom is smart enough to pick these up).

[2017-07-31 13:47] joshagudo commented on #241
@robwise manually updating it from `"2"` still doesn't seem to apply any change (reverts back to editor tabWidth). I've ensured that when manually formatting a file the following exists in the configuration file: `tabWidth: 2`

[2017-08-01 01:17] robwise commented on #241
Can you copy and paste everything under `"prettier-atom"` in your config.cson?

[2017-08-01 02:53] joshagudo commented on #241
[code]

[2017-08-01 03:13] robwise commented on #241
This is really leaving me scratching my head—these settings look perfectly fine.

[2017-08-01 03:16] robwise commented on #241
This might be a long shot, but can you try the fix in this comment? https://github.com/prettier/prettier-atom/issues/169#issuecomment-305466675

[2017-08-01 03:42] joshagudo commented on #241
@robwise unfortunately no luck even after clearing state - with tabWidth in `config.cson` it seems to still refer to the `editor.tabLength`. If this helps here is from debug:

[code]

here is my entire `config.cson`:
[code]

[2017-08-01 21:00] pwolfert opened #243 "Whitelist globs not matching"
I'm not sure if the whitelist globs are working, and I'm not sure how to test it either. I know the globs themselves match when using `minimatch`, but format on save doesn't work on those files. I've also tried blacklisting what I don't want, and that doesn't seem to work. My globs look like:

[code]

Does it not use the full path? I've also tried just `**/PROJECT/**/*`.

Output of `Prettier: Debu

[2017-08-01 21:45] robwise commented on #243
We actually switched to `ignore-globs` so we aren't using `minimatch` anymore. Are you sure you haven't enabled `Only format if Prettier is found in the dependencies` and that these files aren't in an eslintignore (or you haven't enabled that option)?

[2017-08-01 22:23] pwolfert commented on #243
`Only format if Prettier is found in the dependencies` isn't an option for me. I've got the defaults except for `Format on Save` being enabled. Screenshot (minus the globs):

<img width="867" alt="screen shot 2017-08-01 at 3 22 11 pm" src="https://user-images.githubusercontent.com/7595652/28849732-525ed3e4-76cd-11e7-966a-2902f66055f7.png">

And I have no `.eslintignore` file in my project.

[2017-08-01 23:15] robwise commented on #243
@kentcdodds Have you had any problems with whitelisting globs? I think you use this feature a lot?

[2017-08-01 23:26] pwolfert commented on #243
Updated to `0.37.0`, and still no dice.

[2017-08-02 03:33] duro commented on #209
@robwise I'm actually finding this not working as expected on my end. I have prettier in my devDependencies, and no further nested package.json's (just one at the root) and when I have this option turned on it does not auto-format on save. But when I have it turned off, it does auto-format.

[2017-08-02 06:37] robwise commented on #209
@duro can you make an example repo from scratch that reproduces this? There might be some sort of edge case that I'm overlooking, as it stands right now I'm not able to reproduce.

[2017-08-02 19:37] egoens commented on #231
@robwise When on `v0.37.0` there is no stack trace. If I roll back to `v0.35.0` I get the **TypeError: Cannot read property 'arrays' of undefined** error with a stack trace included. Hope this helps:

[code]

[2017-08-03 00:45] jasonkuhrt opened #244 "new error with typescript project"
I started getting this error today on a typescript project that perviously had no issue:

[code]

[code]

Is this happeing to anyone else?

[2017-08-03 03:01] robwise commented on #244
@jasonkuhrt Did you add packages to your JSON, change a prettier-atom option, add ESlint, upgrade prettier-atom, etc.? It would be very strange for it to all of the sudden start having different behavior if nothing actually changed?

[2017-08-03 03:02] robwise commented on #231
@egoens Yes it does, that looks like this is due to a prettier-eslint error, can you make an issue on that repo?

[2017-08-03 13:32] jasonkuhrt commented on #244
@robwise I don't think so but I agree that does not make too much sense. It's possible something editor-side happened without me noticing. For example An auto update. This project is pure typescript and has no eslint deps. Should that matter?

[2017-08-03 16:32] pwolfert commented on #243
Upgrading gave me this option, which works for me:

<img width="810" alt="screen shot 2017-08-03 at 9 32 00 am" src="https://user-images.githubusercontent.com/7595652/28932540-b1288c46-782e-11e7-868f-9c0e83ab753f.png">

[2017-08-04 03:27] robwise commented on #244
It seems to be looking for an eslint parser, so for some reason it thinks there is eslint going on?

[2017-08-06 23:36] jasonkuhrt commented on #244
Weird, there's no deps that seem to explain this:

[code]

Or project root files:

[code]

[2017-08-07 02:55] robwise commented on #244
Oh sorry I must have missed this the first time, you have `useEslint` as `true` in your settings

[2017-08-08 19:07] cspanring commented on #231
FWIW, I was running into this issue and it seems it was caused by an invalid eslint rule: I had

`'comma-dangle': ['off'],`

...compared to possible `comma-dangle` options listed on http://eslint.org/docs/rules/comma-dangle). prettier-eslint was tripping over that (thanks @egoens for the stack trace!).

[2017-08-09 07:59] posebear1990 commented on #235
I have same problem, and this is my option:
[code]

[2017-08-09 11:36] johanhenrikssn commented on #235
I had the same problem, but I had the linter package disabled. Enabling it gave me errors, but after uninstalling it, I got a prompt saying that prettier-atom wants to install the linter package and now it's working.

[2017-08-09 12:48] thoragio commented on #231
@cspanring Thank you! I had it set to just `[0]` in my linting rules, but changing it to `["error", "never"]` has fixed it for me.

Thanks again.

[2017-08-10 02:31] robwise commented on #231
It seems like this was the fix for several people. I wonder how we can make eslint config validation errors more obvious? It might need to go inside of prettier-eslint?

[2017-08-10 02:32] robwise commented on #235
Yes `linter` is required for this package

[2017-08-10 14:01] cspanring commented on #231
As you mentioned above, the error bubbled up from prettier-eslint. A better error handling there, with a more verbose custom error message, would be helpful to the user to better understand what went wrong.
I was refactoring the method in question, when I figured out that my eslint rule is off. I can try go in again and see if there's room for better error handling.

I'm not familiar how Atom and

[2017-08-10 14:13] robwise commented on #231
We can pretty much do whatever we want, I tried to write this plugin in such a way that it's mostly just a normal node program most of the time. On those occasions where it tries to mess with atom, it has to go through a clearly-defined (I hope) interface so you know when you're entering atom territory and it's more developer-friendly.

Right now, if we received a syntax error, we use the linter p

[2017-08-12 20:33] gperdomor commented on #226
I'm using nuclide and I get this error... Seem like still tries to use linter

<img width="580" alt="screen shot 2017-08-12 at 4 31 18 pm" src="https://user-images.githubusercontent.com/371939/29244007-c1aa5596-7f7b-11e7-83a3-431ad13d2a9f.png">

[2017-08-12 20:36] gperdomor commented on #235
I'm using `Nuclide` with nuclide diagnostic which is incompatible with `linter`... I'm getting this error, should be nice that package detect which linter is installed
<img width="580" alt="screen shot 2017-08-12 at 4 31 18 pm" src="https://user-images.githubusercontent.com/371939/29244028-43639af2-7f7c-11e7-9ca2-3dc79d54af08.png">

[2017-08-12 21:18] robwise commented on #226
@gperdomor It's not an error, just hit no and it should work fine. This detection behavior is from the package-deps repo so I can't rewrite it here: https://github.com/steelbrain/package-deps

[2017-08-13 16:00] ffxsam commented on #228
@robwise This issue is back for some reason. I have `linter` installed, and I have `eslint` in my `devDependencies` in my project (no `.eslintrc` though). And in the `prettier-atom` package settings, I have "ESLint Integration" checked.

[2017-08-14 22:40] Sly777 opened #248 "prettier-atom failed: Error while loading rule 'graphql/template-strings'"
## Env Info
Atom v.: 1.19.x
macosx v.: el capitan
Prettier-atom v.: 0.37.0

## Error Details
**Error Message when I try ```format``` with Prettier-atom**

```prettier-atom failed: Error while loading rule 'graphql/template-strings': Must provide .graphqlconfig file or pass in schemaJson option with schema object or schemaJsonFilepath with absolute path to the json file.```

Normally, It doesn't ge

[2017-08-15 08:50] lucasfeliciano opened #249 "prettier-atom removes import statement from graphql"
[code]

prettier-atom removes the first statement: `#import 'fragments/eventCarousel.gql'`
Which is an valid statement if you have the webpack loader.

You can check here:

https://prettier.io/playground/#%7B%22content%22%3A%22%23%20import%20%5C%22%2FclaimsFragment.gql%5C%22%5Cn%5Cnquery%20claimsByBookingReferenceAndLastName(%24bookingReference%3A%20String!%2C%20%24lastName%3A%20String!)%20%7B%5Cn

[2017-08-15 13:18] robwise commented on #249
@lucasfeliciano Can you use `Editor: Log Cursor Scope` to check what the scope is at these lines?

[2017-08-15 13:20] robwise commented on #244
@jasonkuhrt Try unchecking it and see what happens, that will at least help us to debug

[2017-08-15 13:25] lucasfeliciano commented on #249
Yeah, I was wrong:

![screen shot 2017-08-15 at 15 24 15](https://user-images.githubusercontent.com/968014/29317790-d87ab26c-81cd-11e7-81f5-930435f9cdbf.png)

[2017-08-15 13:28] robwise commented on #249
@lucasfeliciano Does this happen with the normal prettier, or only prettier-atom?

[2017-08-15 13:30] lucasfeliciano commented on #249
@robwise only prettier-atom :(

[2017-08-15 14:53] robwise commented on #249
Man that's really strange, if it's using the right parser, it should be a straight pass-through. Can you use a dev version of prettier-atom and log if it's changing the parser it's using here?: https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/buildPrettierOptions.js#L46

[2017-08-15 15:40] lucasfeliciano commented on #249
I'll take a look on that soon.

[2017-08-15 19:50] phil-andrews commented on #215
This might be a deal breaker for me unfortunately.

[2017-08-15 20:01] kentcdodds commented on #215
Sorry to hear that @phil-andrews. This is an open source project, so if it matters that much to you I'm certain that @robwise would welcome [a pull request](http://makeapullrequest.com/) :smile:

[2017-08-16 11:26] chmac commented on #235
@gperdomor Personally, not sure if I understand your issue, but maybe it belongs in a new issue? Doesn't sound like the same problem as here?

@robwise I tried @johanhenrikssn's strategy of removing the linter package and having it reinstalled by the prompt as in @gperdomor's screenshot. It installed linter version `2.0.0`, and I get prompted to upgrade to `2.2.0`. So far I've avoided that update

[2017-08-16 11:48] chmac commented on #235
I take that back, I'm seeing the same problem as before with linter `2.0.0`, so I'll upgrade. :-)

Here's the smallest reproduction I could find that consistently breaks prettier but doesn't show a linter error.

[code]

Steps to reproduce:

1) Open a new file in atom
2) Set the type to babel es6 (you need the `language-babel` package installed)
3) Paste the code above
4) Run the "Prettier: Format

[2017-08-16 13:30] jasonkuhrt commented on #244
[code]

Problem still persists:

![image](https://user-images.githubusercontent.com/284476/29365586-88f2d8b2-8265-11e7-8244-50afe663d2f3.png)

[2017-08-16 13:40] robwise commented on #215
I guess he'd rather delete his post instead 😕

To anyone reading this, I definitely DO appreciate pull requests! If you're new to OSS, check out Kent's free course (see his link). Also, let me know what I can do to make it easier to contribute!

[2017-08-16 13:45] robwise commented on #244
Okay, can you use a dev version of prettier-atom and add a console.log statement here?:

https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/executePrettierOnBufferRange.js#L20

[code]

[2017-08-16 13:48] robwise commented on #235
@chmac We currently have a workaround for unsaved files because so many of our options require looking things up relative to the file path (eslint, eslintignore, making sure prettier is in the dependencies, etc.). So we basically just exit early if the file is not saved. However, I can see how this is confusing, so I'm open to coding up an alternative solution. Maybe we just fall back to some sort