[2017-08-16 16:03] chmac commented on #235
@robwise Aha, then my reproduction strategy is broken! I saw the error on this code in a file that had been saved, but was currently unsaved when it was in that state. I try to use format before saving so that my rebuild process doesn't kick off with a broken file.

So the process aborts if the file has never been saved, is that correct? But once the file has been saved once, it will run as normal

[2017-08-16 17:02] robwise commented on #235
Crap actually I think I told you the wrong thing. I was thinking of format on save, not manual save. So yes, this should be erroring and this does reproduce the bug! I will work on a fix!

[2017-08-17 14:51] chibicode commented on #233
Same here - the problem for me was not adding `prettier-eslint` on `devDependencies` when having ESLint integration ON.

[2017-08-17 23:09] flockonus commented on #146
Hello!
Looking for some info. If i'm not using eslint on my project is there still a way to display errors on save?
Can't seem to find an option on the config or docs. Do i need some other config in Atom?

[2017-08-18 11:10] darahak commented on #146
@flockonus I don't think this is related to ESLint. The `linter` package is just being used to display the errors.
Currently there is a bug with this. You can watch https://github.com/prettier/prettier-atom/issues/235 which seems related to your question.

[2017-08-18 13:11] gmuc opened #251 "change of semicolon option has no effect"
prettier-atom 0.37.0 atom 1.19.2 on Mac

change of semicolon option has no effect. Everytime my code on save is formated without semicolon.

After deinstall prettier-atom + restart atom + new install prettier-atom semicolon option work corret for all file allready opened on atom start. All after atom start opened files have the semicolon problem.

I think it's a caching bug!?

[2017-08-18 14:09] robwise commented on #178
We seem to be getting lots of issues that people think are bugs but are actually just due to not understanding the complex scenarios in which options will change. I think a feature like this could be really useful. Basically, we could make it so that every time we do something, we can optionally log to the console what is happening and why?

[2017-08-18 14:42] darahak commented on #178
I agree. At least as a first iteration, console logs would really help.

To take it further, I would limit the output to one message displayed as a notification or a panel (like the `Key Binding Resolver` command).
We could at least avoid having to open DevTools (can be hard to read because of traces from other packages).

Currently, I don't remember how we handle the options. I'll take a look.

[2017-08-22 20:08] darahak commented on #249
@lucasfeliciano Can you check if you have an outdated `prettier` install in your project's dependencies?
It's very likely that you encountered these issues: https://github.com/prettier/prettier/issues/2302 and https://github.com/prettier/prettier/issues/2299

In that case, you should update your dependency and try again.

[2017-08-22 20:54] darahak commented on #228
Let's track this in #235.
Technically this is the original issue, but there is more information there.
It'll be easier to handle this way.

[2017-08-22 20:54] #228 closed

[2017-08-22 20:58] darahak commented on #243
I don't understand how this solved your issue.
Does somebody have any clue?

[2017-08-22 21:37] darahak commented on #236
@nadeemja Have any news?

[2017-08-22 22:10] beagins opened #252 "no-extra-parens: 'extra' parens removed when rule is off or absent from eslintrc.json"
I have `ESLint Integration` enabled and `Format Files on Save` enabled.

My `eslintrc.json` file does not contain the setting `no-extra-parens` because I want code like the following to stay as-is:
[code]

If I enable `no-extra-parens`, the parens in the statement above are considered unnecessary and removed:
[code]

Although this is syntactically correct, this goes against my team's style guide.

[2017-08-22 22:38] darahak commented on #252
The Atom package is not really concerned by this issue so it would have been more appropriate on https://github.com/prettier/prettier.

This is one of those things that Prettier can't really change and you will probably have to drop this from your style guide if you want to adopt it.

When the code is parsed and we get an AST, there is no info about the parens (see [this gist](https://astexplorer.

[2017-08-22 22:38] #252 closed

[2017-08-23 21:50] darahak commented on #241
Apparently the `tabWidth` setting was a number in earlier versions of `prettier-atom`.
In these versions, the config schema was still defined in `package.json`.

@joshagudo Can you check the contents of `~/.atom/.apm/prettier-atom` and delete pre-`0.19.1` folders if you have any? I'm wondering if Atom can still pick up schemas from there.

[2017-08-23 22:05] jcalderaio commented on #218
Before I ask my question, I want to thank the creators/contributors for all of your work on this potentially awesome project. I use the word potentially because I've heard non-stop from my peers how awesome it is, but it doesn't work for me. I'm working on a React Native project with many files and folders and an ESLint file. In the prettier settings, I checked the boxes next to ESLint Integration

[2017-08-23 22:28] darahak commented on #244
@jasonkuhrt Which version of `prettier` is installed in your project's dependencies?

I believe `typescript-eslint-parser` is simply the TS parser used by Prettier, so there might be a problem with your installation of `prettier`.
I'm seeing `"prettier": "^1.3.1"` from your `package.json` and TypeScript support is only on `1.4+`.

PS: Our debug command is showing `1.5.3`, but I think it only shows

[2017-08-23 22:34] darahak commented on #218
@jcalderaio Looks like your issue is not related to this topic.
Would you mind creating a separate issue so we can discuss it without interfering?
Thank you.

[2017-08-23 22:37] darahak commented on #248
@robwise I'm not a GraphQL user. Have any clue about what's happening?

[2017-08-23 22:51] jcalderaio opened #253 "Prettier not working after changing EditorConfig settings & checking and unchecking (testing out) different prettier-atom settings."
Before I ask my question, I want to thank the creators/contributors for all of your work on this potentially awesome project. I use the word potentially because I've heard non-stop from my peers how awesome it is, but it doesn't work for me. I'm working on a React Native project with many files and folders and an ESLint file. In the prettier settings, I checked the boxes next to ESLint Integration

[2017-08-24 00:48] jasonkuhrt commented on #244
@robwise @darahak I updated my `typescript` and `prettier` and now everything is working. It appears that a reboot to Atom was needed and therefore its possible only one of the aforementioned package updates was needed. For future reference here is what my debug output now looks like:

[code]

[2017-08-24 00:48] #244 closed

[2017-08-24 01:47] phil-andrews commented on #215
The comment I left added nothing to the conversation and shouldn't have been left in the first place so I felt it was better to delete it. I do appreciate the direction towards contributing 👍

[2017-08-24 17:01] robwise commented on #248
@darahak I'm not either, unfortunately, but I figure that if it's only happening with our plugin and not when calling the prettier directly, then it's got to be a problem with what we're passing to prettier?

[2017-08-27 14:30] darahak commented on #248
@Sly777 You are probably using the ESLint integration and the problem is coming from `eslint-plugin-graphql`.

From your config:

[code]

And it looks like some options are missing.
Here's an example from their repo:

[code]

[2017-08-27 16:55] darahak commented on #236
Closing this because it's not actionable for us.

Looks like the `brace-style` rule only applies to scopes and not object literals.
And I don't know about your VS Code setup, but I just tried and got the same result.

[2017-08-27 16:55] #236 closed

[2017-08-27 21:53] robwise commented on #231
Closing as this actually seems to a prettier-eslint issue with how it displays errors

[2017-08-27 21:53] #231 closed

[2017-08-27 21:55] robwise commented on #243
I agree but I can't reproduce the original issue (it seems to work fine AFAICT). I will close for now and we can reopen if others have this issue.

[2017-08-27 21:55] #243 closed

[2017-08-27 22:02] robwise commented on #251
@gmuc I can't reproduce this. Perhaps you are using the eslint integration in some cases, and this is overriding your settings?

[2017-08-27 22:03] robwise commented on #253
@jcalderaio Are you still having this problem?

[2017-08-27 22:06] robwise commented on #248
@Sly777 When you say you don't get any error when running prettier on the terminal, are you running normal prettier or prettier-eslint-cli?

[2017-08-27 22:08] jcalderaio commented on #253
Yes I am

[2017-08-27 22:26] robwise commented on #253
So if I understand correctly, you set prettier-atom to use eslint and editor config, then it worked correctly, then you checked and unchecked the two boxes again, and now it doesn't work?

Can you provide more detail on what you mean by "it doesn't work?"

[2017-08-28 00:01] jcalderaio commented on #253
By "it doesn't work", I mean that upon saving a file, nothing is formatted. I even see the green "Prettier ✓" notification at the bottom of Atom (signaling that I have the "Format Files on Save" option checked in the Prettier settings). I do notice in different files (on the bottom right-hand side of Atom) that some have different spacing options than others (some say "Tabs (2 wide)", others say "

[2017-08-28 05:39] chmac commented on #235
@robwise Thanks for the update on this one. Alas, I suspect this was not my issue as I'm 99% sure I was seeing the same behaviour on saved and unsaved files. It's *very* rare that I create a file which doesn't have a filename, I usually create files by name. So unfortunately I guess my original issue is still open.

[2017-08-28 12:57] Sly777 commented on #248
Hey @robwise, I'm using ```eslint-plugin-prettier``` and ```eslint-config-prettier``` for mixing eslint & prettier. After that, I'm just running;
```eslint --fix --ext .gql --ext .graphql --ext .js pages components containers libraries server helper_scripts```

[2017-08-28 17:40] robwise commented on #248
@Sly777 It seems like you are using eslint-config-prettier and eslint-plugin-prettier to integrate eslint and prettier together (instead of prettier-eslint). Aren't you able to just disable the prettier-atom package and run linter-eslint's autofix?

[2017-08-28 17:41] robwise commented on #235
Okay, if you get a reproducible case please let me know and I will fix.

[2017-08-28 17:42] robwise commented on #253
@jcalderaio The spaces/tabs thing is determined by Atom. If you have your prettier-atom setting for tabs/spaces set to "auto," it just infers from the file.

[2017-08-28 18:45] k15a opened #256 "Support Prettier 1.6 Configurations"
Prettier 1.6 got released some hours ago and you can now configure Prettier per project. It would be great to support the configuration options with the Atom editor plugin.

In my mind the perfect use case would be:
- use the configuration from the editor plugin to display code in Atom
- use the configuration from the project to save the code

Why?
- we can edit the code with our preferred style
-

[2017-08-28 18:50] codeheroics opened #257 "Support prettier v1.6 config files"
Hi, thanks for the great work!

Prettier 1.6 just landed [support for .prettierrc config files](https://github.com/prettier/prettier/pull/2434).

Will they be supported soon on prettier-atom?

[2017-08-28 21:20] darahak commented on #257
Thanks for bringing this to our attention, we'll take care of it as soon as possible.
In the meantime, I'm closing it because #256 was opened just before.

[2017-08-28 21:20] #257 closed

[2017-08-28 21:28] darahak commented on #256
@k15a That's an interesting take, but I don't think it would be a desirable behavior for most people.
Personnally, I would assume the config files prevail no matter what, if they are detected.

[2017-08-28 21:40] darahak opened #258 "Detect obsolete or incompatible versions of Prettier"
We had our share of issues where users reported problems, only to discover later that it was caused by an old installation of Prettier.

For example, if we support TypeScript scopes and we detect a pre-`1.4.0` Pretter install, we should notify the user that they should update their deps.
If we support config files, we should avoid using pre-`1.6.0`.

We could probably put this info in our `package

[2017-08-28 22:40] darahak commented on #256
@robwise FYI there are a few regressions being reported on `1.6.0`.
We can start implementing this, but should wait for these issues to get patched before releasing anything.

[2017-08-28 23:02] robwise commented on #256
@darahak Roger that, will probably take me a little to get to this. We need to think about who wins if there is a conflict. Here's an example of what I mean (I bolded the one I think would win in the given scenario):

- prettier-atom sets tabs, **prettier config file sets spaces**
- editorconfig sets tabs, **prettier config file sets spaces**
- **eslint config sets tabs**, prettier config file set

[2017-08-28 23:03] robwise commented on #258
Seems like a good idea, but what do you mean by putting the info in our package.json?

[2017-08-29 11:00] darahak commented on #258
I was thinking about using the [peerDependencies](https://yarnpkg.com/lang/en/docs/dependency-types/#toc-peerdependencies) property.
It could be read on package activation for a quick version check.

[2017-08-30 14:34] kentcdodds commented on #242
I'm going to move this over here: https://github.com/prettier/prettier-eslint/issues/118

[2017-08-30 14:34] #242 closed

[2017-08-31 17:09] michaellee8 opened #259 "Notify user in a failed formatting attempt"
Feature request:
Notify user with the cli error message in a failed format attempt

<detail>
Currently, the formatter will not show any feedback regardless fail or success format attempt when being used in atom, and this may possibly cause frustration. Sometimes, when eslint is not used for some reason, it is very hard to identity a very minor syntax error that is critical to the formatter. I most

[2017-08-31 19:49] robwise commented on #259
@michaellee8 This is already the intended current behavior, do you have a reproducible example where this doesn't happen?

[2017-08-31 20:12] michaellee8 commented on #259
![screenshot from 2017-09-01 04-01-32](https://user-images.githubusercontent.com/16556558/29943230-55001b9c-8ecb-11e7-9473-df80377fd8af.png)
atom-prettier debug
[code]
@robwise  I have never saw your described behavior, do I need to turn on anything for it?

[2017-08-31 20:34] robwise commented on #259
@michaellee8 do you have the `linter` package installed and enabled?

[2017-08-31 22:56] michaellee8 commented on #259
Ah I have disabled `linter` package as suggest by `nuclide-diganostics`. Does it matters? Can Nucide Dignanostics do the trick?

[2017-09-01 03:24] joshagudo commented on #241
@darahak sorry for the late response. I've only got 0.37.0 and 0.38.0 (having just updated). Still the same behaviour unfortunately.

[2017-09-01 03:52] robwise commented on #259
@michaellee8 can you enable `linter` and see if the errors show up?

[2017-09-01 07:51] michaellee8 commented on #259
After looking deeper, I found that the error is shown in the Dignaostics page, hence i must admit I am pretty blind XD. However, I would like to say it could be more conveient and obvious if we can get an active pop-up or notification instead of a pasive single line warning.

[2017-09-01 19:14] robwise commented on #259
I'm not sure how diagnostics works as I don't use that, in linter it pops up from the bottom as well as highlighting the code inline. I had it as a popup but people complained it was too intrusive so I switched it to the linter way, which is pretty much the standard for this type of thing AFAIK.

[2017-09-03 15:41] darahak commented on #241
@joshagudo Is there any error in DevTools that could give us more details?
Still in DevTools, if you execute `atom.config.get('prettier-atom.prettierOptions')` in the console, what do you get?
If you execute `atom.config.unset('prettier-atom.prettierOptions.tabWidth')` and retry, what happens? (with and without reload eventually)

[2017-09-03 21:28] robwise commented on #256
I don't know, now that I'm looking into it, I think it doesn't make sense for us to replicate all of the code that prettier already has inside of it when trying to determine how to format a file. We should just defer to the config if it exists.

Here is what I'm proposing we do:

- detect whether or not there is a prettier config (.prettierrc file, prettier.config.js file, or a "prettier" key in y

[2017-09-03 21:33] darahak commented on #256
@robwise Sounds good. Not only because we avoid replicating code, but because it's what the users would expect.

[2017-09-04 01:02] robwise commented on #256
This is what the new settings pane could look like, obviously we are getting rid of a huge amount of options now that we expect you to handle things from prettierrc and prettierignore files:

![](https://cl.ly/2O3F1P36090g/Image%202017-09-03%20at%209.01.19%20PM.png)

[2017-09-04 01:06] robwise opened #260 "Switch to prettier.formatWithCursor instead of prettier.format"
See https://github.com/prettier/prettier#prettierformatwithcursorsource--options

[2017-09-04 01:06] robwise commented on #34
See: https://github.com/prettier/prettier#prettierformatwithcursorsource--options

[2017-09-04 01:06] robwise commented on #260
duplicate of https://github.com/prettier/prettier#prettierformatwithcursorsource--options

[2017-09-04 01:06] #260 closed

[2017-09-04 03:29] robwise commented on #256
^ I made a preliminary PR that implements what I outlined. If anyone reading this could use that branch in development mode for a while as they go about their day programming, it would be greatly appreciated. This way we can find any bugs and determine if we eliminated necessary functionality before we push it to everybody.

[2017-09-04 20:57] darahak commented on #256
@robwise Was getting rid of all Atom settings part of your initial proposal? I don't remember 😕
My PR review is contradicting my last post here, but maybe I read too fast and totally missed the point.

[2017-09-05 02:54] robwise commented on #256
Oh, I edited it at some point to be more specific about what I meant, sorry that might have been after you replied. But no worries, that's why I didn't merge the PR or anything because I wasn't sure this was really the best way to go. I will add that other stuff back in.

[2017-09-06 14:24] AlicanC opened #262 "Do not fallback to defaults if ESLint configuration is bad"
If prettier-eslint or prettier-eslint-cli is installed and there is something wrong with them, prettier-atom shouldn't fallback to defaults and provide a useful error instead.

Steps to reproduce:
- Clone this repo
- Make a mess in ".eslintrc.yml"
- Format a file

[2017-09-06 21:21] robwise commented on #262
@AlicanC I'm a bit confused by this one. We provide fallbacks _before_ running prettier-eslint (there are no current fallbacks for prettier). If there is an error thrown by prettier-eslint, we throw that error. If prettier-eslint does not throw an error, prettier-atom can't know there was an error. Maybe this is something we should put on the prettier-eslint repo instead?

[2017-09-07 18:36] AlicanC commented on #262
When making my own ESLint config, I've had a case where prettier-eslint-cli formatted correctly (`yarn prettier-eslint -- "src/**/*.js" --write`) but atom-prettier's "Format on Save" acted like I don't have PEC at all.

Since it worked with PEC and not AP (which uses PEC) I thought there was something wrong about how AP called PE/PEC.

This commit (which uncomplicated my config) fixed the issue an

[2017-09-07 20:29] darahak commented on #262
We do not pass the ESLint config to `prettier-eslint` as it's inferred from the file path.
Since you had different results with the CLI, can you check if you were using the same version in both cases?

[2017-09-08 11:34] gmuc commented on #251
I use linter-eslint 8.2.1. I found no semicolon option in linter-eslint.

[2017-09-08 11:36] gmuc commented on #251
I now upgrade to 0.38.0 - same problem :-(

[2017-09-09 15:26] michaellee8 commented on #259
Maybe that is a nuclide problem, I will check it out later

[2017-09-09 15:26] #259 closed

[2017-09-10 03:24] andy9775 opened #263 "Not picking up eslintrc file"
I have an .eslintrc file in the root of my project directory and I have `ESLint integration` checked in the plugin and yet it is not picking up my eslint file.  Running prettier-eslint from the command line outputs the correctly formatted file so it doesn't seem to be an issue with my configuration files.

[2017-09-11 14:33] pascalduez commented on #256
Hi,

how would that work between the ESLint integration and the config file then?
For instance, I would like it to follow almost all of our ESLint config (Airbnb), except the `printWidth` which I would like to force back to `80`.

[2017-09-11 17:53] bhardy commented on #256
I just wanted to pipe in and say I would really appreciate this feature. The one compromise we had to make to get everyone working with prettier at work was to switch the Print Width to 100. That means when I switch between personal projects and work I need to open up the package settings and manually toggle it. (If anyone has a better workflow for me please message me! haha)

[2017-09-11 21:27] robwise commented on #256
For instance, I would like it to follow almost all of our ESLint config (Airbnb), except the printWidth which I would like to force back to 80.

I would just override that rule in your eslintconfig and you wouldn't really need a prettier config

We're working on it but I'm waiting on a new version of prettier to be released because the current version is async and I can't use async with Atom's for

[2017-09-12 08:44] pascalduez commented on #256
Having a greater value in the ESLint config is desired to bring more flexibility, for instance long lines that can't break properly, that way you don't have to use disable comments all the time.
But as for Prettier, it makes a big difference, 100 chars lines are really too long. And it will apply to all lines.

Wouldn't it be possible to make the Prettier config prevail on anything?

[2017-09-12 08:51] robwise commented on #256
You'd have to make an issue/PR on prettier-eslint as that is handled under the hood by that tool, we just call out to it from prettier-atom and it reads the eslint config itself.

[2017-09-12 13:49] despairblue opened #264 "possibility of data loss in conjunction with `autosave` plugin"
Using `formatOnSaveOptions` in conjunction with the `autosave` plugin leads to saving and empty file under some circumstances with the new C++ text buffer implementation (from Atom 1.19.0 on). Particularly this happens when `editor.setTextInBufferRange` is called while a save is in progress.

I will also open an issue in atom/atom since this seems to be a regression.

## Reproduction steps

1. Ins

[2017-09-12 20:52] maxbrunsfeld commented on #264
This is fixed on the master branch of Atom.

[2017-09-13 09:37] corysimmons opened #266 "Doesn't work with global ESLint config"
linter-eslint has a global option for falling back to `~/.eslintrc` config if no configs are found locally.

![image](https://user-images.githubusercontent.com/224636/30370259-0dc3b684-9845-11e7-89e2-41ac442e7c7f.png)

Your README says prettier-atom looks up system tree for configs, but it doesn't seem to be working.

Here's my prettier-atom config:

![image](https://user-images.githubusercontent.

[2017-09-13 18:15] darahak commented on #266
ESLint config resolution is supposed to be handled by `prettier-eslint`.

I think it's possible ESLint is picking up a config while crawling in the directory tree.
Can you try to run `eslint --print-config your-file.js` and see what it gets?

[2017-09-13 20:19] corysimmons commented on #266
It seems like it is getting the correct config.

I think I figured it out:

![image](https://user-images.githubusercontent.com/224636/30398656-31d6130a-989f-11e7-930f-0d51ddad1518.png)

Warns to disable `linter-eslint` "Fix on Save", but if you disable that, then it doesn't work with `prettier-eslint`.

So you need to enable both linter-eslint _and_ prettier-atom.

Perhaps this recommendation can

[2017-09-13 20:28] #264 closed

[2017-09-13 20:55] darahak commented on #266
`prettier-eslint` should not depend on `linter-eslint` to make it work.
The initial problem remains unsolved here.

`prettier-eslint` has a logger that you can enable to see what's happening.
Open DevTools in Atom, and run in the console:

[code]

Then execute a format with ESLint integration enabled.

[2017-09-13 21:04] darahak commented on #263
Do you have `prettier-eslint` in your project? If yes, is it up to date?
Did you check the DevTools console for errors?

[2017-09-13 21:35] darahak commented on #241
I figured it out. I'm facepalming so hard.

In our options, `tabWidth` is a string, but Prettier only accepts a number ([ref](https://github.com/prettier/prettier#tab-width)).
If it's set to `"auto"`, we grab it from Atom settings which is already stored as a number.

If not, during the whole format process, the string is never converted before it's passed to Prettier (the validation error comes f

[2017-09-13 21:57] corysimmons commented on #266
[code]

I'm trying to use a global prettier-eslint. It seems like it's not detecting that, whereas linter-eslint _does_ have options for global eslint configs. That would explain why enabling both "Fix on Save"s worked, but isn't ideal.

Good solution: be able to specify global prettier-eslint and global eslint config, e.g. linter-eslint's settings page.

Not sure if it'd be better to step up tree

[2017-09-13 22:55] robwise commented on #241
@darahak But we convert it to a number if set to "auto" here?: https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/buildPrettierOptions.js#L28-L30

[2017-09-14 06:36] darahak commented on #241
Yes, the Atom config directly returns a number. But not really a conversion as it overrides our setting value.

[2017-09-14 18:34] andy9775 commented on #263
Yes, `"prettier-eslint": "^8.0.0",` installed and no error's being reported.

For my JSX settings, for example, my eslint config specifies that props should be on their own separate line and after running prettier it places them on one line.

Debug outputs `"useEslint": true` and `"useEditorConfig": true`

[2017-09-15 05:25] nwaywood opened #267 "ERROR prettier.resolveConfig.sync is not a function"
Since the last update `0.39.0` I am getting the following error when trying to format a file:

![image](https://user-images.githubusercontent.com/3773641/30467684-cb3cf2ee-9a29-11e7-93a2-9b3f1034693b.png)

Prettier debug output:

[code]

[2017-09-15 06:13] robwise commented on #267
Will make a hotfix for this if you have an old version of Prettier, but you can also upgrade Prettier to 1.7 and it should work.

[2017-09-15 06:43] nwaywood commented on #267
Yes upgrading to 1.7 fixed the issue, thanks :)

[2017-09-15 08:07] ooflorent commented on #267
@robwise How do you upgrade prettier inside the atom package?

[2017-09-15 11:54] ptomasroos commented on #267
I was getting

[code]

upgrading prettier in the project's devDependencies to 1.7.0 solved it.

[2017-09-15 12:18] sonukj opened #268 "prettier-atom failed: Cannot read property 'sync' of undefined"

[2017-09-15 12:37] chesleybrown commented on #268
Just updated to the latest version. Consistently get this error every time I save a JS file now. I've tried restarting atom to no benefit.

Running `0.39.0`.

[2017-09-15 12:38] kwhitaker commented on #268
I'm also seeing this issue this morning (worked fine yesterday).  It happens when I save a file.

[2017-09-15 12:49] M-ZubairAhmed opened #269 "prettier-atom failed: prettier.resolveConfig.sync is not a function"
I just updated my atom-prettier plugin and when i format my code with prettier i get the error:
`prettier-atom failed: prettier.resolveConfig.sync is not a function`

[2017-09-15 12:50] M-ZubairAhmed commented on #269
issue already opened at [267](https://github.com/prettier/prettier-atom/issues/267)

[2017-09-15 12:50] #269 closed

[2017-09-15 12:58] M-ZubairAhmed commented on #268
@sonukj have you looked at this issue [267](https://github.com/prettier/prettier-atom/issues/267).
In your dev dependencies update prettier to 1.7.0

[2017-09-15 13:51] JamieDixon commented on #268
We're also seeing the same problem after upgrading to 0.39.0.

[2017-09-15 13:53] chesleybrown commented on #268
Can confirm as suggested in #267, updating to prettier 1.7.0 in my `package.json`, doing a fresh `npm install` and restarting atom resolved the problem for me.

[2017-09-15 14:13] sonukj commented on #268
@chesleybrown upgrading to 1.7.0 didnt solve my issue..still getting the error

[2017-09-15 15:14] artisologic opened #270 ".prettierrc files seem to be only loaded once"
If I change any configuration in my `.prettierrc` file after atom having been opened, the changes don't seem to be applied.

Is this intended? It seems the config is cached when atom launches and then it uses this one the whole time the editor is opened, meaning if I make a change to the config I need to restart atom.

It wasn't so intuitive to me initially and I would have thought it would lookup

[2017-09-15 17:01] souporserious commented on #268
@sonukj did you clear out `node_modules` and reinstall? It worked for me after following @chesleybrown's steps.

[2017-09-15 20:12] erickeno commented on #268
@sonukj after upgrading try restarting you atom editor.

[2017-09-16 00:01] robwise commented on #270
Well, it's intended in the sense that prettier has written their tool to do this for speed purposes. I believe I can pass a special option to force it not to cache, but I wasn't sure if this was a good idea or not.

[2017-09-16 00:02] robwise commented on #267
The prettier inside of the atom package is already updated. If you are seeing this error, it means you have a local version of prettier (or prettier-eslint or prettier-eslint-cli).

[2017-09-16 08:59] robwise commented on #267
Guys, it seems that this is coming out of prettier-eslint still. I can try and make a PR over at prettier-eslint to gracefully fallback, but is anyone still experiencing this issue or is unable to upgrade prettier?

[2017-09-16 09:00] robwise commented on #268
Let's track this in #267

[2017-09-16 09:00] #268 closed

[2017-09-16 09:02] robwise commented on #256
Implemented in #261

[2017-09-16 09:02] #256 closed

[2017-09-16 09:18] robwise commented on #194
I'm going to go ahead and close this because we are already caching the lookup path using atom-linter tools' `findCached`

[2017-09-16 09:18] #194 closed

[2017-09-16 09:19] robwise commented on #198
I think now that we have the ability to easily toggle format-on-save (either via a shortcut or clicking the checkmark in the lower-left corner of the screen), that is hopefully good enough, as I'm not sure there's really a way around this otherwise. I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-09-16 09:19] #198 closed

[2017-09-16 09:21] robwise commented on #263
You didn't enable `run prettier last` by chance did you?

[2017-09-16 09:24] robwise commented on #262
I'm not sure what actionable things we can really do for this issue. We don't do any looking up of the eslintrc with this package, it's all done under the hood by prettier-eslint. If prettier-eslint throws any errors, we rethrow them. I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-09-16 09:24] #262 closed

[2017-09-16 09:26] robwise commented on #251
Are you still having this problem?

[2017-09-16 11:07] sonukj commented on #268
@chesleybrown  now the issue solved thanku all

[2017-09-16 18:32] anal0gK1d commented on #267
Greetings everyone. I have the same issue and I have updated both **prettier** and **prettier-eslint** to versions 1.7.0 and 8.1.0 respectively. Any other ideas?

[2017-09-16 21:52] darahak commented on #270
I think we should still enforce caching most of the time, but watch the config file and use [clearConfigCache](https://github.com/prettier/prettier#prettierclearconfigcache) when it changes.

[2017-09-16 22:00] artisologic commented on #270
@darahak That sounds like a great solution!

[2017-09-16 22:52] andy9775 commented on #263
No. I did re-install everything (including atom) and it's picking up the file however it's not formatting correctly. For example I have `"react/jsx-max-props-per-line": [2, {"maximum": 1, "when": "always" }]` set and after running prettier some, not all, JSX props are placed on the same line. For example:

[code]

instead of
[code]

I get an eslint error on the key but yet prettier doesn't format

[2017-09-16 23:05] darahak commented on #263
What's the ESLint error?

[2017-09-16 23:08] andy9775 commented on #263
It fails the rule (linting)
`react/jsx-max-props-per-line: Prop 'key' must be placed on a new line`

[2017-09-16 23:55] darahak commented on #263
I made a minimal sample with your code and it works fine.

Again, did you check DevTools if there are errors?
There could be a parsing error somewhere.

Also update `prettier-eslint` to 8.1.0 to avoid API incompatibilities.

[2017-09-17 00:01] andy9775 commented on #263
I'll put together a sample project and invite you

[2017-09-17 08:51] robwise commented on #267
Restart atom? 1.7.0 has `resolve.config.sync` so you should be good to go unless it's picking up an old version somehow

[2017-09-17 13:26] anal0gK1d commented on #267
I did restart atom . Same problem. Where's that _resolve.config.sync_ you're referring to? Thanks

[2017-09-17 15:07] darahak commented on #267
@anal0gK1d It's still picking up an old version of Prettier.
What do you get when you run `npx prettier -v` from your project directory?

[2017-09-17 16:38] anal0gK1d commented on #267
@darahak you're right!  **npx prettier -v** gives me the following:

 whereas **prettier -v** gives me:

[2017-09-17 20:33] darahak commented on #267
@anal0gK1d Looks like you updated your global install instead of your project's.
Is it okay now?

[2017-09-18 08:46] mvaneijgen opened #273 "How to define your own settings and what settings are there. Jshint: Misleading line break before '?'"
I work with a Wordpress theme that uses jshint to compile all the JS and with love to use Prettier with it  but for jshint doesn't like it when every thing is put on a new line in my JS and I have know Idea what  the setting is called or what to Google for.

I write this line of code

[code]

And it will expand to

[code]

And then my jshint will state `Misleading line break before '?'; readers ma

[2017-09-18 12:07] misterbridge commented on #267
Will this be hotfixed anyway ?
I'm getting the error:

And cannot update prettier for now

[2017-09-18 12:50] Fakkio opened #274 "prettier-atom failed: ImportDeclaration should appear when the mode is ES6 and in the module context"
After upgrading to version 0.39.0, saving a TypeScript file with some import, throws this error:

`prettier-atom failed: ImportDeclaration should appear when the mode is ES6 and in the module context.`

windows 10 pro - 1703 - 15063.608
atom: 1.20.0 x64
prettier-atom: 0.39.0

downgrading fix the issues.

Thanks,
Fakkio.

[2017-09-18 16:50] tleunen commented on #267
Same issue here with 0.39.0.
I don't have prettier in my project. I only have it inside atom.

[2017-09-18 17:57] carlos-peru commented on #267
I'm experiencing the same issue as @tleunen

[2017-09-18 18:49] darahak commented on #273
There is no setting in Prettier to change that.

You can either use [prettier-ignore comments](https://github.com/prettier/prettier#excluding-code-from-formatting) or disable the [laxbreak](http://jshint.com/docs/options/#laxbreak) rule in your file.

[2017-09-18 18:49] #273 closed

[2017-09-18 20:08] BroFox86 commented on #267
Just **npm install prettier --save-dev** in a project folder solved this issue.

[2017-09-18 21:32] robwise commented on #267
The bundled version of prettier has `resolveConfig.sync` defined, so you might have some sort of weird caching problem. I would try uninstalling and reinstalling the package and restarting Atom and seeing if that fixes it.

Since people are still having problems, I will try and make a PR over at prettier-eslint to make a conditional check instead of hard-erroring like this.

[2017-09-18 21:33] #241 closed

[2017-09-18 21:34] robwise commented on #274
@Fakkio Can you try running prettier directly on the file and seeing if the same error occurs? I'm 90% sure this a prettier error and not a prettier-atom error.

[2017-09-18 22:13] carlos-peru commented on #267
thanks a lot @BroFox86 ```yarn add prettier -D``` indeed solved the issue!

[2017-09-18 23:07] ffxsam commented on #267
Adding `prettier` to my dev dependencies did nothing to resolve this issue for me. Any other ideas??

[2017-09-18 23:32] BroFox86 commented on #267
@ffxsam I would also try to add `prettier-eslint` or/and `prettier-eslint-cli` mentioned by @robwise.

[2017-09-19 08:02] Fakkio commented on #274
Sure, i can i do that? Have i to install it with npm?

[2017-09-19 08:06] hamishtaplin opened #276 "prettier-atom failed: Cannot read property 'sync' of undefined"
No sure if this is actually an issue with [prettier](https://github.com/prettier/prettier) or
[prettier-eslint](https://github.com/prettier/prettier-eslint) packages as there are no errors in the console, just the `prettier-atom failed: Cannot read property 'sync' of undefined` alert.

[code]

[2017-09-19 08:09] hamishtaplin commented on #276
Apologies, this was a dupe of https://github.com/prettier/prettier-atom/issues/267

Upgrading my local version on Prettier fixed it.

[2017-09-19 08:09] #276 closed

[2017-09-19 09:48] vcarel commented on #267
Hi,

I'm annoyed by Prettier 1.7.0 since it brings serious changes the way it formats JSX. On ternary expressions, the indentation is wrong, leading to issues with prettier-eslint which I use

see for instance https://github.com/prettier/prettier/issues/2823

Could you make prettier-atom backward compatibility with prettier 1.7 for some time ...? I know it sounds weird and I apologize for that. Th

[2017-09-19 10:03] DidierHoarau commented on #274
Hi,

I had the same error and the solution for me was to install eslint in the project.

Regards,

[2017-09-19 13:19] lazamar commented on #267
I was using the global installation and `npm upgrade --global prettier prettier-eslint-cli` solved it for me.

[2017-09-19 13:31] oltodo commented on #267
Install `prettier` dependency  and __restart Atom__ both worked for me too :

[code]

If it still not works for you, you also can downgrade `prettier-atom` to 0.38.0 version using `apm` :

[code]

Finish by relaunching your editor.

[2017-09-19 14:50] vcarel commented on #267
@lazamar Do you mean they have a work-around in prettier-eslint-cli for the issue I mentioned?

[2017-09-19 15:19] mariuslundgard commented on #274
I’m having the same issue in a TypeScript repo. Would be great to not have to install `eslint` only to resolve this error.

[2017-09-19 15:24] lazamar commented on #267
@vcarel I think this issue may be happening because of incompatibility between versions of `prettier` and `prettier-eslint` or `prettier-eslint-cli`.

Seems like the API of one of these modules changed and didn't allow interaction with older versions of the other modules.

[2017-09-19 15:33] lazamar commented on #267
Actually, forget what I said, the problem still persists here. I had disabled `eslint` integration with `prettier` and forgot about it. That's why I wasn't seeing the error anymore.

[2017-09-19 22:33] scttcper commented on #274
Also running into this on almost all of my typescript projects. No issue running prettier on file directly.

osx
atom 1.20.1
prettier-atom@0.39.0

example repo: https://github.com/scttcper/ts-trueskill
clone repo and npm install, open trueskill.ts and run prettier format

[2017-09-19 23:59] jacobbuck commented on #267
Using prettier 1.4.4 here as the newer versions have a number of bugs with styled-components. Please keep prettier-atom backwards compatible.

[2017-09-20 00:54] robwise commented on #267
I will go ahead and make the commit on prettier-eslint tonight, I do apologize but this is actually a problem in the prettier-eslint package and not prettier-atom. I did write this package to be backwards compatible with 1.4 AFAIK

[2017-09-20 04:40] robwise commented on #267
Fix in prettier-eslint is here: https://github.com/prettier/prettier-eslint/pull/127

[2017-09-20 04:52] #267 closed

[2017-09-20 04:58] robwise commented on #267
This should be fixed in 0.40.0, please upgrade your prettier-atom package and restart Atom (important!)

[2017-09-20 07:29] GuskiS commented on #267
`prettier-atom failed: Cannot read property 'sync' of undefined`
`prettier-atom` - `0.40.0`
[code]

Deleted `node_modules`, updated `prettier-atom`, restarted - still that error appers.

[2017-09-20 08:06] gmuc commented on #251
yes. I upgraded to 0.40.0 - same problem. After delete and reinstall prettier-atom all open files, will nice format. New opened files - not working semicolon option!

My packages:
├── autocomplete-paths@2.11.0
├── busy-signal@1.4.3
├── emmet@2.4.3
├── goto-definition@1.3.4
├── intentions@1.1.5
├── js-refactor@0.7.5
├── language-babel@2.74.2
├── last-cursor-position@0.9.2
├── linter-eslint@8.3.2
├─

[2017-09-20 08:10] gmuc commented on #251
I have tried delete and reinstall complete atom - no solution :-(

[2017-09-20 13:31] aamorozov commented on #267
Steps that fixed the issue for me:

1. Update version in package.json in project dependancies to:
[code]
2. Restart the atom
Things are working now

[2017-09-20 18:55] darahak commented on #251
- Are you using ESLint in your project? If yes, is the `semi` rule set to `"never"`?
- If format-on-save enabled in `linter-eslint`?
- Are you using `prettier-atom` with ESLint integration and the `semi` rule?

To be sure about the ESLint config, run:

[code]

[2017-09-20 20:59] kennethbigler opened #278 "after upgrade to 0.40.0: prettier-atom failed: Cannot read property 'sync' of undefined"

[2017-09-20 21:24] darahak commented on #258
Better yet, we should fall back on our own embedded Prettier if it doesn't meet requirements from `peerDependencies`. I don't know why I didn't think of that.

[2017-09-20 21:28] darahak commented on #278
It's picking up an old (and incompatible) version of Prettier.

See https://github.com/prettier/prettier-atom/issues/268

[2017-09-20 21:28] #278 closed

[2017-09-20 22:17] DidierHoarau commented on #274
Hi again,

My view on the issue:

For the projects I'm working on it's OK to install eslint. So... not having to install eslint would be the best... but if it's not easy/possible to have prettier-atom work without eslint, I think a good enough solution (for me) would be to have the error message explaining that we need to install eslint.

Regards

[2017-09-21 05:40] sfarthin opened #279 "isty9"

[2017-09-21 05:41] #279 closed

[2017-09-21 07:23] robwise commented on #274
I'm a bit confused here. prettier-atom does not use or require eslint unless both of the following are true:

1. we detect that there is an eslint config file present
2. you have the `ESLint Integration` setting checked in your prettier-atom settings

If neither of these are true, then we are not doing anything with ESLint so I don't see why installing ESLint would fix?

If both of these are true,

[2017-09-21 07:27] robwise commented on #258
While the prettier config release obviously had a major backward-compatibility issue, in this case it was actually resulting from an external dependency that already was the embedded dependency, and we can't (I think) install two different versions. Depending on what it is, I think we'll want to just use a conditional to work around the issue, and then as a "plan b" just display an incompatibility

[2017-09-21 07:28] robwise commented on #251
Also, we're not talking about unsaved files, right? prettier-atom needs the file to be saved in order to pick up local eslint config files, otherwise we can't know where to look and just fall back to your package settings.

[2017-09-21 09:47] darahak commented on #258
I'm not sure why we are talking about installing two versions.

I'll try to clarify my reasoning below.
Most of the problems were caused by new embedded Prettier vs old Prettier in project dependencies.

What I'm proposing is only indicating compatible versions of `prettier` and `prettier-eslint` in our `package.json`. Then we can show clear errors telling users to upgrade instead of them creating

[2017-09-21 09:48] darahak commented on #274
It could also come from `typescript-eslint-parser` which is a dependency of `prettier`.
Maybe an update would be enough to solve the issue?

[2017-09-21 09:53] tell-y opened #281 "Not working "trailingComma""
My setting is below:
[code]

Then, when I formatted code which is used a function, last argument of the function is added comma.
(I tried to format on VSCode, It was success)

My expected is below:
[code]

thanks.

<details>

[code]
</details>

[2017-09-21 10:04] robwise commented on #281
Do you have `ESLint Integration` enabled? Are those settings the prettier config file settings or the prettier-atom package's settings?

[2017-09-21 10:09] tell-y commented on #281
Thank you for your response.
Yes, I checked on `ESLint Integration` at atom setting page.

[2017-09-21 10:18] robwise commented on #281
Please show your eslint config file, prettier config file, and atom prettier settings

[2017-09-21 10:19] robwise commented on #258
Yeah we should fix this actually lol

Oh, because in the case of `prettier-eslint` we *always* use the bundled version, we never pick up the local version. I guess we could change that though.

[2017-09-21 10:48] tell-y commented on #281
My package.json setting is below(no eslint config file and prettier config file):
[code]

atom prettier settings are below (only checked and selected, others no set):
- ESLint Integration
- Ignore Files in '.eslintignore'
- Single Quotes
- Bracket Spacing
- Semicolons
- Print Width -> 100
- Trailing Comma -> es5
- Javascript Parser -> flow

[2017-09-21 10:54] darahak commented on #258
I didn't know that, thanks for clarifying!

[2017-09-21 11:09] darahak commented on #281
`eslint-config-airbnb-base` defines `comma-dangle` as:

[code]

But you also extend `eslint-config-prettier` which should disable that rule, so it's weird...
Can you try to see what are the exact rules being applied to your file?

Run:
[code]

[2017-09-21 11:24] robwise commented on #258
Yeah, for reference, here was the discussion about it way back when it was implemented: https://github.com/prettier/prettier-atom/issues/59#issuecomment-288158656

[2017-09-21 11:26] tell-y commented on #281
Running result is here: [https://gist.github.com/tell-y/029ecbeab7ba37a98d5359a6ec9ee595](https://gist.github.com/tell-y/029ecbeab7ba37a98d5359a6ec9ee595)

[2017-09-21 11:42] darahak commented on #281
You have `comma-dangle` as `off`, but then you also have `no-comma-dangle` as `off`.
Maybe it's re-enabling dangling commas. Can you try to remove it?

[2017-09-21 11:51] tell-y commented on #281
I don't set those setting...

anyway, I tried to change `"ecmaVersion": 6,` to `"ecmaVersion": 2017,` of eslintConfig/parserOptions, then it could work correctly!

[2017-09-21 12:01] darahak commented on #281
That's because dangling commas in function parameter lists are part of ES2017.
See [here](https://github.com/tc39/proposals/blob/master/finished-proposals.md).

I guess it's not a problem as long as it stays compatible with the platforms you're targeting (via transpiling).

[2017-09-21 12:25] tell-y commented on #281
I see.
Thank you for your supporting. @darahak @robwise

I think it should work with `"ecmaVersion": 6`(`"ecmaVersion": 2015`), however maybe I have a chance to write code as ES2017 soon this project soon, so this solution is enough for me 👍

[2017-09-21 13:24] robwise commented on #281
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-09-21 13:24] #281 closed

[2017-09-21 14:51] Fakkio commented on #274
@robwise can i help you identify the bug in some way? Maybe running Atom in developer mode or something like that?

[2017-09-21 19:26] mlshv commented on #274
Logs in console say:
[code]

So i guess it's a typescript-eslint-parser issue

[2017-09-21 20:07] darahak commented on #274
Prettier support TS 2.5 as of version 1.6.0.
If you get this warning, you probably have an old version Prettier installed in your project.

[2017-09-21 20:20] augbog commented on #226
Just adding this also happens for Atom's new IDE `atom-ide-ui` which comes with a conflicting package `atom-ide-diagnostics`. Atom handles it gracefully though by asking the user to disable one or the other.

[2017-09-21 21:40] DidierHoarau commented on #274
On my side, the 2 conditions that you have mentioned are true. (so expected behavior I guess)

The reason why I have .eslintrc on a TypeScript project is that I want prettier to format according to our coding standard.

We have a tslint file but Prettier can't use a tslint file as configuration fiile for prettier (as far as I know... but that would be great by the way)... so we use a .eslintrc fil

[2017-09-21 23:39] robwise commented on #274
@DidierHoarau As of prettier 1.6 you can now use a [prettier config file](https://github.com/prettier/prettier#configuration-file), so perhaps that might be useful to you?

@Fakkio I definitely want to help solve this if it is a prettier-atom issue. If you're using the ESLint integration, then as a test, you would need to run using `prettier-eslint-cli` and not `prettier`, and see if the error sti

[2017-09-21 23:40] robwise commented on #226
@augbog does prettier-atom still work okay? Which one should people disable to get it to work?

[2017-09-22 02:29] Ectropy opened #282 "space-before-function-paren rule not applied to formatted code"
I'm not sure if this is a problem with atom-prettier, prettier, or prettier-eslint. I do know that when I used atom-prettier's Ctrl-Shift-F formatting keystroke on a improperly formatted file, it fixed all of the eslint errors (based on the rules of [JavaScript Standard Style](https://github.com/standard/standard)) _except for_ the [space-before-function-paren](https://eslint.org/docs/rules/space-

[2017-09-22 09:40] Fakkio commented on #274
here is the log copied from developer tools. It seems to be an eslint error, but i don't even use eslint in this project 😕

[prettier-atom-error-stack-trace.txt](https://github.com/prettier/prettier-atom/files/1324075/prettier-atom-stack-trace.txt)

[2017-09-22 12:51] robwise commented on #274
@Fakkio If prettier-atom is using prettier-eslint to format it means you've got both the `ESLint Integration` option checked and that your project has an eslint config in it.

[2017-09-22 12:54] robwise commented on #282
@Ectropy Yeah this is a prettier thing, it's the way it formats. If you'd like to change that, you can turn on prettier-atom's `ESLint Integration` option and it should run eslint's autofix after formatting with prettier, which should fix the problem.

[2017-09-22 13:33] Ectropy commented on #282
Ok for some reason even with `ESLint Integration` on it still didn't seem to fix that style error. In any case, it's not a problem with this plugin, so I'll close.

[2017-09-22 13:33] #282 closed

[2017-09-22 13:54] Fakkio commented on #274
The option is checked, but i have no eslint config file. I only have tslint.json for typescript.

[2017-09-26 08:59] abhirathore2006 commented on #274
@robwise  thanks for pointing out the eslint integration checked
@Fakkio  i don't use eslint and had the checkbox checked, removing the check from eslint integration fixed the issue for me.

[2017-09-26 09:29] Fakkio commented on #274
@abhirathore2006  ok as temporary workaround, but in this way every time i pass from a project with eslint to a one without it, i have to remembre to check-uncheck that option. Not the end of the hello world, but quite annoyng.

[2017-09-26 15:16] GuillemotF opened #283 "Not working anymore with local network address"
After upgrading to 0.40.0 prettier can't run on files accessed by a local network address like \\192.168.x.x\project\app\index.js
It throws `prettier-atom failed: UNKNOWN: unknown error, open '\192.168.x.x\package.json\'`
It was working before upgrading but i don't know if this bug was introduced in 0.39 or 0.40.

Windows 10 64 Pro
Atom 1.20.1

Prettier debug :
<details>
 Atom version: 1.20.1
pret

[2017-09-26 19:18] robertdmunn opened #284 "prettier-atom failed: Cannot find module 'estraverse'"
Using prettier-atom with eslint on macOS High Sierra. Saving a JavaScript file results in the error message:

prettier-atom failed: Cannot find module 'estraverse'

The editor does not automatically format the code on save as it is configured to do.

Note that I am editing files residing on a local Windows Server 2008 virtual machine, which I access from macOS using an SMB share.

Here is the outp

[2017-09-26 19:23] josh-stevens opened #285 "Show in status bar not always working"
Sometimes while "Show in status bar" is enabled, the Prettier toggle in the status bar will disappear. It will reappear when I go into the preferences and check and uncheck it, but disappear again in certain files. I'm not entirely sure what conditions cause it to disappear (usually when there is a lot of stuff going on in the status bar I think).

This is a pretty big one for me, since sometimes

[2017-09-26 21:33] darahak commented on #284
I don't know where this comes from. It's not from our direct dependencies.
There could be a conflict or outdated package in your project?

[2017-09-26 21:50] robertdmunn commented on #284
I have more information for you. The plugin works when I am editing JavaScript files on my local Mac drive instead of over the SMB share. Just verified that functionality.

All of my packages say they are updated. I have 90 installed packages, would not be shocked for there to be a conflict somewhere. Still, it looks like the problem may be specific to SMB shares. I know there is an existing bug w

[2017-09-26 21:53] darahak commented on #283
I reproduced it, but I don't know why it only appeared recently.
It happens when the package looks for config files or ignore lists.

If you set breakpoints on exceptions in DevTools, there are a lot of them (for `.eslintignore`, `.prettierrc`, etc.) and it only shows the last (not sure why either).

[2017-09-27 17:27] wldcordeiro opened #286 "Support for `prettier.config.js`"
I've been noticing that the plugin doesn't look at my prettier config and modifies code it shouldn't it'd be nice to get detection of the config for prettier.

[2017-09-27 20:57] darahak commented on #286
It should already be supported.
Unless it's picking up an old version from your project's dependencies.

[2017-09-27 21:56] wldcordeiro commented on #286
I have a config but its body is and I don't think that gets resolved. 🙁

[code]

[2017-09-27 22:29] darahak commented on #286
Is it working with the CLI?

Cosmiconfig uses [require-from-string](https://github.com/floatdrop/require-from-string/) to parse JS configs. It supports relative requires, but from dependencies? I don't know.

[2017-09-28 16:19] edouard-lopez commented on #242
Hi, big fan of `prettier`, I'm promoting it in my team, but one dev stop using it due to this behavior.

One solution is to disable `atom-prettier` on save and set a shortcut to run it manually but you know dev don't like to do stuff manually.

Btw. how does prettier/prettier-eslint#118 solves this as it's still open and doesn't mention the `debugger` statement issue.

Cheer

[2017-09-28 16:43] kentcdodds commented on #242
I suggest disabling prettier-eslint integration and just using prettier. That's what I've done. At this point I'm only minimally maintaining prettier-eslint. If you want to make
https://github.com/prettier/prettier-eslint/issues/118 a reality, be my guest.

[2017-09-28 20:09] robwise commented on #283
Well, we're using a different library for the two of them. The prettier config is found using a method from prettier itself, and it seems they throw or don't handle this scenario properly? I think this one probably needs to be fixed on prettier's repo?

[2017-09-28 20:10] robwise commented on #285
Yes, this way you don't have prettier stuff in your status bar when you're working on unrelated files

[2017-09-28 20:12] robwise commented on #274
Kent Dodds is somewhat moving away from maintaining prettier-eslint at this point, so I would recommend on those other projects using prettier-eslint-config to disable rules that conflict with prettier, and then only using prettier (no eslint) for formatting stuff.

[2017-09-29 07:44] GuillemotF commented on #283
You're right, this is a prettier bug, i tried to run this scenario from prettier cli command, it throws `no matching files` even with --no-config option.
This is not working since 1.6.0 release.

[2017-09-29 09:33] edouard-lopez commented on #242
Thanks for the clarification.

[2017-09-29 17:11] difelice commented on #48
Not quite sure, the following code works fine with client `prettier@1.7.2` and website playground.

## Snippet
[code]

## Error
[code]

## Prettier Playground
https://prettier.io/playground/#%7B%22content%22%3A%22%40decorator%20%40another%5Cnclass%20Test%20%7B%5Cn%7D%22%2C%22options%22%3A%7B%22ast%22%3Afalse%2C%22bracketSpacing%22%3Atrue%2C%22doc%22%3Afalse%2C%22jsxBracketSameLine%22%3Afalse%2C%22

[2017-09-30 19:38] robwise commented on #283
@GuillemotF Can you do me a favor and make an issue for this on the prettier repo, and I will close here?

[2017-09-30 19:38] #283 closed

[2017-10-05 10:46] patrickcate opened #288 "Add support for prettier-stylelint"
It would be great if support was added for [prettier-stylelint](https://github.com/hugomrdias/prettier-stylelint). This allows prettier to use a [stylelint](https://stylelint.io/) config for formatting CSS/Sass.

[2017-10-10 11:40] gmuc commented on #251
I tried deinstall linter-eslint 8.3.2. Now the semicolon of prettier-atom work. I install linter-eslint again and prettier-atom still works!?? There ara any cross dependencies?

[2017-10-11 03:03] robwise commented on #251
@gmuc There are if you don't disable fix on save in linter-eslint, although we warn about that. Ok to close?

[2017-10-11 08:09] gmuc commented on #251
you mean https://github.com/prettier/prettier-atom/issues/168

[2017-10-11 08:12] gmuc commented on #251
If you want you can close. It's right to say prettier-atom and linter-eslint not good friends? Better to disable linter-eslint?

[2017-10-11 08:14] robwise commented on #251
`linter-eslint` works great with prettier-atom, just don't enable its fix on save thing as you will get weird race conditions with prettier where they both are trying to replace the old code, and whoever's last wins.

[2017-10-11 17:42] Zacqary opened #289 "Format on save not working"
Format on save seems to have stopped working for me after updating to 0.40.0. Nothing happens when I save my unformatted file. Formatting from the keyboard shortcut still works.

Prettier:Debug:
<details>
Atom version: 1.21.0
prettier-atom version: 0.40.0
prettier version: 1.7.4
prettier-eslint version: 8.2.0
prettier-atom configuration: {
  "formatOnSaveOptions": {
    "enabled": true,
    "respe

[2017-10-12 04:23] robwise commented on #289
@Zacqary I'm not sure what would cause this, can you open the Atom dev tools and make sure prettier-atom is not reporting an error or anything?

[2017-10-12 08:26] gmuc commented on #251
Great! Now you can close.

[2017-10-12 08:31] #251 closed

[2017-10-13 04:14] t9md opened #290 "Warn user when project local prettier is outdated"
When people see error because of "project local `prettier` was old".
Removing or updating project-local prettier solves problem, but this is not obvious from error message.
So I want atom-prettier warn user to update prettier.

See tweet like this
https://twitter.com/ryanflorence/status/918344031133769730

Related: https://github.com/prettier/prettier-atom/issues/267

[2017-10-13 04:19] t9md commented on #290
But why atom-prettier force use to use specific version of prettier?
Ideally maintain multiple prettier executer to support older version of prettier so that updating prettier do not force also update project local prettier.

[2017-10-13 06:49] robwise commented on #290
Prettier does support using an older version, as Kent replied, it was a mistake in prettier-eslint-cli

[2017-10-13 06:49] #290 closed

[2017-10-13 06:52] robwise commented on #290
dupe of https://github.com/prettier/prettier-atom/issues/258

[2017-10-13 07:27] t9md commented on #290
Are you saying, we'd never see this error?
I'm not sure I understand background correctly, but I myself face this issue and spending some time before noticing uninstall local outdate prettier and use latest globally installed prettier is one of solution.

If this my resolution is effective for other users, I thought adding kind warning is helpful.

Anyway, it's just suggestion, I'm not strong opin

[2017-10-13 07:54] darahak commented on #290
No, if we go back on old versions of Prettier, at some point it will break at a different location.
You are right: the error messages that are displayed because of these incompatibilities are not helpful.

That's what I wanted to address by opening #258.

[2017-10-13 08:13] t9md commented on #290
Thanks for clarification, understood.

[2017-10-13 15:22] Zacqary commented on #289
The only thing the dev tools are logging is this pair of errors:
![screen shot 2017-10-13 at 10 18 26 am](https://user-images.githubusercontent.com/1445834/31553370-e5a56b66-afff-11e7-9754-c1b7c1c5ca60.png)

That happens when I hit Cmd+S to save, but it also seems to be happening whenever `<atom-text-editor>` comes into focus (e.g. clicking on the dev tools, then clicking back on the main text edi

[2017-10-13 16:08] robwise commented on #289
Hmm, could be a red herring, not sure. If there was a problem where the `save` event handler was not getting fired, then that could explain why `formatOnSave` is not called. Can you try running Atom in safe mode (`atom --safe`) and see if you still get that error in your dev tools?

It could be a red herring of course, but if the `save` event is not getting fired/handled that _could_ explain it he

[2017-10-15 04:40] kentcdodds commented on #215
I'm not sure it's possible to do this and it's not a huge deal to me anyway so I'm going to go ahead and close this :)

[2017-10-15 04:40] #215 closed

[2017-10-17 15:39] Zacqary commented on #289
Well I think that error is definitely a red herring, because it stopped happening. Unfortunately, disabling all other packages but `prettier-atom` didn't solve the issue. I tried selectively re-enabling other packages, but nothing seemed to work.

[2017-10-18 17:30] keithjgrant opened #291 "Different config options for CSS vs JS"
I may be completely in the minority here (feel free to close this if I am), but I prefer different config options when using prettier for JS compared to CSS. Specifically, I prefer single quotes in JS, but double quotes in CSS. I would like it if I could somehow configure this option differently for the two file types.

[2017-10-18 18:41] robwise commented on #291
@keithjgrant You can add a `.prettierrc` file to do this using `overrides`: https://github.com/prettier/prettier#configuration-overrides

[2017-10-18 18:41] #291 closed

[2017-10-18 18:47] keithjgrant commented on #291
Awesome! thanks

[2017-10-19 22:52] wuno opened #292 "Prettier auto formats JSON removing parens"
When turning prettier on save. It formats my json by removing the parens.

For example if I have this,

[code]

I am using eslint and have a pretty extensive eslintrc file but when I delete the file I still have the same problem. So I think this is for sure a setting within prettier. But I cannot figure out which one.

Does anyone know how to change the behavior for formatting objects? I want to b

[2017-10-19 23:13] robwise commented on #292
@wuno Are you sure that Atom recognizes that you are in a JSON scope and not a JS scope?

[2017-10-20 01:59] wuno commented on #292
I was wondering about that and looking around to see how I could determine that.
I am using eslint as well but when I remove all my rules it does the same thing. When I open the app in webstorm the problem does not persist. So it is for sure a prettier thing.

I am sure it is just a setting I just cannot figure out which one it is.

[2017-10-20 13:01] darahak commented on #292
Prettier will always remove quotes when possible, e.g. it will preserve them if you use property names with dashes or whitespace.
If you want it to stay consistent, you can use the [quote-props](https://eslint.org/docs/rules/quote-props) ESLint rule and enable autofix.

Side note: The sample you showed us is JavaScript, and it removed quotes (the title was a bit misleading).

[2017-10-20 13:01] #292 closed

[2017-10-20 13:13] gmuc commented on #267
@nwaywood how got you the Prettier debug output at your first post?

[2017-10-20 13:24] wuno commented on #292
This is my current rule in .eslintrc

[code]

You are saying I can change this and it will work closer to what i am expecting? Also I shall change the name, sorry about that.

[2017-10-20 13:43] darahak commented on #292
If you want to always use quotes for object properties, use `"always"`.
All the options are described [here](https://eslint.org/docs/rules/quote-props#options).

[2017-10-20 19:57] keyvhinng opened #293 "Prettier-atom not respecting quote_type directive from EditorConfig"
I checked `EditorConfig Integration`  to work with .editorconfig file, which has:
[code]
With this rule, I assume that prettier-atom will format string literals with single quotes on typescript files, but that's not happening.

This is my prettier-debug output:
[code]
Does prettier-atom settings have more priority than .editorconfig rules ?

[2017-10-20 21:22] robwise commented on #293
@keyvhinng prettier-atom does not support glob overrides (`[*.ts]`), but prettier itself will be adding its own editorconfig integration itself soon, which we will probably switch over to, so keep a lookout for that: https://github.com/prettier/prettier/pull/2760

[2017-10-20 21:22] #293 closed

[2017-10-22 03:36] nwaywood commented on #267
@gmuc there is a prettier command called `prettier: debug`. You can execute it from the command prompt

[2017-10-24 15:10] keyvhinng commented on #293
Thanks for your reply!  I'll take a look on that.

[2017-10-24 17:32] titanve opened #294 "Not openning remote file"
Hello all!
I'm openning a folder (project) from a server on my network and every time I hit `Save` it shows this error
![image](https://user-images.githubusercontent.com/4803351/31958231-b26fb21e-b8b6-11e7-9da9-1355486da490.png)
What can I do? The remote path for the project folder is: `./C:/192.168.1.42/Anonymous/intralab` (taken from copy relative path) and from windows explorer `\\192.168.1.42\

[2017-10-24 20:00] robwise commented on #294
@titanve I assume this has something to do with the fact that it's remote, I'm not sure if we support that, or if Atom does as far as its resolveConfig function?

[2017-10-24 20:12] titanve commented on #294
Hey @robwise what do you suggest?
Thanks

[2017-10-25 07:47] 44to696 opened #295 "[Linter] Error running CSSLint"
I am having this error message for a while.
This is already posted issue,
However I don't know how to remove this package completely / remove this error message.
Could somebody help me out?

[2017-10-25 10:38] whitelizard opened #296 "Prettier not fixing too long line"
Have been using prettier for a great while and are very happy with it. Today however I got this problem with a line that was too long, that prettier just would not format correctly.

Here is the line, with a minimal environment for a happy eslint.
[code]
What I get in Developer Tools console:
![image](https://user-images.githubusercontent.com/8565497/31994004-63e2b5d2-b97f-11e7-9c7e-37eaa95e0c2b.p

[2017-10-25 20:13] robwise commented on #295
@44to696 I'm not sure this has anything to do with prettier-atom. You need to go to your atom installed packages and uninstall the CSSLint package if you want to remove it.

[2017-10-25 20:13] #295 closed

[2017-10-27 06:31] sompylasar commented on #289
<details>
<summary>Prettier:Debug</summary>
<pre><code>
Atom version: 1.21.0
prettier-atom version: 0.40.0
prettier version: 1.7.0
prettier-eslint version: 8.1.1
prettier-atom configuration: {
  "formatOnSaveOptions": {
    "enabled": true,
    "isDisabledIfNoConfigFile": true,
    "respectEslintignore": true,
    "showInStatusBar": false,
    "javascriptScopes": [
      "source.js",
      "source

[2017-10-27 17:04] gaohailang opened #297 "prettier-atom failed: Couldn't resolve parser "scss""
I encounter this error when I save my unformatted scss file.

<details>
Atom version: 1.19.2
prettier-atom version: 0.40.0
prettier version: 1.7.4
prettier-eslint version: 8.2.1
prettier-atom configuration: {
  "formatOnSaveOptions": {
    "cssScopes": [
      "source.css",
      "source.less",
      "source.css.less",
      "source.scss",
      "source.css.scss",
      "index.scss"
    ],
    "en

[2017-10-27 21:00] robwise commented on #297
@gaohailang Do you have a prettier config?

[2017-10-29 01:20] bradennapier opened #298 "atom lint errors when not using standard diagnostics"
This doesn't appear to actually stop things from working, but it does produce a lot of errors in console on every save.

When using something other than default linter (like is the case if you use the new atom-ide features), every save will start causing an error:

[code]

[2017-11-01 16:36] amirmishani opened #300 "CSS Grid Template Areas"
The proper way to show CSS Grid template areas should be:

[code]
However the code gets all put in one line with text wrapping based on your personal prefs.

[2017-11-01 20:41] robwise commented on #300
@amirmishani Please make an issue on the prettier repo, this is just the atom integration

[2017-11-01 20:41] #300 closed

[2017-11-01 20:50] amirmishani commented on #300
Will do. Thanks.

[2017-11-02 13:48] keithjgrant commented on #291
I haven’t been able to get this to work. I’ve added a `.prettierrc` at the root of my project, with the following content:
[code]

I’ve also tried adding a `prettier` key to my package.json:
[code]

In both cases, it still changes quotes to single quotes, according to my configuration in the plugin Settings.

[2017-11-03 03:18] robwise commented on #291
@keithjgrant Are you using the eslint integration as well? If so, can you try turning it off and seeing if it makes a difference? Also, can you make sure you have the latest version of prettier in your node modules?

[2017-11-04 06:41] bradennapier commented on #270
I have relaoded atom about 95 times  now just trying to get print width right... desperately need this since printWidth is ignored in the actual config of the plugin

[2017-11-04 23:25] robwise commented on #270
@bradennapier What do you mean the print width is ignored?

[2017-11-07 15:39] zimme opened #302 "Support prettier-tslint"
I would like to request support for [`prettier-tslint`](https://github.com/azz/prettier-tslint).

[2017-11-07 15:41] zimme commented on #302
However it seems to be blocked by the following issue.
https://github.com/azz/prettier-tslint/issues/1

[2017-11-08 17:04] dispix commented on #267
I am having the same issues, here's the output of `prettier: debug`:

[code]

[2017-11-08 22:21] kentcdodds opened #303 "support markdown from prettier 1.8"
Hey folks! I'd love to get support for markdown from prettier 1.8. I did a little digging and I think that I found all the places that need a change:

1. [Around here we need another `if` statement](https://github.com/prettier/prettier-atom/blob/19523c42260b82cdfdda7994125bc8a2b3f16271/src/executePrettier/buildPrettierOptions.js#L58)
2. [Around here we need a `isCurrentScopeMarkdownScope`](https:/

[2017-11-08 22:23] kentcdodds commented on #303
If you've never done atom plugin dev before, [this](https://github.com/blog/2231-building-your-first-atom-plugin) could help (and [the official guide](https://github.com/blog/2231-building-your-first-atom-plugin)).

[2017-11-09 00:17] vivek12345 commented on #303
@kentcdodds I have never done atom plugin dev before, am I still allowed to take this up?

[2017-11-09 00:18] kentcdodds commented on #303
Absolutely! It'll be a learning experience for sure! Good luck!

Make sure to check the CONTRIBUTING.md file :+1:

[2017-11-09 06:02] robwise commented on #303
And please make sure to add tests :)

[2017-11-09 06:04] kentcdodds commented on #303
Definitely! Do you have a suggestion for where those should go @robwise?

[2017-11-09 06:07] robwise commented on #303
Pretty much each file has its own corresponding test file, with the exception of `src/main.js`. We keep the test files right next to the source files (as opposed to inside a `__tests__` folder, although that probably would have been cleaner). It should hopefully be clear from glancing at those how and where to test what you added, as adding new language/parser support this is a pretty common patte

[2017-11-09 22:58] darahak commented on #303
We should add this information to [CONTRIBUTING.md](https://github.com/prettier/prettier-atom/blob/master/CONTRIBUTING.md).

[2017-11-10 00:27] robwise opened #304 "Improve CONTRIBUTING.md"
We could provide more helpful, repo-specific information about code style, paradigms in use, etc.

https://github.com/prettier/prettier-atom/issues/303#issuecomment-343319708

[2017-11-12 00:56] #303 closed

[2017-11-14 08:56] panuhorsmalahti commented on #297
I had this error (and I didn't have a prettier config). I fixed it by updating prettier from 1.7.0 to 1.8.2 and restarting Atom.

[2017-11-17 22:31] darahak commented on #249
I'll close this stale issue, since there is a really good chance it can be solved by just updating your `prettier` dependency.
Feel free to re-open if you still have the problem.

[2017-11-17 22:31] #249 closed

[2017-11-17 22:42] darahak commented on #263
I'm closing this stale issue, since we could not reproduce the bug and had no news for a while.
Feel free to re-open it if you still have the problem.

[2017-11-17 22:42] #263 closed

[2017-11-17 23:04] darahak commented on #286
I'm closing this issue, since it doesn't seem to be actionable for us.
As I said before, it looks like only relative modules are supported.

If you still need this feature, you should raise the issue with the concerned projects.

[2017-11-17 23:04] #286 closed

[2017-11-18 14:56] robwise commented on #285
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-11-18 14:56] #285 closed

[2017-11-20 14:13] natterstefan commented on #298
@bradennapier I have the same issue, did you solve it?

[2017-11-22 12:41] whitelizard commented on #296
Another example:

`const replies = await Promise.all(rule.apiData.map(entry => this.c.rpc.p.make(entry[1], entry[2])));`

[2017-11-23 03:47] Overload119 opened #307 "prettier-atom failed: isCurrentScopeMarkdownScope is not a function"
Issue: I see this error message when trying to save and run prettier.

<details>
Atom version: 1.22.1
prettier-atom version: 0.41.0
prettier version: 1.8.2
prettier-eslint version: 8.2.2
prettier-atom configuration: {
  "formatOnSaveOptions": {
    "enabled": true,
    "isDisabledIfNotInPackageJson": true,
    "respectEslintignore": true,
    "showInStatusBar": false,
    "javascriptScopes": [

[2017-11-23 03:49] Overload119 commented on #307
Restarted Atom and it worked.

[2017-11-23 03:49] #307 closed

[2017-11-25 03:32] bradennapier opened #308 "prettier-atom failed: couldn't resolve "markdown"
prettier-atom failed: Couldn't resolve parser "markdown"

![image](https://user-images.githubusercontent.com/15365418/33226971-29e1c4ae-d14e-11e7-895e-a5347d19715a.png)

Every time i try to save a markdown file

[code]

[2017-11-25 04:48] #308 closed

[2017-11-25 15:18] robwise commented on #308
Requires a version of prettier that can parse markdown. If you can't upgrade, use a `.prettierrc` or your atom settings to disable for markdown files.

[2017-12-01 05:42] xgdgsc commented on #150
They are not doing anything on this issue. I' m wondering what does the option "Run Prettier Last" do. If the default behavior is to run eslint last, why would I get the error.

[2017-12-01 21:43] robwise commented on #150
You shouldn't, you should be fine if you're using eslint to fix this. I would double check that your eslint setup is working correctly and that the rule is properly configured

[2017-12-02 07:36] pvdlg opened #309 "Allow to format on save for markdown files"
When the focus is on a markdown file the `Prettier` menu is the status bar is not visible even if the option `Show in status bar` is enabled.

When saving, the js code within fences is not formatted.

When running the command `Prettier:Format` the code is formatted as expected.

[2017-12-02 08:24] sompylasar commented on #289
I found the repro steps and the cause: missing cache invalidation (the hardest problem in computer science 😜 ).

## Repro

1. Set the options to `Only format if a Prettier config is found`:
    <img width="743" alt="screen shot 2017-12-01 at 11 02 24 pm" src="https://user-images.githubusercontent.com/498274/33512855-c820d932-d6eb-11e7-8456-e41f6c43aff4.png">

2. Open a project **without (!)** a `.

[2017-12-02 21:20] robwise commented on #289
Seems like this turned out to be the problem as described in https://github.com/prettier/prettier-atom/issues/270?

I think it's easier! Just use `_.tap(console.log)` and move it around to whichever step you want introspection on.

[code]

Also, I have this as a snippet:

[code]

So if you want to debug this:

[code]

You just insert the snippet. You can also put `debugger` there if you prefer

[c

[2017-12-02 21:25] robwise commented on #309
I can't reproduce this, it seems to be working fine for me (both the checkmark in the status bar showing up on markdown files properly as well as the formatting of JS fenced code blocks using format on save). Are you sure that your markdown scopes are correct?

[2017-12-02 21:31] pvdlg commented on #309
Are you sure that your markdown scopes are correct?

It's not set so I assume it uses the default. If I set it to `source.md, source.gfm` the problem persist.

According to [menus/prettier-js.json#L3](https://github.com/prettier/prettier-atom/blob/ca06e71d6c74610d06ac7c7d4b8037ebbc97075b/menus/prettier-js.json#L3) the `Prettier` menu is supposed to appear only for `js` or `js jsx` source type.

So

[2017-12-02 22:18] sompylasar commented on #289
@robwise

1) Yes, for `.prettierrc` (and the config files) it looks like https://github.com/prettier/prettier-atom/issues/270 – but I'm not sure about `package.json` dependencies, from the first glance there was something else.

2) Thank you for the debugging tips. Yes, I found `_.tap` and could use it for debugging, but this requires code changes, and every time the code needs to change, Atom nee

[2017-12-03 17:45] robwise commented on #309
Yes this is true

That looks like a bug but that's actually for a different thing (the command palette). The code for the tile is here:

https://github.com/prettier/prettier-atom/blob/master/src/statusTile/updateStatusTileScope.js

Basically, if the current scope matches any scope in all of your settings, it should come up.

I can't think of what it would be, and that is how my JS fences look too

[2017-12-03 20:14] pvdlg commented on #309
I'm use [language-markdown](https://atom.io/packages/language-markdown). I don't know if it's related.

In `prettier-atom` plugin configuration, if I add `text.md` to the scope it works as expected.
I don't know why the markdown file doesn't match the default value of `source.gfm, source.md`.

Maybe it would be a good idea to add `text.md` to the default value ?

[2017-12-03 20:55] robwise commented on #309
@pvdlg if you do `Editor: Log Cursor Scope` what do you get? I didn't realize there was a `text.md`, but yeah that sounds like it should be something that we should add to the defaults?

[2017-12-03 21:01] pvdlg commented on #309
If my cursor is outside fences:
- text.md

If my cursor is in js fences:
- text.md
- fenced.code.md
- source.embedded.js

[2017-12-03 21:06] robwise commented on #309
Oh interesting, mine is coming as `source.gfm`. That must be the problem, it must depend on which package you use (I use markdown-writer). Yeah, I think we should add `text.md` to the default scopes. Would you mind making a quick PR?

We'd just need to change this line here: https://github.com/prettier/prettier-atom/blob/master/src/config-schema.json#L119

If so, please check out the conventional

[2017-12-03 21:12] pvdlg commented on #309
#312

👍 I maintain https://github.com/semantic-release/semantic-release :)

[2017-12-03 22:32] robwise commented on #309
hahahaha my bad! Preaching to the choir!

[2017-12-04 01:35] #288 closed

[2017-12-04 01:40] #309 closed

[2017-12-05 09:53] kaspar-naaber opened #315 "Atom file saving fails after upgrading to latest prettier-atom"
I did an update in this morning and after. When I try to save any file it will output the following to the console and save is not triggered:

<details>

[code]
</details>

<details>

[code]

</details>

[2017-12-05 10:39] poacher2k opened #316 "0.43.0: Error when saving if "useTabs" is enabled"
Heyo!

After upgrading to the latest version, I'm getting this when saving. I added a `console.log('options', options);` in the place where it failed. see console output:

![image](https://user-images.githubusercontent.com/2255960/33602802-bfd197a4-d9b0-11e7-864a-8be1d6670d61.png)

If I disable "use tabs" in the prettier-atom options, everything works fine without any errors.

[2017-12-05 12:26] darahak commented on #315
Sorry about this! I think babel-polyfill was introduced with https://github.com/prettier/prettier-atom/pull/311.
It's a known issue (see https://github.com/babel/babel/issues/4019), but we should be able to mitigate it by applying [this](https://github.com/babel/babel/issues/4019#issuecomment-245409648).

I'm not able to make the change now, so feel free to make a PR or wait for the fix!

[2017-12-05 13:26] derwaldgeist opened #317 "value.indexOf is not a function"
Since the latest updated to prettier-atom, I am constantly getting this error when trying to save a file:

[code]

Content of the file doesn't matter, nor does file type (JavaScript, SCSS, ...).

[2017-12-05 15:44] darahak commented on #316
Related to https://github.com/prettier/prettier/issues/3399.
Solved by https://github.com/prettier/prettier/pull/3401.

Will probably be included in the next release.

[2017-12-05 15:44] #316 closed

[2017-12-05 15:48] mwamodojnr commented on #317
I have the same issue. I have just removed the latest upgrade and reinstalled the a previous version 0.41.0

[2017-12-05 16:50] derwaldgeist commented on #317
@mwamodojnr Did this downgrade help? For me, it didn't work.

[2017-12-05 17:01] derwaldgeist commented on #317
It's weird. I got it working by deactivating about half of my add-on packages and reactivating them afterwards. I have no clue why this helped.

[2017-12-05 17:47] MaxJohnsen opened #318 ""Error: prettier-atom attempted to set messages with linter package, but was unable." after reopening a file"
Anyone else having issues with Linter errors not showing up after reopening a file within Atom?

The console logs the following error-message:

`/Users/max/.atom/packages/prettier-atom/dist/linterInterface/index.js:25 prettier-atom attempted to set messages with linter package, but was unable. Messages: [{"location":{"file":"/Users/max/Desktop/test.js","position":{"start":{"row":0,"column":11},"en

[2017-12-05 20:15] zimme commented on #317
This was a problem in `prettier-eslint`. Which is fixed now.

[2017-12-05 21:55] brybrophy opened #319 "Option to format on Open"
My team is using prettier to format everyone's code pre-commit. This gives each developer the freedom to format code in their development environment however they want, while making sure it is pretty before it gets pushed up.

The problem is that we then have to manually reformat files to match our local settings when we open them again. It would be great to have an option to automatically format

[2017-12-05 22:51] #317 closed

[2017-12-05 22:55] darahak commented on #318
Thanks for reporting.

Is the context similar to https://github.com/prettier/prettier-atom/issues/298?
If yes, let's track the problem there and close this one.

[2017-12-06 02:58] robwise commented on #315
@darahak I can bang this one out real quick

[2017-12-06 03:10] #315 closed

[2017-12-06 04:05] #318 closed

[2017-12-06 04:05] robwise commented on #235
Should be fixed in #321

[2017-12-06 04:05] #235 closed

[2017-12-06 04:06] robwise commented on #298
should be fixed in #321

[2017-12-06 04:06] #298 closed

[2017-12-06 04:39] robwise commented on #297
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-12-06 04:39] #297 closed

[2017-12-06 04:41] robwise commented on #296
@whitelizard Are you still having this issue?

[2017-12-06 04:42] robwise commented on #266
The strange thing is that, it should be stepping up the tree as-is?

[2017-12-06 04:44] robwise commented on #284
I'm not really knowledgeable about SMB shares or what is conflicting with that. It may be one of our dependencies, probably `prettier` itself? I'm not sure how to go forward with this, so I'm going to close for now. Please let me know if there is something that can be done to fix this.

[2017-12-06 04:44] #284 closed

[2017-12-06 04:45] robwise commented on #294
Hey sorry for not getting back to you, this slipped through the cracks. I'm not really sure what to do about this as I'm not sure where the code is erroring. Can you open your Atom dev tools and see if there is a stack trace where this is happening?

[2017-12-06 04:46] robwise commented on #253
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-12-06 04:46] #253 closed

[2017-12-06 04:46] robwise commented on #248
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-12-06 04:46] #248 closed

[2017-12-06 04:48] robwise commented on #274
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2017-12-06 04:48] #274 closed

[2017-12-06 04:49] robwise commented on #319
Interesting, I've never heard of prettier being used this way. I suppose we could add a `formatOnOpen` option, but we'd need to make sure the file was an already-saved file otherwise we won't be able to look up things like the nearest package.json and such which we need to do. Would you be willing to make a PR?

[2017-12-06 07:42] derwaldgeist commented on #317
Thanks!

[2017-12-08 23:10] darahak commented on #296
If there is an issue, it's probably for `prettier-eslint`; the CLI gives the same result.
There is a set of rules from the `airbnb-base` config that is messing with the format.

The easy solution is to also use `eslint-config-prettier` to disable style rules that could interfere with Prettier.

[2017-12-08 23:10] #296 closed

[2017-12-09 19:09] burdakovd commented on #298
I'm seeing the same when editing remote file with Nuclide (every time on save I get this error, and can't achieve format-on-save functionality).

I've applied https://github.com/prettier/prettier-atom/pull/321 locally, and the error still persists.

After adding some more logs around the line where the error is being logged, I see that it was caused by file path being undefined rather than by Lint

[2017-12-10 00:45] robwise commented on #298
@bradennapier This sounds like a different type of problem since it's about remote file paths, can you create a separate issue so we can discuss that?

[2017-12-10 11:12] burdakovd opened #322 "Nuclide remote: prettier-atom attempted to set messages with linter package, but was unable. Messages: []"
I'm seeing this error when editing remote file with Nuclide (every time on save I get this error, and can't achieve format-on-save functionality).

[code]

I've applied https://github.com/prettier/prettier-atom/pull/321 locally, and the error still persists.

After adding some more logs around the line where the error is being logged, I see that it was caused by file path being undefined rather th

[2017-12-10 11:14] burdakovd commented on #298
Sure, created https://github.com/prettier/prettier-atom/issues/322

Sorry for the inconvenience, I'm new to Github and wasn't sure what the balance was between creating new issues vs. trying to find whether someone had similar problem.

[2017-12-12 00:10] #294 closed

[2017-12-12 16:40] JNaftali opened #323 "Error: Comment location overlaps with node location"
Unfortunately I don't know for sure that this issue doesn't lie with Prettier or Atom - I can't figure out why it happens sometimes. I'm game to investigate more if someone tells me where to look. Here's the error message copied from the console:

<details>/Users/lab/.atom/packages/prettier-atom/dist/executePrettier/handleError.js:55 Error: Comment location overlaps with node location
    at decor

[2017-12-12 20:39] zimme commented on #218
First, I haven't read through the entire thread.

I'll look into this as soon as I'm able. I've seen some unexpected behaviour when it comes to config and "load" order of configs in `prettier-eslint`.

I need to map out all cases of rule override and see if there maybe needs to be some extra option to support all cases when using `prettier-eslint` with an editor. Right now I believe that it works

[2017-12-13 04:12] robwise commented on #218
@zimme Note that on prettier-eslint I implemented `fallbackOptions` which are options that only get used if they weren't specified otherwise

[2017-12-13 04:15] robwise commented on #323
@JNaftali The error seems to be coming out of the Prettier package, so unless prettier-atom is giving it bad data, my hunch is that it is a Prettier issue. I would try and search the Prettier repo for this text: `Comment location overlaps with node location at decorateComment` and see if you can tell what they're talking about? I will leave this open for now since we're not 100% sure whether or no

[2017-12-13 06:14] JNaftali commented on #323
@robwise thanks for your help. I should have searched for the error in the prettier repo for the error before bothering you - sure enough, there's https://github.com/prettier/prettier/issues/2347. I'm gonna close this now because it seems pretty certain that the issue has nothing to do with this package. Thanks for doing what you do!

[2017-12-13 06:14] #323 closed

[2017-12-13 20:46] zimme commented on #218
@robwise Yes, I've seen that. I just need to look into how it is used. I'm just guessing here, but I'm thinking that you send in the projects config via `prettierOptions` and then send in the user configured options as the `fallbackOptions`?

[2017-12-14 00:33] robwise commented on #218
We use `fallbackOptions` built from first any prettier config, then an editorconfig if it exists, then the user's atom config. Otherwise prettier-eslint wouldn't use the eslint config values.

https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/buildPrettierEslintOptions.js#L9
https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/buildPrettierOptions.js#L6

[2017-12-14 02:22] ZakTax opened #324 "[Feature Request] Insert Pragma"
If [requirePragma](https://prettier.io/docs/en/options.html#require-pragma) is enabled, prettier-atom respects that and doesn't alter formatting.

Would it be possible for prettier-atom to detect this and display a notification asking if user wants to insert the pragma at top of file? Clicking yes would insert and re-format the file.

[2017-12-14 15:47] mgrip opened #325 ".prettierrc config not recognized"
I'm trying to use prettier-atom with a project that already has a .prettierrc file. However it doesn't seem to be picking up any of the settings in that file, and in addition it doesn't run on save if I have the "Only format if a Prettier config is found" setting checked.

Here's the contents of my .prettierrc file:
[code]
<details>

[code]

</details>

[2017-12-15 05:46] robwise commented on #325
@mgrip We currently have an issue with prettier-atom not picking up changes to your `.prettierrc` (see https://github.com/prettier/prettier-atom/issues/270), can you restart atom and make sure this isn't what's going?

[2017-12-15 10:46] c10b10 commented on #325
I have the same issue, settings in .prettierrc seem to be ignored.

[2017-12-16 17:35] mgrip commented on #325
Ive tried restarting a couple times, still the same problem. Also its not running on save (when I have the "only format if a prettier config is found" setting checked), which seems like its not recognizing the config at all, not just changes to it.

[2017-12-17 13:01] robwise commented on #325
@mgrip Can you use `prettier` directly from the command line and see if the same thing happens? Any errors in your atom console?

[2017-12-17 13:36] mgrip commented on #325
I actually just tried with another project and it worked fine (settings were picked up from rc file, they override the atom package settings, it runs on save). I don't have access to the original project I was having problems with at the moment but it must be a config issue. I'll report back if I find anything else - thanks!

[2017-12-17 13:38] #325 closed

[2017-12-17 17:28] mykter opened #326 "Cannot read property 'pos' of undefined"
Steps to reproduce:
1. Create a new file, test.d.ts
2. Enter the following text: `declare function test(): Promise<>;`
3. Press save. The contents of the file are replaced with the following stacktrace, and the file is saved:

<details>
TypeError: Cannot read property 'pos' of undefined
    at r (/home/mike/.atom/packages/prettier-atom/node_modules/prettier/parser-typescript.js:1:1247254)
    at O

[2017-12-18 03:32] magicdawn opened #327 "can not format vue style block"
a Vue file looks like this
[code]

And the less code's scope is `source.css.less.embedded.html`, so I add this scope to `cssScope` setting. But it does not work for style block, and the script block works.

Since this is scope related, I believe this is atom and prettier-atom related.

<details>
Atom version: 1.23.1
prettier-atom version: 0.43.1
prettier version: 1.9.2
prettier-eslint version: 8.3

[2017-12-18 13:20] robwise commented on #326
@mykter Can you do me a favor and see what happens if you try to run prettier on this directly from the command line? (Checking for not only whether or not the error happens, but also whether the error is thrown versus is returned as the new text without throwing, as seems to be the case here)

[2017-12-18 19:17] mykter commented on #326
[code]

Running as `./prettier.js --write test.d.ts` leads to the error on stderr and no change to the file.

[2017-12-18 19:36] brybrophy commented on #319
Sorry I haven't replied to this in so long. Been very swamped with work. I will have some free time over the holiday and will try to get a PR put together.

[2017-12-19 14:22] pedrouid opened #328 "Duplicate last lines"
I've been getting an issue for about a week now, not sure when was the last update but this seems to be directly from `prettier-atom` rather `prettier`.
Currently running on `prettier-atom@0.43.1` and installed globally is `prettier@1.8.2`.
Everytime I save a file (formatting on save is enabled) I get duplicate last lines, sometimes two or three lines but it seems to correlate with the second last

[2017-12-20 05:10] leehankyeol commented on #328
This also occurs with no-semicolon setting. To me, it happens when `prettier-atom` automatically creates line breaks for formatting.

[2017-12-20 07:56] magicdawn commented on #327
more info: prettier can format a `.less` file, but not a less block

[2017-12-20 17:36] stclairdaniel commented on #328
This is happening to me as well, happy to provide any information that could be helpful.

[2017-12-20 19:25] darahak commented on #327
Vue is not really supported by Prettier.
There is a hack in `prettier-atom` that lets you format the `script` part, but that's it.

If you want to follow the issue, go to https://github.com/prettier/prettier/issues/2097

[2017-12-20 20:14] robwise commented on #328
Yes, I was thinking the same exact thing. I think personally I've noticed that with brand new files, it adds an extra blank line at the end.

[2017-12-21 14:44] c10b10 commented on #328
I'm having this issue too. Cursor also sometimes moves at reformat.

[2017-12-21 17:44] zimme commented on #266
`prettier-eslint` completely relies on `eslint`s `CLIEngine`s `getConfigForFile` function to get the config based on the file being linted or fall back to defaults if the text being linted isn't from a file (new unsaved file).

[2017-12-21 21:14] zimme commented on #218
@robwise I've been thinking about this a bit and the only way I see that we can "resolve" this unexpected but "correct" behaviour is if I remove the `fallbackPrettierOptions` and export a function `getPrettierConfig(eslintConfig?)` that will give you a prettier config inferred using the eslintConfig you provide or if none is given, the config `eslint` will give us based on the filePath/working dir

[2017-12-23 07:56] enjoyZhou opened #329 "about eslint arrow-parens requireForBlockBody"
Do not support this requireForBlockBody?

[https://eslint.org/docs/rules/arrow-parens.html#requireforblockbody](https://eslint.org/docs/rules/arrow-parens.html#requireforblockbody)

[2017-12-25 11:54] lestato9 commented on #328
I have this issue too. Any help is appreciated

[2017-12-27 21:20] robwise commented on #218
I get what you're saying, but I feel like it would complicate things for not much gain? Like, if you want to use prettier-eslint and have it format a certain way, configure it to format that way via your eslint config, if you constantly create new projects and don't want to have to specify a config every time, set your fallback options in your prettier-atom settings. Either way, I would think you'

[2017-12-27 21:21] robwise commented on #329
@enjoyZhou this sounds like a prettier-eslint issue, can you check over there?

[2017-12-27 21:21] #329 closed

[2017-12-28 04:36] ryanhiebert commented on #218
What that means to me, as someone who wants to use prettier-atom all the time, so that I can keep from having to think about these formatting issues, is that if I find myself wishing to contribute to a project that 1) uses prettier and 2) it's not appropriate or convenient for me to change the configuration, and 3) doesn't configure every possible setting, but rather relies on the defaults, that I

[2017-12-28 17:13] robwise commented on #218
It's not adversarial, don't worry about it! I just was having a hard time understanding the issue properly I think. I think I now get what you're saying:

- You have personal prettier-atom settings that you like to use for your own projects so that you don't have to keep making prettier configs in your own projects
- You contribute to other projects that use prettier but have only partially define

[2017-12-28 17:27] ryanhiebert commented on #218
That's right. Or more accurately, the prettier config isn't necessary either. I think it should be keyed on whether or not it's in the package.json, since the project may be perfectly happy with the all of the defaults of prettier (or prettier-eslint).

[2017-12-28 17:31] ryanhiebert commented on #218
And for JS files that aren't really part of a project with a package.json, but I still have formatting control. For instance, if I'm writing a bit of javascript that's just one file or a simple script or something.

[2017-12-28 17:39] ryanhiebert commented on #218
And sorry for the flood, but I'm also suggesting that this would be a reasonable default as well. A setting would be fine, just set it once and forget about, but I think this is perfectly reasonable behavior to expect across the board.

[2017-12-28 17:41] zimme commented on #218
So the problem I can see here if we are going to try and detect this automatically is when a project is using `prettier` and their "config" is to use `prettier`s defaults. i.e. no config.

What we can't really detect this and fall back to using the prettier-atom config, right?

[2017-12-28 17:52] ryanhiebert commented on #218
Why not? We already do that for the prettier-eslint integration, don't we? When the box is checked we automatically use prettier-eslint _if_ it's installed in the project? Whether that's looking for the package in node_modules or looking at the package.json to see if it's listed, I'm not sure, but that same mechanism seems like an appropriate way to check for prettier in general.

[2017-12-28 18:04] robwise commented on #218
Yeah, what I'm envisioning would be a change that would work regardless of whether the user is using prettier-eslint or not. Basically, if we detect that prettier is in the package.json and this option is enabled, we just don't pass any options from prettier-atom. That's really all, it would be a pretty simple change I think.

[2017-12-28 20:06] haroldtreen opened #330 "Slow Activation Time"
## Current Behavior

`prettier-atom` is showing up as my slowest package, with an activation time nearly 2x as long as the subsequent package.

![image](https://user-images.githubusercontent.com/1745854/34421969-95732d3c-ebe0-11e7-8f14-9627d06aa28f.png)

## Expected Behavior

I would expect `prettier-atom` to boot closer to 100 ms? It seems to be an outlier, and I would like to understand why.

##

[2017-12-30 21:47] broomface opened #331 "Failed to activate the prettier-atom package"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.1 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.12.6
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.43.1

### Stack Trace

Failed to activate the prettier-atom package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-12-31 02:55] robwise commented on #330
We've done what we can to try and reduce startup time by lazy-loading as much as possible. There's going to be some overhead though because we do register a status tile in the lower left that lets you disable/enable format-on-save. If you or anyone else have any ideas on how to further reduce startup time, I'm happy to give it a shot. I also want to try implementing https://github.com/sindresorhus

[2017-12-31 02:56] robwise commented on #331
@broomface Can you try uninstalling the package and reinstalling? Seems like something got messed up somehow.

[2017-12-31 04:03] robwise commented on #328
I've been able to reproduce this as far as inserting an extra newline at the end of the file if I delete all lines following the last line of text. However, I can't get it to do what happened in the OP's screenshot. I'm worried that what I'm having happen is due to a different problem than what you guys are seeing. Is this happening with every single file?

[2017-12-31 05:59] haroldtreen commented on #330
Given that context I explored around a bit. As a caveat, I've never worked with Atom plugins so please forgive any naive assumptions I may make 😅 .

1. That lazy import looks really interesting. Could definitely be a way to clean up the existing lazy import code.
1. I wonder if the status tile could be made even more lazy. It seems currently `createStatusTile` creates the element but also computes

[2017-12-31 06:40] ozum opened #334 "eslint --fix does not run with ESLint Integration"
Hi,

Similar to #119, after disabling "Fix errors on save" in `linter-eslint` and enabling ESLint integration, saving doesn't seem to run the `eslint --fix` formatting.

✓ `eslint --fix` on CLI works as expected.
✓ `prettier-eslint` on CLI works as expected.
✓ `linter-eslint` Atom plugin with "Fix errors on save" works as expected.
✓ `Prettier Atom` plugin works as expected without ESLint integrat

[2017-12-31 07:03] haroldtreen commented on #330
Just got rid of the array spreads in `atomInterface` and it seems to have reduced the activation time. Here's the timecop results (which I believe are higher due to running `--dev`).

Here's the results from the profile:

![image](https://user-images.githubusercontent.com/1745854/34459985-7cbcf15c-edce-11e7-9274-50550627221f.png)

And the timecop result:

![image](https://user-images.githubusercon

[2017-12-31 07:45] haroldtreen commented on #330
Next thing causing long load times - `lodash`.

`editorInterface` is requiring all of `lodash/fp` so that it can use `_.flow`.

`updateStatusTileScope` and `linterInterface` are requiring all of `editorInterface` in order to access some helper methods (`getCurrentFilePath` and `getCurrentScope`). Neither of those helpers use lodash, but they are still blocked on it loading.

Inlining those helper

[2017-12-31 18:45] wellyshen opened #336 "v0.44.0 won't auto format when press "Ctrl + Alt + F""
Hi I upgrade to v0.44.0. I found the auto format when press "Ctrl + Alt + F" is broke. By the way, it works on v0.43.1

[2017-12-31 20:37] robwise commented on #330
@haroldtreen This is awesome. Maybe we can try `babel-plugin-lodash` for the lodash problem?: https://github.com/lodash/babel-plugin-lodash

[2017-12-31 20:44] robwise commented on #334
@ozum Thanks for providing the example repo. I downloaded a clone and `npm install`ed, and then I opened atom to that folder and opened `index.js` and hit save. At this point a trailing comma did get added. Are you sure you `npm installed`?

![](https://cl.ly/023s3y3T2E32/Screen%20Recording%202017-12-31%20at%2003.44%20PM.gif)

[2017-12-31 20:46] haroldtreen commented on #330
Could do. I've actually opened a PR that solves the `lodash` problem with lazy loading and importing `flow` directly.

https://github.com/prettier/prettier-atom/pull/335

`lodash` doesn't appear to be a part of activation anymore, so the gains from that plugin would need to be measured elsewhere.

Still haven't looked at lazy loading the tile callback, so maybe could trim this down more. But I can

[2017-12-31 21:21] robwise opened #338 "CI: check that dist files have been built"
We should check that the `dist/` files are fully up-to-date in CI, I recently published bad code because I forgot and we don't check in CI (see #337).

[2017-12-31 21:33] #336 closed

[2017-12-31 21:34] robwise commented on #328
I released 0.44.0 that should fix the extra newline problem (#333), can you check whether you are still having the issue?

[2018-01-01 04:13] ozum commented on #334
@robwise Thank you for the answer. Yes, I did `npm install` and all libraries from package.json are there.

However, it seems you were using your own `.atom` configuration folder, not the one I provided in repository. (`.atom` in the repo does not have file icons).

Could you unzip `.atom` folder from that repo into an empty folder and copy your `atom` editor into same directory, and use that Atom

[2018-01-02 05:38] haroldtreen commented on #330
Been digging around a tiny bit more. Some thoughts:

- `import-lazy` is nicer syntactically then having many lazy callbacks, but adding it everywhere doesn't necessarily uncover big savings.
- `setTimeout` seems to be a promising way of deferring setup work until later.
  - In `main.js#consumeIndie` there's a call to `linterInterface.set`. By setting the linter interface in a `setTimeout`, that mo

[2018-01-02 06:01] haroldtreen commented on #330
Looks like other packages use `requestIdleCallback` (which is slightly better than using `setTimeout`). It looks like that can also be used for installing dependencies. I bet that would shave off a bunch of time.

https://github.com/AtomLinter/linter-eslint/blob/master/src/main.js#L53-L60

[2018-01-02 07:01] enjoyZhou commented on #329
I mean like this example...

Before format：
`Api.update(params).then((res) => {});`
After format：
`Api.update(params).then(res => {});`

The parentheses are missing！I need to keep the **‘(res) ’** parentheses

[2018-01-02 09:11] westmark commented on #334
I have the same issue, with the only difference that eslint --fix is not run after manually running the prettifier. Started happening after upgrading from 0.43.1 -> 0.45.0. Running eslint --fix manually produces the desired result.

[2018-01-02 10:24] lucasfeliciano commented on #334
I'm also experiencing this after the last update.

[2018-01-02 10:30] webfrontzhifei opened #339 "not work integgrate eslint"

[2018-01-02 12:34] tquetano-r7 commented on #339
So this is not stated very eloquently, but let me try to explain as I'm encountering the same issue.

After doing the most recent update of atom (`1.23.1`) and prettier-atom (`0.45.0`), no longer is my `.eslintrc` file respected ... everything just uses the default prettier formatting. There are no errors or anything that signifies what could be the culprit.

[2018-01-02 12:49] tquetano-r7 commented on #334
@westmark I just downgraded `prettier-eslint` to `0.43.1` and am still getting the same issue. After a little digging, this looks like an issue with `prettier-eslint` itself, because I get the same output when I apply `prettier-eslint` via CLI (it ignores my `.eslintrc` settings).

[2018-01-02 12:58] westmark commented on #334
@tquetano-r7 Yeah, `prettier-eslint` seems to be the culprit here.

[2018-01-02 13:10] agustinf88 commented on #339
Same for me. Please help on this!

[2018-01-02 13:10] westmark commented on #334
I tracked the problem to the 8.5.0 release of `prettier-eslint`. Not sure which commit though

[2018-01-02 13:34] SanderNouwynck commented on #339
The same issue occurs for me, with my eslint config in my package.json file

[2018-01-02 15:59] kirkstrobeck commented on #339
+1 for Atom 1.24.0-beta1

[2018-01-02 21:38] robwise commented on #339
@kirkstrobeck So the breaking change was something in the Atom 1.24.0-beta1 you think? I will check the release notes and try to figure out if there's something we can fix on our end.

[2018-01-02 21:39] robwise commented on #339
Does anyone know if this is related? https://github.com/prettier/prettier-atom/issues/334#issuecomment-354725603

[2018-01-02 21:40] robwise commented on #329
@enjoyZhou I understand, but this type of thing is done by the prettier-eslint package, not the prettier-atom package?

[2018-01-02 21:49] mariuslundgard commented on #339
@robwise I’m also experiencing this issue in Atom@1.23.1 (prettier-atom@0.45.0).

[2018-01-02 22:00] mrandalldh commented on #339
I just downgraded `prettier-eslint` in `prettier-atom` to version `8.6.2` and worked! All of my `.eslintrc.js` rules are now being respected. It most definitely has to do with issue #334 @robwise

[2018-01-02 22:02] mrandalldh commented on #334
I just downgraded `prettier-eslint` to version `8.6.2` and it fixed my problems. It's definitely related to version `8.7.0`.

[2018-01-03 01:55] leehankyeol commented on #328
@robwise The issue seems to be gone in my case.

[2018-01-03 03:20] enjoyZhou commented on #329
Sorry, So I need to install the prettier-eslint  plug-in for Atom?

[2018-01-03 10:31] Rulsky commented on #339
@mrandalldh thank you for pointing me toward a workaround. With this workaround works in atom@1.23.2

[2018-01-03 10:42] lucasfeliciano commented on #334
I can't confirm that.

[2018-01-03 11:14] planttheidea commented on #334
@mrandalldh I cannot confirm this either. Making sure I followed the same steps you did for this workaround:

1. go to the package folder => `cd ~/.atom/packages/prettier-atom/node_modules`
1. delete the existing dependency folder => `rm -rf ./prettier-eslint`
1. install the specific version => `npm i prettier-eslint@8.6.2`

I validated that this included the dependency version you mentioned corre

[2018-01-03 12:14] p-j commented on #339
Have had the same issue for 2 days now after updating a couple of packages (can't remember which though).
I'm running Atom 1.22.1 with prettier-atom 0.45.0.
I also can confirm that what happens in #334 is what I have too:
cli tools works
prettier-atom alone works
eslint fix file in atom works
prettier-atom + eslint does not work

[2018-01-03 13:07] mrandalldh commented on #334
@planttheidea I sort of followed those same instructions. The only difference for me was I went directly into the `~/.atom/packages/prettier-atom/package.json` file and changed the `prettier-eslint` to version `8.6.2`. Then I did a `npm install` and restarted Atom, and it worked!

For clarification I am using version `1.23.1` and `prettier-atom` version `0.45.0`.

[2018-01-03 18:24] stclairdaniel commented on #328
@robwise It appears to be gone for me as well. Thanks for the quick fix!

[2018-01-03 20:11] robwise commented on #329
If you don't have prettier-eslint in your local repo, then we fall back to a bundled version of prettier-eslint. You have enabled the eslint integration in your prettier-atom settings, right?

[2018-01-03 20:11] robwise commented on #328
Awesome!

[2018-01-03 20:11] #328 closed

[2018-01-04 03:35] laurisaarni opened #340 "Add configuration option for --arrow-parens"
Currently, I cannot find the option in the settings to set value for --arrow-parens parameter.

We extend our Eslint ruleset from Airbnb and arrow-parens rule complains always after the prettier formats the code.

Please add the option to the settings.

[2018-01-04 04:29] robwise commented on #340
https://prettier.io/docs/en/options.html#arrow-function-parentheses

[2018-01-04 08:29] enjoyZhou commented on #329
ATOM v1.23.1 x64
prettier-atom v0.45.0

`  "prettier-atom":`
   ` formatOnSaveOptions: {}`
    `prettierEslintOptions: {}`
   ` prettierOptions:`
      `jsxBracketSameLine: true`
      `printWidth: 100`
      `singleQuote: true`
     ` tabWidth: 2`
     `trailingComma: "es5"`

[2018-01-04 08:54] robwise commented on #329
Looks like no? You have to check the prettier-eslint integration checkboxx in order to use prettier-lint.

Also, this could be related to this: https://github.com/prettier/prettier-atom/issues/340

[2018-01-04 12:35] bipedd commented on #334
@planttheidea @mrandalldh After downgrade to `prettier-atom@0.38.0`, it works.

[2018-01-04 12:42] planttheidea commented on #334
@bipedd this is indeed true ... but how did u arrive at this version? did u just keep trying older and older until u hit jackpot?

[2018-01-04 12:53] bipedd commented on #334
@planttheidea I guessed that it's the problem of `prettier-eslint`, so downgrade to `prettier-eslint@7.x` or lower can be a solution. I checked the dependencies of `prettier-atom` from latest to oldest. Finally, it turns out `prettier-atom@0.38.0` is the one that I am looking for.

[2018-01-04 18:37] zainxyz commented on #334
@bipedd thanks so much 😄 ...after a downgrade to `prettier-atom@0.38.0`, things are back to normal!

I've been going crazy running `prettier-atom` (manually) then `linter-eslint` (on-save) to fix files based on eslint configuration. This fixes it so far till we can get a stable fixed version out.

[2018-01-05 21:47] robwise opened #342 "Fix empty snapshot"
This snapshot shouldn't be empty: https://github.com/prettier/prettier-atom/blob/master/src/atomInterface/__snapshots__/index.test.js.snap

[2018-01-05 21:47] #340 closed

[2018-01-05 23:20] darahak commented on #327
Support will come with Prettier 1.10.
See this PR: https://github.com/prettier/prettier/pull/3563

We will close this issue when it's released and we update our dependency.

[2018-01-06 19:16] cenobitedk opened #343 "Update / install failed"
I've been unable to verify that this problem is caused by other modules.

During `apm update` the process failed while updating from `0.43.1` -> `0.46.0` with the following message:
[code]

Update via UI produced the same error.

I tried uninstalling package and reinstalling, which also failed:

[code]

Neither `prettier-atom`, `prettier` or `prettier-eslint` has any direct dependency to `@types/c

[2018-01-06 19:41] kylealwyn commented on #343
Same issue

[2018-01-06 20:42] antonrevyako commented on #343
Same issue

[2018-01-06 20:49] basicBrogrammer commented on #343
Same here 😢

[2018-01-07 04:13] robwise commented on #343
Sorry about this! Unfortunately, the error isn't giving us much insight into the problem, and the types commander thing could be a red herring if it's an unrelated warning due to the OP's specific configuration/pacakges. Is everyone getting this deprecation warning or just the OP?

Is everyone here migrating from 43.1 -> 46.0 or are some people doing a single dependency bump (this will help narrow

[2018-01-07 04:16] robwise commented on #339
@p-j can you try the fix in @mrandalldh's [post](https://github.com/prettier/prettier-atom/issues/339#issuecomment-354886726)?:

[2018-01-07 04:33] kylealwyn commented on #343
Was migrating from 0.41.0 -> 0.46.0. Same error as OP. Uninstalling the package and reinstalling 0.41.0 via apm works

[2018-01-07 15:06] atomiks opened #345 "Mistakenly prettifies content in script templates"
I have autoprettify enabled so that the file is prettified on save, and I noticed that it's prettifying HTML in a template `<script type="text/x-template"></script>` because it thinks it's JS.

**Input**

[code]

**Output**
[code]

[2018-01-07 15:30] atomiks commented on #345
`<template>` tag with polyfill solves this

[2018-01-07 15:30] #345 closed

[2018-01-07 19:56] cenobitedk commented on #343
For some weird reason today `apm install prettier-atom` worked. I cannot explain why, since I have updated nothing else. Perhaps some dependency has been updated eliminating the problem.

[2018-01-07 21:41] theboyWhoCriedWoolf opened #346 ".eslintrc not correctly used"
space-before-function-paren is not correctly picked up from `.eslintrc` config and still changes the file to the wrong specification

[2018-01-08 00:00] zimme commented on #334
I've added functionality to `prettier-eslint` to infer `prettier` options from `eslint-plugin-prettier` via the `eslint` rule `prettier/prettier`.

My mistake here was maybe that this didn't go into a new major version but in a feature release.

The changed functionality is this.

In the case we infer `prettier` options from an `eslint` config we now check if there's a rule `prettier/prettier` if

[2018-01-08 00:13] zimme commented on #334
In `8.7.0` of `prettier-eslint` I stripped away the `prettier/prettier` rule from the fixable rules I give `eslint` when formatting in an attempt to disable prettier from running as part of `eslint --fix`, this did however not stop `prettier` from running but just made it run with its defaults, which was most likely the cause of this trouble.

An upgrade of `prettier-eslint` to `8.7.1` should hope

[2018-01-08 02:12] mattcolman commented on #339
downgrading prettier-atom to 0.38.0 worked for me. `apm install prettier-atom@0.38.0`

[2018-01-08 09:04] westmark commented on #334
@zimme Thanks for giving this your attention. However, `8.7.1` did not resolve this for me I'm afraid. Had to downgrade to `8.4.0`. I stand firm in my earlier assessment that this bug was introduced in `8.5.0`.

[2018-01-08 09:43] MatthieuLemoine commented on #334
@zimme I second @westmark on this. Forcing `prettier-atom` to use `prettier-eslint@8.4.0` fixes this issue but not with `prettier-eslint@8.7.1`.

[2018-01-08 11:57] lindell commented on #346
Duplicate of #339

[2018-01-08 13:55] Floriferous commented on #334
I can confirm upgrading to `prettier-eslint@8.7.1` has no effect for me. Downgrading to `0.38.0` did the trick immediately.

As mentioned by @zainxyz, make sure to uninstall the current version beforehand.

This does look like a bad regression though, might be good to update the label on this issue, so people know where to go.

[2018-01-08 15:36] p-j commented on #339
@robwise unfortunately no. I've updated the package.json to set fix the version to 8.6.2 and ran yarn again but it didn't help. I'm still losing my parents on my arrow functions and the max-length is not fixed automatically anymore either.

[2018-01-08 20:42] darol100 commented on #339
@p-j Did you restart your atom?

 https://github.com/prettier/prettier-atom/issues/339#issuecomment-355872876 : Works perfect for me.

[2018-01-08 23:19] darahak commented on #346
Please refer to #334.

[2018-01-08 23:19] #346 closed

[2018-01-08 23:26] darahak commented on #339
Could you continue on #334?
I'd like to avoid scattering information over multiple threads.

Thank you 🙏

[2018-01-08 23:26] #339 closed

[2018-01-09 01:43] robwise commented on #343
@antonrevyako @basicBrogrammer are you getting this still or should I close?

[2018-01-09 11:44] Lukas-Skelevas commented on #343
I'm getting the following error when trying to install via atom UI or the command line.
Tried installing latest and 0.43.1 with the same results.

[code]

[2018-01-10 02:08] scottybrown opened #347 ""Ignore Files in `.eslintignore`" does not work"
By default this is enabled.
I added "test" in .eslintignore, so that linting ignores test files. Seems to work. Also disabled prettier formatting for my test files.
I disabled this feature in the prettier-atom config so I can prettify the test files.
I found that it did no prettifying on any of my test files on save.
I restarted atom and found the same.
Lastly, I removed "test" from .eslintignore

[2018-01-10 08:57] zeakd commented on #334
Hi. 0.38.0 works with .eslintrc, but .eslintrc.js is still not detected by prettier-atom

[2018-01-10 09:04] robwise commented on #334
@zeakd can you make another issue for that? That's unrelated to this issue AFAICT

[2018-01-10 09:24] zimme commented on #334
We've seem to have found the problem with `prettier-eslint` that is most probably responsible for this problem.

I hope to have a fix out today.

[2018-01-10 13:09] darahak commented on #347
Did you enable ESLint integration?

I'm not sure, but it's possible these two options cannot work at the same time.
I'll have to take a look.

[2018-01-10 20:20] zimme commented on #334
`prettier-eslint@8.7.2` is out, please test with that version and see if the problem is resolved.

[2018-01-11 00:59] zainxyz commented on #334
@zimme

I updated to `prettier-atom@0.46.0`, then updated `"prettier-eslint": "^8.7.0",` to `"prettier-eslint": "8.7.2",` in the `prettier-atom/package.json`.

Steps -
1. `rimraf node_modules && npm i`
1. Close and Re-Open Atom.app
1. Mess up some code in an eslint configured project file
1. Attempt to prettify `Ctrl+Alt+F`
1. Result...`failure`

The prettier-atom did not comply to my `eslintrc.js

[2018-01-11 04:10] scottybrown commented on #347
Yes, ESLint Integration is enabled.

You mean that, if ESLint Integration is enabled, it automatically uses the eslintignore file regardless of the this setting? That would be in opposition to the note underneath the setting "Ignore Files in `.eslintignore`" which reads:
"Works regardless of whether ESLint Integration is enabled or not"

[2018-01-11 21:41] zimme commented on #334
We tracked down the problem to the logic that was filtering out unfixable eslint rules. It's now removed and things should be back to normal.

Please test the latest version of `prettier-eslint`.

[2018-01-12 06:05] ozum commented on #334
Still, does not run.

I updated Atom, prettier-atom and related npm packages to latest versions.

See updated sample repo: https://github.com/ozum/case-prettier-atom-eslint

To test it unzip `.atom.zip` from that repo into an empty folder and copy your atom editor into same directory, and use that Atom to see problem. (Please note that you should create that empty folder outside of `case-prettier-

[2018-01-12 22:54] zainxyz commented on #334
@zimme - I have to agree with @ozum.

I updated to the latest version of `prettier-eslint@8.7.4` inside the `prettier-atom@0.46.0` package, and it still did not resolve the issue.

Still using `prettier-atom@0.38.0` since that seems to be the perfect one so far. Disregarding any additional updates afterwords.

Thanks.

[2018-01-12 23:05] zimme commented on #334
Hmm, so I see that `prettier-atom@0.38.0` is using version `^6` of `prettier-eslint`. Which is before `prettier-eslint` even supported `prettier` config.

[2018-01-13 03:53] robwise commented on #334
I'm so confused, is the problem coming from prettier-atom or prettier-eslint? prettier-atom 38 was released half a year ago but people only started having this problem 2 weeks ago.

[2018-01-13 09:51] zimme commented on #334
@robwise, I'm thinking that people started to have some problems with `prettier-atom@0.39.0+`, and I guess after a while people started to notice that the order how the config resolution was done didn't meet expectations.

I do believe this was reinforced with `prettier@8.6.0` where some people might start to have problems because they have a `prettier/prettier` eslint rule, which results in infer

[2018-01-14 05:47] robwise commented on #334
@zimme Okay so nothing I need to fix on this end? Everyone was either experiencing the prettier-eslint bug or was thinking there was a bug when really they just didn't totally understand how their config worked?

[2018-01-14 12:04] zimme commented on #334
@robwise That's what I'm thinking, however it would be good with some verification from the people following this issue.

[2018-01-14 14:14] planttheidea commented on #334
Alright so I'm going to add even more confusion into things. Just for giggles I decided to completely uninstall and then reinstall the plugin (latest version, `0.46.0`) ... and it works now. Respects my `.eslintrc`, handles it like a champ. :man_shrugging:

My only thought was maybe there was a sub-dependency of some nested package that has too loose of versioning that, upon re-installation, caugh

[2018-01-15 10:06] p-j commented on #334
@robwise @zimme I'm not sure I understand your conclusion.
At the moment, my config is still not working while it has been for a few month before that.
My setup is as follow:
Atom 1.22.1
prettier-atom 0.46.0
I've deleted node_modules and ran `yarn` to install all dependencies from scratch in the package folder, here is an extract of the yarn.lock:

[code]
And my project `.eslintrc` has a single ex

[2018-01-15 18:17] three60five commented on #334
My config also broke recently and I just found this issue.

[2018-01-15 18:51] #342 closed

[2018-01-15 19:02] #327 closed

[2018-01-15 19:12] robwise commented on #334
@p-j can you use the version of prettier-eslint that has the fix in it (8.7.4)?

[2018-01-16 04:51] ozum commented on #334
@robwise Example repo (https://github.com/ozum/case-prettier-atom-eslint) has 8.7.4 and has same problem.

[2018-01-16 12:43] James2516 opened #350 "eslint --fix not being executed at all"
**Versions**:

- `prettier-eslint` version: 8.3.1
- `prettier-atom` version: 0.47.0

[code]

.prettierrc:
[code]

**What I did:**

![](https://i.imgur.com/fgcqM31.png)

I have eslint integration enabled on `prettier-atom`, but it doesn't seem to be running `eslint --fix` at all.

If I enable `linter-eslint`'s Fix errors on save, it'd automatically insert a line after the `import` statement to fix

[2018-01-16 13:06] schalkneethling opened #351 "Multiple Pragma entries on save - Markdown files"
I have a `.prettierrc` file in the root of my project with the following content:

[code]

Upgraded to prettier-atom today, so I am on version `0.47.0` on Atom `1.23.3`. Created a new Markdown file and after saving the first time, the following was added to the document:

[code]
This then is the `Pragma` yay! But then, each time I press save, another of these is added, oh no :(

At the top of my J

[2018-01-16 13:50] darahak commented on #351
Related to this? https://github.com/prettier/prettier/issues/3557

[2018-01-16 13:51] darahak commented on #350
Sorry, we are aware of the issue.
This is being discussed in https://github.com/prettier/prettier-atom/issues/334.

[2018-01-16 13:51] #350 closed

[2018-01-16 13:52] schalkneethling commented on #351
Ah indeed looks to be, my bad. I just realised that it is "breaking" JSON docs by adding the comment :-/ Thx @darahak  - Marking as duplicate of https://github.com/prettier/prettier/issues/3557

[2018-01-16 13:52] #351 closed

[2018-01-16 13:55] lucasfeliciano commented on #334
Same here, just updated prettier-eslint to 8.7.4 and I still experience the problem

[2018-01-16 15:00] p-j commented on #334
I upgraded prettier-atom and verified that it comes with the latest prettier-eslint.
No luck, still removing spaces and messing with quotes and indentation here an there...

[2018-01-16 16:04] mrandalldh commented on #334
Redundant _same here_ to note that I too am still seeing the issue.

[2018-01-16 23:12] ryanpcmcquen opened #352 "Pick up `~/.prettierrc.json` for non-project files?"
I couldn't seem to find the answer to this in the other issues or docs, so forgive me if I missed it. One of the things I liked about `atom-beautify`, is that it would pick up the `.jsbeautifyrc` in my home folder (`~/`) for any files I tried to beautify, and read that over the Atom configuration. Does `prettier-atom` have an option like that or do I have to configure it through Atom for non-proje

[2018-01-17 03:32] hustKiwi commented on #334
I think the most emergency is that the prettier-atom should lock the dependency of `prettier-eslint` and release a new version to make the plugin work properly. This serious issue has been existing for over 2 weeks, and even though it is not the fault of prettier-atom itself, a solution (even a temporary solution or hack) should be presented ASAP.

[2018-01-17 04:52] zimme commented on #334
I think I've tracked this issue down to the point in `prettier-eslint` where we're calling eslint's `getConfigForFile` and for some reason it can't find a config, at which point it sets the eslint config to be `{ rules: {} }` and that's why the eslint config isn't respected....

[2018-01-17 07:59] magicdawn commented on #327
Sorry to say that another question appears:

[2018-01-17 07:59] magicdawn commented on #327
![image](https://user-images.githubusercontent.com/4067115/35031789-69ee61f8-fb9f-11e7-9605-57049f47a110.png)

[2018-01-17 08:00] magicdawn commented on #327
And I tried latest prettier cli with this `.vue` file, there is no error~

[2018-01-17 12:28] robwise commented on #327
@magicdawn can you uninstall and reinstall atom, you might not have the latest bundled version of prettier or something somehow

[2018-01-17 12:36] robwise commented on #334
@hustKiwi The problem is that there is a huge amount of confusion as to what is causing the problem and what will help fix it. If I knew what temporary solution or hack would solve it, I would have done it a long time ago (?). I usually fix bugs within hours of them coming up as long as I'm able to reproduce and they are actually coming from prettier-atom.

I can cut a release with a new prettier-

[2018-01-17 12:37] robwise commented on #352
@ryanpcmcquen Yep, check out https://prettier.io/docs/en/configuration.html

[2018-01-17 12:37] #352 closed

[2018-01-17 13:12] mrandalldh commented on #334
Well @robwise, FWIW, I just downgraded `prettier-eslint` back to version `8.6.2` again, and it worked for me, again. I did not rollback `prettier-atom` to a previous version; to be clear, I only rolled back `prettier-eslint`, ran an `npm i` in the `prettier-atom` directory, _restarted atom_, and it worked.

I am using Atom `1.23.3 x64`, on a Mac, now with version `0.47.0` of `prettier-atom`. I am

[2018-01-17 14:31] ryanpcmcquen commented on #352
Thanks, it seems to be ignoring my `~/.prettierrc.json` ...

[2018-01-17 14:36] robwise commented on #352
Try restarting atom, we have to fix the caching in #270

[2018-01-17 14:39] robwise commented on #334
@mrandalldh If this is the case, then I can maybe lock the bundle prettier-eslint version to exactly `8.6.2` and cut a new release like that? I'm not sure if people would still have to manually reinstall the package to pick that change up though (as opposed to a simple update) but maybe it's better than nothing?

[2018-01-17 14:46] mrandalldh commented on #334
I thought that if you lock the `prettier-eslint` version and push an update (to version `0.48.0`), it would notice the change and reinstall that dependency. This should work, and at this point, you're right, it is better than nothing.

[2018-01-17 14:48] tquetano-r7 commented on #334
@mrandalldh i followed these steps to the letter, this does not work for me. I am using Arch Linux rather than Mac, so maybe it is a platform thing ... but no dice for me. :(

[2018-01-17 14:52] robwise commented on #334
@tquetano-r7 Which version do you have to downgrade to for it to work?

[2018-01-17 14:54] tquetano-r7 commented on #334
@robwise like everyone else, ive been downgrading to `0.38.0` and it works again. I havent meticulously gone through each subsequent version to see where my cutoff is, but I can if so desired.

[2018-01-17 14:58] robwise commented on #334
@tquetano-r7 yeah that would be super helpful since the regression would have had to have been much more recent than that. In the meantime, I've release 0.47.1 of prettier-atom so some people could try updating and restarting atom and seeing if it makes a difference.

[2018-01-17 15:11] zimme commented on #334
Using the repo @ozum provided the error that I find is that the eslint config isn't found.

I'm hoping it's because of this change https://github.com/prettier/prettier-eslint/commit/49b762b, where I tried to make the config resolve code a bit simpler by using the version of `prettier` and `eslint` that `prettier-eslint` provides for resolving the configs instead of resolving and requiring the proj

[2018-01-17 15:15] tquetano-r7 commented on #334
@robwise that was quick ... `0.39.0` (the next version) does not work. I was able to confirm, though, that the version of `prettier-eslint` that was installed with `0.39.0` was `8.7.5` ... which is probably why people say `0.38.0` is the last version to work, as its version of `prettier-eslint` is `6.4.3`.

[2018-01-17 15:19] zimme commented on #334
@tquetano-r7 Could you try with version `8.4.0` of `prettier-eslint` in `prettier-atom`'s node_modules, please.

[2018-01-17 15:23] tquetano-r7 commented on #334
@zimme huzzah! using `prettier-atom@0.47.0` with `prettier-eslint@8.4.0` exact version seems to do the trick!

[2018-01-17 15:24] zimme commented on #334
@tquetano-r7 Nice, then my thinking is pretty much confirmed. I'll do a release later tonight, still at work for another 3-4 hours.

[2018-01-17 15:26] kirkstrobeck commented on #334
I can also confirm that https://github.com/prettier/prettier-atom/issues/334#issuecomment-358338039 works

[2018-01-17 15:46] robwise commented on #334
Should I release another version of prettier-atom that locks to 8.4.0?

[2018-01-17 15:51] kirkstrobeck commented on #334
@robwise yes please

[2018-01-17 15:56] zimme commented on #334
@robwise it's up to you, but I'll have a new release of `prettier-eslint` out in 2-6 hours and by all indications here that version should resolve the issue.

[2018-01-17 16:05] mrandalldh commented on #334
@robwise I think you should do that too

[2018-01-17 18:22] robwise commented on #334
I don't mind, I'll lock to 8.4.0 now and then let me know when the next prettier-eslint is out and I'll release a third time.

[2018-01-17 18:27] robwise commented on #334
Okay prettier-atom 0.47.2 is released with a lock down version of prettier-eslint 8.4.0

[2018-01-17 19:17] hustKiwi commented on #334
Thanks, @robwise. I just read your reply. For me, prettier-atom@0.45.0 works fine with prettier-eslint@8.7.0. Thus, I thought your new release should also work :)

[2018-01-17 20:59] zimme commented on #334
`prettier-eslint@8.7.6` is out and should fix this error, finally.

@robwise You should be able to unpin 8.4.0 now.

[2018-01-17 21:00] mrandalldh commented on #334
Thanks, @zimme!  I will give it a shot now.

[2018-01-17 21:04] mrandalldh commented on #334
@robwise I can confirm that version `8.7.6` is working as expected for me. Thanks again, @zimme!

[2018-01-17 21:06] zainxyz commented on #334
@robwise - I can confirm that `prettier-atom@0.47.2` works now, and is respecting the rules in the `eslintrc.js` file. 👍

@zimme - I can confirm that `prettier-eslint@8.7.6` along with `prettier-atom@0.47.2` seems to be working now. 👍  ... I installed `prettier-atom@0.47.2` and upped the package from `8.4.0` to `^8.7.0` as it was earlier. Works fine.

Thanks guys. 💯

[2018-01-17 22:40] #334 closed

[2018-01-17 22:41] robwise commented on #334
okay I released prettier-atom 0.48.0 with prettier-eslint 8.7.6

[2018-01-18 00:45] James2516 opened #356 "Do we need to add `prettier-eslint` to package dependencies?"
Is there need to do `yarn add prettier-eslint -D`, or does this plugin automatically manages that internally?

[2018-01-18 03:53] robwise commented on #356
@James2516 Nope no need, we manage it internally, we just automatically ship with a bundled version that we always use. This is different than prettier itself where we fall back to a bundled version only if we can't find a local version to use instead.

[2018-01-18 03:53] #356 closed

[2018-01-18 11:08] ozum commented on #334
0.48.0 seems working for me. (Also in repo created for this case)

[2018-01-18 11:24] sidjainn opened #357 "prettier-atom failed: Couldn't resolve parser "vue""

[2018-01-18 13:32] leepowellcouk commented on #289
Not sure if this is related, but the 'Only format if Prettier is found in your project's dependencies' option when checked (and dependency exists) prevents formatting on save.

[2018-01-18 13:57] darahak commented on #357
Check your project dependencies if you have at least Prettier 1.10.0.
Older versions are not compatible.

[2018-01-18 22:29] mod3x commented on #357
+1
again downgraded to 0.38.0 and works fine

[2018-01-21 04:06] haroldtreen commented on #330
I've been trying to blog about these random open source patches. Show libraries I like. Show how welcoming they are to contributions. Show open source isn't scary.

So my last one was about this fix: https://haroldtreen.com/tech/open-source/contributing-to/2018/01/15/contributing-to-prettier-atom/

Thanks again for the awesome project!

[2018-01-24 21:32] SavePointSam commented on #322
I'm located the bug and am working on the fix now.

[2018-01-25 04:28] robwise commented on #322
prettier-atom 0.48.1 is released with this fix so I am closing. Please let me know if there continue to be issues, and thanks to @SavePointSam for the fix!

[2018-01-25 04:28] #322 closed

[2018-01-25 06:20] SavePointSam commented on #34
Seems pretty neat. I'll take a stab at it.

[2018-01-25 14:40] yongjun21 commented on #155
Encountering the same issue. Further isolated the problem. It seems it does not matter the file extension. If you take way the <script> tags, it formats correct regardless it's a .vue or a .js

[2018-01-25 17:11] SavePointSam commented on #34
Got a POC up and running. Should have a PR in the next couple days.

[2018-01-26 04:00] SavePointSam commented on #34
@robwise, I noticed that you alternate between two different ways of updating the buffer. However the reasoning provided in both the [comment](https://github.com/prettier/prettier-atom/commit/378b6bd7bae1f4e061a6d7ff15ba9497b86779cb#diff-032412b91b2710f2732c7c28fd356332R58) and commit message don't make sense to me given the ability to retain cursor position with this update.

Is this something yo

[2018-01-26 04:56] robwise commented on #34
@SavePointSam That commit is a bug fix for https://github.com/prettier/prettier-atom/commit/c899aaad7dae8d8b2ea0e719e2820afe16c88aa0#diff-032412b91b2710f2732c7c28fd356332 which was the original place that `setTextViaDiff` was introduced for performance reasons. The bug fix just has to do with determining when to use which. Users are able to manually format a selection of text as opposed to the who

[2018-01-29 04:20] SavePointSam commented on #34
You can close this one, @robwise.

[2018-01-29 04:21] SavePointSam commented on #34
Oh! Looks like it was patched exactly a year after post. That's pretty funny.

[2018-01-29 06:01] #34 closed

[2018-01-30 04:33] SavePointSam commented on #289
Gonna try and take a look myself and see what I can do!

[2018-01-30 06:22] SavePointSam commented on #270
While trying to tackle everything going on in #289, I wanted to start with this bug first.

There are a couple of things we will need to tackle in order to get this fixed properly. Firstly, we need to determine where we draw the line in terms of watching the file system for changes to find new/changed configurations. I would argue that we should only support watching files that exist in the curren

[2018-01-30 06:24] SavePointSam commented on #289
So, it appears this issue has a bunch of smaller issues all bundled into one. I'm going to tackle each one at a time and sort them through separate issues so we can keep conversations clear.

I'm going to start with the issues of reloading Prettier configurations which lives over on #270.

[2018-01-30 06:30] SavePointSam commented on #289
Hey @Zacqary, could you please let me know if you're still having issues and possibly provide anymore information? I'm not seeing anything we will be able to do to help with the issues you're having. I did find [this issue](https://github.com/atom/atom/issues/14461), it appears something in your Atom installation got corrupted and you may need to reinstall.

[2018-01-30 06:34] SavePointSam commented on #343
Is this still an issue for you @antonrevyako, @basicBrogrammer, and @Lukas-Skelevas? If not, I'm not sure there is much to be done aside from uninstall and reinstalling the newest version. Otherwise, I don't see any reason to keep this open.

[2018-01-30 06:38] SavePointSam commented on #289
The only other issue I see from this discussion is that when enabling 'Only format' options, formatting on save is completely disabled. I'll create a dedicated issue for that shortly so we can get to the root of that as well.

[2018-01-30 06:41] SavePointSam opened #360 "'Only format' options disable formatting on save"
Based on the conversation from #289, when enabling 'only format' type options disables formatting on save.

Not much else is known about this particular issue, though I have seen it myself as well.

[2018-01-30 08:12] robwise commented on #360
Might we just want to move over to checking the node modules instead? Although, that might have its own problems, such as for people who for whatever reason have put their node modules folders in unexpected places.

The related issue for that is https://github.com/prettier/prettier-atom/issues/191

[2018-01-30 08:20] robwise commented on #270
@SavePointSam, I like the concept of using `Project#onDidChangeFiles`, but doing it _always_. This is similar to how React approaches DOM event listeners. They just listen to every event fired and then filter out the ones they don't need to care about.

We could do a similar approach where we listen for any file changes whatsoever, and then just do something ghetto like regex the filename for `.pr

[2018-01-30 10:38] darahak commented on #270
@SavePointSam FWIW I opened https://github.com/prettier/prettier/issues/3451 to have the ability to find the config file for any given source. The function already exists, it's just not exposed. I guess most of the work would be on test coverage.

[2018-01-30 14:50] SavePointSam commented on #270
Very true. I was actually tempted to just post a PR to expose it for us myself. Haha. Thanks for doing that! It’s certainly a better solution to have them expose it for us in the case they decide to change how they search for configuration in the future. 👍

[2018-01-30 15:07] SavePointSam commented on #270
@robwise I was also thinking about the same thing. However, that will only solve for updates that exist inside the project directory. It’s certainly how I would handle the use case of ‘no configuration > watch the project directory’ and ‘external configuration > watch for override’.

I think I’ll take a look at exposing Prettier’s matches filepath and go from there 👍

[2018-01-30 17:11] dnspnjrs opened #361 "prettier-atom failed: Cannot read property 'node' of undefined"
Updating to the new `prettier-atom 0.49.0` gives me an error on every save when the last 2 lines are blank.

![screen shot 2018-01-30 at 17 38 37](https://user-images.githubusercontent.com/6238828/35580063-9bd2622a-05e8-11e8-903b-142edbe06daf.png)

How i tried to solve it:
- restarted atom
- reinstalled prettier-atom and its dependencies
- restarted again and again.

[code]

<details>
TypeError: C

[2018-01-30 17:23] kraai opened #362 "Sometimes displays "prettier-atom failed: Cannot read property 'node' of undefined""
I have selected `Prettier: Toggle Format on Save`.  When I save an HTML file that contains embedded JavaScript, the following error is sometimes displayed:

[code]

I don't know how to verify whether or not this is a problem with the prettier or prettier-eslint packages.  If I save just the JavaScript to a different file and run `prettier` on that file, `prettier` doesn't generate any errors.

I c

[2018-01-30 18:04] kraai commented on #362
This is a duplicate of #361.

[2018-01-30 18:04] #362 closed

[2018-01-30 20:00] sompylasar commented on #289
@SavePointSam Firstly, many thanks for working on this. Secondly, I don't use Prettier now on a daily basis (because of this issue and because we as a team haven't adopted it) and I have a few rush days/weeks/releases now so I won't be able to reproduce timely.

<details>
<summary>packages.json</summary>

[code]
</details>

[2018-01-30 20:46] darahak commented on #361
Try updating the `prettier` dependency in your project, if you have one (and if yes, which version do you currently have?)

[2018-01-30 20:53] dnspnjrs commented on #361
I have no prettier dependency in my project, only use it on save in atom.

If i create a empty `.css` file and try to save it with double empty lines it gives me the error.

![screen shot 2018-01-30 at 21 52 15](https://user-images.githubusercontent.com/6238828/35590694-eaa1b31e-0607-11e8-8c98-10ec7267b856.png)

[2018-01-30 22:29] robwise commented on #357
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2018-01-30 22:29] #357 closed

[2018-01-30 22:30] robwise commented on #343
I am going to close this for now, please let me know if there is still something that needs to be addressed and I will reopen.

[2018-01-30 22:30] #343 closed

[2018-01-31 02:19] SavePointSam commented on #361
I saw this creeping up after the update to maintain cursor position. I noticed it's really reliable when formatting something other than `.js`. I'll take a look at this since I introduced it on accident.

[2018-01-31 03:22] jasonkuhrt commented on #361
@SavePointSam FWIW I'm having this all the time while trying to format `.md` so +1 to the non-js observation.

[2018-01-31 05:31] SavePointSam commented on #361
Looks like there is a bug in Prettier causing this issue. During the process of formatting, the parsing algorithms return different AST structures and they are not being normalized to then process the correct cursor position. I will file a bug with Prettier to get this resolved. I may end up fixing it myself while I'm at it. haha.

[2018-01-31 06:17] SavePointSam commented on #361
After some more digging, it looks like there are a couple issues at hand. First, `Prettier.formatWithCursor` doesn't work for all of the supported parsers. Also, `pretter-atom` doesn't provide the correct parser name in some cases. Gonna get to work untangling this nest of wires.

[2018-02-01 23:35] chrisjpatty commented on #361
Also seeing this issue on a project that was previously working. None of the configuration has changed but I started seeing the problem after updating `prettier-atom`

[2018-02-02 01:05] SavePointSam commented on #361
I’ll be writing a patch this evening that will alleviate this issue for the mean time and fallback to formatting without cursor positioning until I can finish fixing the internal Prettier logic associated with maintaining cursor position. Apologies for the issues. They were unforeseen as an expectation of Prettier’s responsibility.

[2018-02-02 01:32] jasonkuhrt commented on #361
@SavePointSam you're too kind.

[2018-02-02 01:55] SavePointSam commented on #361
Just giving back to the community that saves me hours of work and makes me a better engineer on a daily basis. ❤️

[2018-02-02 04:58] SavePointSam commented on #361
Closing as this behavior is no longer expected with `[0.49.1](https://github.com/prettier/prettier-atom/releases/tag/v0.49.1)`. If you are still experiencing this error after updating, please open a new ticket.

[2018-02-02 04:58] #361 closed

[2018-02-02 06:51] dnspnjrs commented on #361
@SavePointSam, thanks so much for the quick responses!

[2018-02-02 07:33] obituz opened #364 "0.49.1 Format-on-save: value.split is not a function"
Hi folks,

since the latest update format-on-save (formatting at all) doesn't work anymore.

Atom: 1.23.3
Prettier: 1.10.2
Prettier-Atom: 0.49.1

Btw: Sorry, but how/where i should execute the command "Prettier:Debug" to get the required output?

[code]

Thanks in advance!

[2018-02-02 08:42] cedric-marcone commented on #364
Same here :(
=> prettier-atom doesn't work anymore.
=> Same stack trace
[code]

[2018-02-02 10:10] TimBroddin commented on #364
here too :(

[2018-02-02 10:13] steida commented on #364
Fok this 💩 Temp fix:`apm install prettier-atom@0.49.0` 🧛‍♂️

[2018-02-02 11:38] yuchi opened #365 "Could not format file, error in the console"
This morning I updated to the latest version of the plugin.

When I try to format I get the following error in the dev console:

[code]

_Prettier: Debug_ output:

<details>

[code]

</details>

[2018-02-02 14:35] JuarezLopesJr opened #366 "Format on Save Not Working"
Format on saving is not working, after upgrade to 0.49.1, i'm running Atom in Debian 9 64bit.
Atom version: 1.23.1
prettier-atom version: 0.49.1
prettier version: 1.10.2
prettier-eslint version: 8.8.1
prettier-atom configuration: {
  "formatOnSaveOptions": {
    "enabled": true,
    "respectEslintignore": true,
    "showInStatusBar": false,
    "javascriptScopes": [
      "source.js",
      "sourc

[2018-02-02 14:36] jjmax75 commented on #366
same

[2018-02-02 14:39] CyrusZei commented on #366
same here, It won't trigger at all

[2018-02-02 14:40] SavePointSam commented on #364
@robwise, this happened to me as well until I did a fresh install of dependencies. Maybe something went wrong during the deploy process?

Sorry, everyone! I will make sure this gets fixed in the next 24 hours.

[2018-02-02 14:42] SavePointSam commented on #364
I would also advise against installing `0.49.0` as there are different issues that you will run into https://github.com/prettier/prettier-atom/issues/361.

I would suggest the following until we can get a corrected build out:

[code]

[2018-02-02 14:44] SavePointSam commented on #365
Closing as this is a duplicate of https://github.com/prettier/prettier-atom/issues/364. Thank you for reporting! I’ve posted a temporary fix in that thread until we can get a fixed build out later today. Apologies for the errors, I understand how frustrating it can be. 💙

[2018-02-02 14:44] #365 closed

[2018-02-02 14:44] SavePointSam commented on #366
Closing as this is a duplicate of https://github.com/prettier/prettier-atom/issues/364. Thank you for reporting! I’ve posted a temporary fix in that thread until we can get a fixed build out later today. Apologies for the errors, I understand how frustrating it can be. 💙

[2018-02-02 14:45] #366 closed

[2018-02-02 18:24] AustP commented on #364
I just ran into this issue as well but my stack trace is different. I'll post it here in case it helps.

Atom: 1.23.0
Prettier: 1.9.2
Prettier-Atom: 0.49.1

[code]

[2018-02-02 18:43] SavePointSam commented on #364
Thanks for the post! It appears there is still some type of issues with a dependency. So, in the same vain as the proposed solution. Hopefully we can hear from @robwise soon on doing a fresh build and we might be able to solve this at the same time!

[2018-02-02 21:28] robwise commented on #364
The deploy process is just running a script from Atom and everything seemed to deploy fine AFAICT  ¯\_(ツ)_/¯

[2018-02-03 01:31] titanve opened #367 "ver 0.49.1 is not working on Atom ver. 1.23.3 on Win Server 2016 Standard"
Hello everyone,

Prettier was working nice and after the update to ver. 0.49.1 it stopped working, I have the atom-ide-ui ver. 0.8.0 installed as well.

What can I do in order to fix this problem?

Thanks! 😄

[2018-02-03 01:48] titanve commented on #367
I've got this message, I guess prettier won't work if I disable linter pkg
![image](https://user-images.githubusercontent.com/4803351/35761770-6e6efedc-085a-11e8-9841-85d532c0b35d.png)

[2018-02-03 02:54] #367 closed

[2018-02-03 06:24] SavePointSam commented on #364
Found the source of the bug. Increasing test coverage to prevent this in the future as well.

[2018-02-03 06:40] SavePointSam commented on #364
Verified a bugfix! Just need to merge and publish.

I'm really sorry for all the trouble on this one. ❤️
I'm off to sleep now.

[2018-02-03 07:02] robwise commented on #367
Prettier will work with `atom-ide-diagnostics` just fine (I do this myself). Just turn off `linter` because you don't need it if you're using `atom-ide-diagnostics`.

[2018-02-03 07:08] robwise opened #369 "CI: Check That Dist Files are Built"
We should check that all dist files have been built in CI so we don't merge anything where we forgot to rebuild the dist files.

[2018-02-03 07:09] #364 closed

[2018-02-03 07:12] olsonpm opened #370 "Request: remove merging of explicit configurations with atom-prettier settings"
I just spent some time looking into why my prettier settings in package.json weren't being respected, and it's due to [them being assigned over atom-prettier settings](https://github.com/prettier/prettier-atom/blob/master/src/executePrettier/buildPrettierOptions.js#L70-L74).  I'm wondering what the use-case is for

1. allowing users to `only format if a prettier config is found` and
2. assigning t

[2018-02-03 07:24] robwise commented on #370
@olsonpm I'm a bit confused. The way it's supposed to work is that the settings in your package.json _should_ be respected? We merge them in _after_ the Atom settings, so they should take precedence.

Answers to those questions:

1. Using prettier in a repo where it's not been adopted by the entire team will cause massive diffs on any file you work on, so you can use this option as a way of tellin

[2018-02-03 07:30] olsonpm commented on #370
Thanks for the reply.

Let me think about what you wrote, but regarding:

I was expecting them to not be merged with the atom-settings configurations.  By merging them with atom-settings I have no way to fall back to prettier defaults.

[2018-02-03 07:38] olsonpm commented on #370
By merging project settings with those local to my editor prevents project compatible settings though, correct?

For #2 - we agree this is not ideal.

Seems I'm suggesting exactly [what you wrote here](https://github.com/prettier/prettier-atom/issues/218#issuecomment-354329577)

[2018-02-03 08:43] CyrusZei commented on #289
After update, it works, thx a lot

[2018-02-03 12:43] leepowellcouk commented on #289
Sadly still not working for me after the update.

[2018-02-03 14:26] SavePointSam commented on #370
I can also agree that if a configuration is found in the project; then we should ignore using the settings in `prettier-atom` altogether and let Prettier fill in the gaps. This is how the system is described to work in the Prettier docs and we should respect that as we are just a connector.

I normally put all the configuration settings in, even if they are just the defaults, so I’ve never seen th

[2018-02-03 14:29] SavePointSam commented on #289
@leepowellcouk I would suggest watching #360 for updates relating specifically to your issue. This issue is more a master issues for a set of issues people were experiencing.

If you could also provide more information in that issue, it would be very much appreciated. Thanks!

[2018-02-03 14:34] SavePointSam commented on #289
Due to the exact purpose of this issue being a bit unclear, and other issues have been created and referenced for underlying issues discussed, I’ll be closing this conversation here.

If you’re experiencing any of the discussed issues, please refer to the other linked issues to view their individual status.

If what is happening to you doesn’t appear to be included in those linked issues, please f

[2018-02-03 14:35] #289 closed

[2018-02-03 18:33] olsonpm commented on #370
That logic sounds good to me.  I'll get a PR implementing that so we have something concrete to discuss.

In the PR I'll also modify the debug command to be explicit about what configurations are being applied to a given file.

[2018-02-03 20:56] darahak commented on #369
You already opened #338. Is this one different?

[2018-02-03 22:58] robwise commented on #369
Oops, no

[2018-02-03 22:58] #369 closed

[2018-02-03 23:00] robwise commented on #370
I think one of the issues we originally had when prettier implemented its configuration files was that it considered an empty configuration file as having no rules defined. In this case, we weren't able to tell the difference between a default configuration and no configuration at all. Hopefully, they've changed this.

[2018-02-04 02:57] SavePointSam commented on #370
AFAIK and what I would assume Prettier does is take in any settings and for those it doesn’t find it fills in the defaults. In a sort of Prettier config > .editorconfig > Prettier defaults manner.

[2018-02-04 03:14] olsonpm commented on #370
I've been looking into the implementation and catching up on some issue reading - Prettier uses `cosmiconfig` which enforces a single source of configuration (thank god).  The prettier config [now allows for a property `ecitorconfig`](https://prettier.io/blog/2017/12/05/1.9.0.html#add-editorconfig-support-3255-https-githubcom-prettier-prettier-pull-3255-by-josephfrazier-https-githubcom-josephfrazi

[2018-02-05 06:34] robwise commented on #330
@haroldtreen I read your blog post, was super cool! I think all of these ideas sound cool:

- import-lazy: I didn't expect would get us any additional perf over our current from-scratch implementation, but I figured it would clean up the code a bit so I think it's worth doing
- requestIdleCallback sounds like the way to go for those things you mentioned, and I don't see why in any of the cases the

[2018-02-05 08:22] robwise commented on #338
Resolved in #371

[2018-02-05 08:22] #338 closed

[2018-02-05 09:47] yuchi opened #372 "Failed to load: Cannot find module './statusTile'"
Steps to reproduce:

1. Update from `0.48` to `0.49.2`
2. Restart Atom
3. ~~Profit~~ Error shown below :(

**Atom**: 1.23.3 x64
**Electron**: 1.6.15
**OS**: Mac OS X 10.13.3
**Thrown From**: [prettier-atom](https://github.com/prettier/prettier-atom) package 0.49.2

### Stack Trace

Failed to load the prettier-atom package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-02-05 09:48] yuchi commented on #372
By the way, closing and restarting Atom ___again___ _solves_ the issue.

[2018-02-05 10:06] robwise commented on #372
@yuchi permanently solves the issue or just temporary? I'm worried this might be some sort of weird Atom update glitch or something. We've been getting a lot of similar issues to this where people are able to resolve without us really changing anything.

[2018-02-05 10:07] robwise commented on #154
@a-eid can you try restarting Atom an additional time? One user reports this solved the problem for him, although I admit I don't really understand what's going on here.

[2018-02-05 10:45] leepowellcouk commented on #360
Discovered this morning that 'Format on save' begins working when I disable the ESLint Integration.

[2018-02-05 10:46] leepowellcouk commented on #360
Discovered this morning that 'Format on Save' beings working when I disable ESLint Integration.

[2018-02-05 14:55] SavePointSam commented on #370
@olsonnpm, I meant that you only format if a Prettier configuration was found in the current project path. It can still be a subset configuration that would need to be cast against Prettier defaults. However, if no configuration is found, do not format at all.

Also note, I’ve written a new API for Prettier called `resolveConfigWithFilePath`. It may be worthwhile to look into that, though I’m not

[2018-02-05 14:59] SavePointSam commented on #360
Thanks for the update! We do have some fallback logic to another package when you enable this feature. Maybe there is an issue on their end? Maybe we need to update our internal version?

[2018-02-06 03:51] robwise commented on #370
@olsonpm I think at least being able to see _what_ options are used, even if we can't see _why_ because of the editorconfig ambiguity, would be a huge win for us.

[2018-02-06 19:57] steida commented on #364
For all people using https://github.com/prettier/prettier-atom/issues/364#issuecomment-362544757 You have to uninstall prettier before installing fixed version. You awe welcome.

[2018-02-06 21:49] steida opened #373 "Editor not responding"
I don't know why, I tried clean Atom install, still, an attempt to format on save ends with
![screen shot 2018-02-06 at 22 49 04](https://user-images.githubusercontent.com/66249/35885996-f1bcf860-0b8f-11e8-942e-3fbd311f8627.png)

[2018-02-07 02:59] #373 closed

[2018-02-07 22:19] olsonpm commented on #370
Sounds good about exposing what options are used.  And I was planning on using cosmiconfig's [`load`](https://github.com/davidtheclark/cosmiconfig#loadsearchpath-configpath) to get the file until your `resolveConfigWithFilePath` PR is merged.

Unfortunately I'm realizing the combinations of configurations this tool allows can lead to some pretty unexpected behavior in a team setting.  e.g. I don't

[2018-02-08 05:17] robwise commented on #370
@olsonpm I agree that both of those use cases wouldn't make sense to me personally.

[2018-02-09 07:49] olsonpm commented on #218
I just want to clarify one difference in the implementation that we've landed on over what OP expected above.

Since it's reasonable for a project to list prettier as a dependency without actually wanting it to format their codebase, I think a configuration is a non-ambiguous heuristic for "intent to format".  If a project wants all defaults they should list an empty config.

This is the condition

[2018-02-09 09:52] #218 closed

[2018-02-09 09:52] #370 closed

[2018-02-09 17:01] onemeta opened #375 "0.50.0 ignores trailing comma option"
I have trailing comma set to "es5" in both the plugin settings and my .prettierrc. After upgrading to 0.50.0, it now removes the trailing commas. Other options seem to be respected. I did test setting trailing comma to "all" in both locations; the commas are still removed.

No other changes were made in my environment (e.g. updates to Atom or other packages, changing prettier version, etc). Revert

[2018-02-09 18:42] SavePointSam commented on #375
@olsonpm any ideas on how this happened with your changes?

[2018-02-09 18:43] olsonpm commented on #375
i'll look into it

[2018-02-09 20:01] olsonpm commented on #375
haha - I was going hardcore getting a clean vm set up making sure all the versions matched, when I noticed:

[code]

The reason this worked before is the new update now prevents your prettier configuration from being merged into your prettier settings located in the plugin.  And the reason we want that behavior is to allow a single source of formatting configurations for teams.

There's a lot of (

[2018-02-09 20:07] robwise commented on #375
Should we close?

[2018-02-09 20:08] olsonpm commented on #375
I would.  I know some repo ownerers let the OP close but that seems to allow for a litter of open issues in my experience.

[2018-02-09 20:09] robwise commented on #375
Yeah I usually just go ahead and do it and we can always reopen

[2018-02-09 20:09] #375 closed

[2018-02-09 21:50] SavePointSam commented on #375
Just to clarify for future readers. The issue here was that the user misspelled `trailingComma` as `trailingCommna` in their .prettierrc.

Be sure to [check your .prettierrc](https://prettier.io/docs/en/configuration.html#configuration-schema) for mistakes when making one by hand!

[2018-02-10 04:50] olsonpm commented on #178
I thought a lot about this today and decided the goal should be to help maintainers debug the resulting issues.  I don't think there's a sensible way to provide a narrow, user friendly amount of data that will let them debug the issues themselves because the apis just don't exist for it.

The best solution I can think of then will be to add all the configurations to the debug output e.g. print the

[2018-02-10 06:14] olsonpm commented on #191
Wouldn't your solution mean that any package installed in the entire dependency tree which happens to depend on prettier will cause this flag to trip?  It just seems like it would cause more unexpected behavior than otherwise.

I'd have to know more about your app structure, but it seems your internal linting module should declare 'prettier' as a peer-dependency given your consuming projects are e

[2018-02-10 07:04] olsonpm commented on #207
Do you think placing a run-down in the readme would help?  I'm assuming the number of settings for this plugin makes it unlikely people will scroll all the way down to the readme.  Maybe they would catch it upon installing or searching for the plugin though?  Or if there's a way to create a link at the top of the settings to a wiki page... I'm willing to put something together but I don't know whe

[2018-02-10 09:20] kachkaev commented on #191
The apps I’m referring to use `@our-team/lint` as a dev dependency. This module contains eslint, prettier as well as custom rules. The idea is that it’s installed in one go for any new project - it is only necessary to add a couple of scripts to package.json after `npm install -D @our-team/lint`.

I’m not sure that the side-effect scenarios will occur very often and I also guess that they will lik

[2018-02-10 09:29] olsonpm commented on #191
but your team's linter dependency still expects consumers to be formatted by prettier, thus i still think it should declare prettier as a peer dependency.

and I'd personally be less concerned about how often the errors occur and more concerned with how unexpected the behavior would be when it does happen.  I'm just one opinion though.

[2018-02-10 10:22] kachkaev commented on #191
I'm not very strong in my opinion. However, given there are a few 👍 , others seem be in the same situation too.

[2018-02-10 10:37] onemeta commented on #375
Totally missed that. Thanks for the catch, and apologies for wasting folks' time.

[2018-02-10 15:34] robwise commented on #178
This sounds like a good plan. I would only add that it would be preferable to do this via a special debug mode only somehow so as not to spam the console under normal circumstances.

[2018-02-10 16:39] olsonpm commented on #375
not a waste - personally I feel prettier should throw an error upon invalid input.  A lot of devs don't seem to like throwing errors though or validating input :(

[2018-02-10 16:43] olsonpm commented on #178
i was thinking the debug command which new issues advise to copy paste so maintainers have it available.

[2018-02-10 16:49] robwise commented on #178
I wouldn't overload that command. Right now it returns a whole bunch of debug output, but it's not necessarily a debug "mode" per se.

[2018-02-10 16:51] olsonpm commented on #178
okay, should the new issue template be modified then to request the output of a new command?  Basically if users don't paste it into new issues the i don't think the output provides value

[2018-02-10 20:43] robwise commented on #178
Well, the problem is that the two things happen at different times. If you want to just log out your version of prettier, prettier-atom, etc., you need to manually do that (as we do now with the command). If you want to log out what the various options are as prettier-atom is calculating them, that needs to happen at the time you are invoking the format.

[2018-02-10 20:52] robwise commented on #207
The rundown would be for people haven't yet installed the package and therefore don't see any settings. It's so that people browsing for plugins to install can quickly determine what this is and whether they want to install it.

That seems more like an in-depth explanation, which would be cool but I think it should go below. We should have a quick, couple-sentence paragraph and a .gif, much like w

[2018-02-10 21:03] olsonpm commented on #178
i see what you mean. In my mind I was thinking the output of "debug" should be enough to debug what happens upon a format.  Do you think user's would copy paste the result of the console output after a format?  If that should be the direction then that works for me.

[2018-02-10 21:08] olsonpm commented on #207
thanks, i think i understand what you're looking for except how the rundown should look.  I'll create a PR for further feedback.

[2018-02-10 21:11] robwise commented on #178
Well the problem is that if you put in the debug command you're going to need to write code that duplicates all of the logic that happens when you run executePrettierOnBufferRange (such as building the prettier options, checking settings, everything) and manually ensure that this stays in sync (if we change how this works in executePrettierOnBufferRange, we would need to remember to go change how

[2018-02-10 21:16] olsonpm commented on #178
my idea was just to output all the configs regardless of context.  You have the prettier version and prettier-atom settings to derive everything else

[2018-02-12 23:11] BarryThePenguin opened #377 "Using editor preferences"
Updating to `prettier-atom@0.50.0` I've noticed my editor preference for single quotes isn't being respected. It's formatting everything to be double quotes.

I'm only using `prettier`, and have the `eslint` integration disabled. I do have an eslint config, but that also is set to use single quotes.

I'm guessing this may be a result of #374?

[code]

[2018-02-13 03:02] olsonpm commented on #377
I'm assuming it's finding a `.prettierrc`, `prettier` property within your package.json, or some other prettier configuration found via [cosmiconfig](https://github.com/davidtheclark/cosmiconfig).

#374 made it so your editor preferences are ignored in the event a prettier configuration is found.  This is to make sure teams can share styling preferences in a project without people's editors overri

[2018-02-13 03:12] BarryThePenguin commented on #377
I don't have any of those things, specifically because prettier config isn't shareable. Without a shareable config I can't assume prettier will work in all my projects, at least without manually copying the config from one project to another. I specifically rely on my editor settings as a result.

I just tried in https://github.com/BarryThePenguin/barrythepenguin.github.io

There is no prettier co

[2018-02-13 03:18] olsonpm commented on #377
Thanks for the info.

Mind explaining what you mean by this?  The most common scenario is for a prettier configuration to live in a repository and be shared by anyone who works off of it.  Even if it's just yourself, as long as the prettier configuration travels with the repo, you should get common formatting whether you're working on a windows pc, a mac, etc.  The editor-specific configurations s

[2018-02-13 03:28] BarryThePenguin commented on #377
Sure. I'm mainly referring to [eslint sharable config](https://eslint.org/docs/developer-guide/shareable-configs). Other tools have similar support eg: [nyc](https://github.com/istanbuljs/nyc#publish-and-reuse-your-nyc-configuration), [stylelint](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#extends), and [remark](https://github.com/unifiedjs/unified-engine/bl

[2018-02-13 03:31] olsonpm commented on #377
Ah gotcha.
<br>

I don't know what's causing it yet.  The good news is I can reproduce which is always the hardest part haha.  I'll let you know what I find.

[2018-02-13 03:49] olsonpm commented on #377
So before I explain what's going on (seems to be a bug that I will create a PR to fix tomorrow) - can you explain whether you're expecting the editorconfig's `indent_style = tab` or prettier's `Use Tabs: false` to take precedence?

[2018-02-13 03:58] SavePointSam commented on #377
This isn't true. Prettier will traverse the entire file tree upward until it finds a configuration. So, if you're source code is in something like `~/source/prettier-atom`, and you have a `.prettierrc` in the root of your home directory `~/.prettierrc`, it will find it and use it.

[2018-02-13 03:59] SavePointSam commented on #377
However, at this time prettier-atom doesn't fully support this functionality. It will get better in the future when I have time to work on it again after some crunch time at work. :D

[2018-02-13 04:04] BarryThePenguin commented on #377
I'd expect the order to be

1. project settings
    - including `.editorconfig`, `.prettierrc` and `.eslintrc`, if there's any discrepancies here I'd expect the user/team to make sure each tool align
2. user settings
    - including editor settings, global machine config, or anything else the user can change outside the project settings

This works for the individual, however doesn't work for mult

[2018-02-13 04:12] olsonpm commented on #377
Yeah at first I thought it used [find-project-root](https://www.npmjs.com/package/find-project-root) to stop at vcs directories, but I guess [that's only used for editorconfig's configuration file](https://github.com/prettier/prettier/blob/master/src/config/resolve-config-editorconfig.js#L11).  cosmiconfig [stops at the user's home directory](https://github.com/davidtheclark/cosmiconfig#stopdir).

[2018-02-13 04:15] SavePointSam commented on #377
In order to maintain consistency with expectations from the Prettier documentation [we follow this logic](https://github.com/prettier/prettier-atom/issues/370#issuecomment-362813322). We only want to rely on editor settings when we have no other option as it lead to confusing results in the first place.

This will be supported in the future, once I finish fixing up some of Prettier's internals tha

[2018-02-13 04:18] olsonpm commented on #377
It will be really confusing when [resolveConfigWithFilePath](https://github.com/prettier/prettier/pull/3846) resolves a config with no file path 😛

[2018-02-13 04:22] BarryThePenguin commented on #377
Thanks all for the detailed information. Glad I could help ☺️

[2018-02-13 04:24] olsonpm commented on #377
really though - I was thinking about `resolveConfig` entirely incorrectly.  Because it's also meant to be used as a cli with no explicit configuration, it's just resolving the configuration to be passed to prettier for formatting.  I kept thinking of it as something that resolved the actual .prettierrc.  Lesson learned!

[2018-02-13 05:14] wyqydsyq opened #379 "prettier-atom failed: unknown type: undefined"
Whenever I save a TypeScript (`.tsx`) file, I get this error:

[code]

[code]

[2018-02-13 05:25] wyqydsyq commented on #379
Resolved by updating `prettier` in my node project to `prettier@1.10.2`

Perhaps an actionable on this issue would be to check the `package.json` of the project about to be prettified and present a descriptive error to the user that they need to upgrade their project's Prettier if an incompatible version is detected?

[2018-02-13 12:23] darahak commented on #379
You are right, I opened https://github.com/prettier/prettier-atom/issues/258 to discuss it.

[2018-02-13 22:51] SavePointSam commented on #379
Closing in favor of mentioned issue. Thanks!

[2018-02-13 22:51] #379 closed

[2018-02-14 17:55] #377 closed

[2018-02-14 23:39] SavePointSam opened #382 "feat: option to auto-disable format on save for `package.json`"
I find myself very regularly having to toggle 'format on save' when modifying my `package.json`. Would be nice to have a new option to disable 'format on save' for `package.json` automatically.

I know it is a bit of an edge case, and there is the option to toggle format on save from the command palette, or from the status bar. However, having to never think about it would be killer.

[2018-02-14 23:39] SavePointSam commented on #382
@olsonpm, seems like a pretty quick thing you might be able to pull off for me since you've been crushing things lately. :D

[2018-02-14 23:40] robwise commented on #382
@SavePointSam I think for this we can just use the existing exclude globs feature?

[2018-02-15 00:01] #207 closed

[2018-02-15 00:35] robwise commented on #330
I'm going to close this for now because I think our objectives have been accomplished and activation time has been significantly reduced.

[2018-02-16 08:46] zaferkadi commented on #282
Has this been fixed yet? I'm having the same problem.

[2018-02-16 23:31] robwise commented on #282
@zaferkadi this is not a prettier-atom issue

[2018-02-18 02:47] saadq opened #383 "prettier-atom failed: unknown type: "TSJSDocAllType""
## The problem

The package seems to complain with an error that says:

[code]

This happens when you try to run `Prettier: Format` on a file that uses [the flow existential type `*`](https://flow.org/en/docs/types/utilities/#toc-existential-type) with generics. The code works fine in [Prettier playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEB6AVOgOlABO3AAQDMAbCAdx31RxwEsBbABwgCcZcAl

[2018-02-20 01:29] robwise commented on #383
@saadq I'm able to format this with prettier-atom just fine and I use flow (and existential types) a lot.
![](https://cl.ly/3R1N330V3B3q/Screen%20Recording%202018-02-19%20at%2008.27%20PM.gif)

Do you think this might be repo-specific somehow? What version of prettier do you have installed locally? Or are you using the version that comes bundled with prettier-atom?

[2018-02-20 01:33] saadq commented on #383
Oh, weird. I have version `^1.10.2` listed in my dev dependencies. I'm going to see if I can create a minimal repo which reproduces the problem.

[2018-02-20 21:09] saadq commented on #383
Ahh, so sorry guys. I had `"parser": "typescript"` in my `.prettierrc` since I was trying it out for a bit, and forgot to switch it back to Flow. Everything is working as it should, my apologies! Thanks for the quick reply :)

[2018-02-20 21:09] #383 closed

[2018-02-22 10:36] PortableTomb opened #384 "prettier-atom failed: Cannot read property 'sync' of undefined"
using "prettier": "1.3.1" & "prettier-atom": "0.51.0",

[2018-02-22 18:24] denchen opened #385 "Prettier causes Atom to freeze/hang"
Within the past week, Prettier has caused Atom to hang while saving some of my Javascript (React) files AND while using the shortcut (`CTRL-ALT-F`). I'll eventually get a dialog box with an option to keep waiting or force-close. I've verified that if I disabled Prettier, I have no such freezes. Also, this does not happen with all my files, just a handful. I'm not sure what's different in those JS

[2018-02-23 03:34] robwise commented on #384
@PortableTomb Can you please re-check your prettier version? The latest version is only 1.10.2

[2018-02-23 03:36] olsonpm commented on #385
is it consistent for those files?  i.e. can you reproduce and maybe share a problematic file?

[2018-02-23 04:13] denchen commented on #385
It is consistent for one of my files. Let me try to pare the file down while still being able to make Atom freeze and then post it here.

[2018-02-23 05:32] olsonpm commented on #385
congrats on getting it working :+1:

I'm willing to dig deeper if you want to push both the problematic and working files to a sample repo - but I'm also just as happy leaving things as-is in a working state ha.  Not all problems are worth looking into as I'm sure you've been around computers enough to understand.

[2018-02-23 05:52] denchen commented on #385
I'm gonna hold off on a repo for now, unless it becomes problematic / happens multiple times. Right now it seems to have been isolated to that one file (though I'm not 100% sure). Thanks for being willing to dig deeper though!

[2018-02-23 05:55] olsonpm commented on #385
no worries.  Thanks for the prompt feedback.  It's nice getting things over with sooner than later :)

[2018-02-23 05:55] #385 closed

[2018-02-23 06:33] SavePointSam commented on #385
@denchen it may be worthwhile to look into verifying your line-endings. they tend to be tricky and secretly cause problems.

[2018-02-23 08:44] PortableTomb commented on #384
prettier version 1.10.2 & prettier-atom version 0.51.0

[2018-02-23 08:55] olsonpm commented on #384
- When are you seeing this error?
- Does it happen if you reinstall atom-prettier?
- Please paste the output of the command `Prettier: Debug`

[2018-02-28 15:21] chrishutchinson opened #386 "prettier-atom failed: Couldn't resolve parser "postcss""
Hey, while attempting to format (on save or manually) `.scss` and `.css` files I'm getting the error:

Debug output below:

[code]

[2018-02-28 15:26] olsonpm commented on #386
this is an [issue in prettier](https://github.com/prettier/prettier/issues/4071) caused by a recent update to theirlibrary.

workaround: `npm install prettier@1.10`

[2018-02-28 22:53] olsonpm commented on #386
[they moved quick and fixed it already in 1.11.1](https://github.com/prettier/prettier/issues/4071#issuecomment-369411373).

[2018-02-28 22:53] #386 closed

[2018-02-28 23:04] chrishutchinson commented on #386
Nice one, thanks!

[2018-03-02 09:18] chenmei1 opened #387 "prettier-atom failed: Couldn't resolve parser "vue""
prettier-atom failed: Couldn't resolve parser "vue"

[2018-03-02 09:30] olsonpm commented on #387
Mind giving some more details?  Ideally you'd provide enough for me to reproduce your issue.  I've been very recently working with vue and haven't run into any issues so it will take some digging to figure out what's going on.

- To start, please provide the output of the `Prettier: Debug` command
- Post the contents of your local `package.json` if any
- If you could, creating a sample github repo

[2018-03-02 10:10] chenmei1 commented on #387
while attempting to format .vue  files I'm getting the error:

[2018-03-02 10:12] olsonpm commented on #387
I understand that, but on my machine it's been formatting `.vue` files just fine - thus I need more information to debug your problem.

[2018-03-02 10:16] abhinav-m opened #388 "Prettier-atom failed: Couldn't resolve parser 'postcss'"
Whenever i save a `.scss` or a `.css` file, i get the error mentioned in the title, and below.
`Prettier-atom failed: Couldn't resolve parser 'postcss'`

Posting prettier:debug output here:

[code]

[2018-03-02 10:18] olsonpm commented on #388
Mind checking if you have the same problem [resolved here](https://github.com/prettier/prettier-atom/issues/386)?

[2018-03-02 10:24] abhinav-m commented on #388
@olsonpm Im using atom's package for prettier. I have not installed it locally on my project, Any ideas how i can address this?

[2018-03-02 10:31] olsonpm commented on #388
Odd.  If you create a sample repo which produces your issue then I'll definitely take a look.  Otherwise it will take me some time and I'd have to wait til after the weekend.

[2018-03-02 10:36] chenmei1 commented on #387
I re-install,It run normally,thanks

[2018-03-02 10:41] olsonpm commented on #387
Glad you got it working!

[2018-03-02 10:41] #387 closed

[2018-03-02 10:55] abhinav-m commented on #388
https://github.com/abhinav-m/react-starter-boilerplate @olsonpm this is a sample repo i encounter the issue on.

[2018-03-02 10:57] olsonpm commented on #388
Wow awesome - thanks much.  I'll let you know If I need anything else but this is usually sufficient

[2018-03-02 19:31] olsonpm commented on #388
Hey - I think you found a bug in `prettier-atom` as it's finding the prettier inside node_modules which has a version of `1.11.0`.  It's also listed in package-lock.json.

I assume this doesn't come up often because usually packages declare `prettier` as a devDependency.  In your repo however `webpack-cli` declares prettier as a regular dependency.
<br>

@robwise @SavePointSam - can you confirm th

[2018-03-03 02:15] robwise commented on #388
@olsonpm No, I think it uses the local prettier if it's found at all in node_modules, the thing where it has to be declared in the package.json is for the disable/enable formatOnSave thing.

Relevant code is all of this file: https://github.com/prettier/prettier-atom/blob/master/src/helpers/getPrettierInstance.js

[2018-03-03 02:16] olsonpm commented on #388
mind explaining why that would be the case though?

[2018-03-03 02:19] robwise commented on #388
Why we'd use your local prettier versus an arbitrary one that comes bundled with prettier-atom? Because it will cause massive diff noise and inconsistencies to be using different versions between different editors and between any script that runs prettier directly via the CLI.

[2018-03-03 03:18] robwise commented on #388
We could consider adding an option of whether you want to use the bundled version always or prefer using the local version if we find one, but using the local version is pretty par for the course for things like linter-eslint and others. My team's projects check that all files pass prettier's `list-different` check. If some devs were using different versions of prettier than what we had locally (w

[2018-03-03 03:36] olsonpm commented on #388
in any situation where a team depended on a local version of prettier, why would you be relying on a version depended on by another package?  Why would you not have prettier both installed and configured explicitly?

Or in this case, what if webpack-cli decides to use beautifyjs at some point? resulting in prettier being removed.

Regardless, i'll let it be as-is and just remember this is how it w

[2018-03-03 07:04] robwise commented on #388
I do (personally). Maybe you could explain what you're proposing we change? Adding a check to make sure that prettier is defined in the package.json before using the local version? That might be something we want to do.

[2018-03-03 07:44] olsonpm commented on #388
i propose that just as a local configuration should only be used when explicitly defined, a local prettier version should only be used when explicitly defined.

[2018-03-03 10:57] robwise opened #389 "Only use local prettier version if prettier is in package.json"
Currently, [if we find prettier in node_modules, we use it instead of the version we bundle with prettier-atom](https://github.com/prettier/prettier-atom/blob/master/src/helpers/getPrettierInstance.js). However, it may be the case that this was only present because it is a dependency of something else and not because the developer is using it to format their project.

Therefore, we may want to con

[2018-03-03 10:57] robwise commented on #388
@olsonpm let's continue this in #389

[2018-03-03 17:18] olsonpm commented on #388
@abhinav-m to be clear, for now you'll need to either install prettier as a devDependency  (recommended) or create a pull request to webpack-cli updating their version of prettier.

[2018-03-03 17:18] #388 closed

[2018-03-06 17:17] lifeiscontent opened #390 "prettier debug not outputting values set in prettierrc file"
hello,

I'm having issues with prettier-atom, I've setup my config like so:

[code]

but for some reason when I look at the debug output of pretter-atom I don't see any of these values reflected.

[2018-03-06 18:32] SavePointSam commented on #390
The prettier-atom debug output is designed to provide internal insight to debugging specific issues with the package, not prettier or it's configuration.

Also, please note that when creating a prettier configuration that uses module exports, you need to use the filename `prettier.config.js`. You can review the prettier configuration documentation [here](https://prettier.io/docs/en/configuration.h

[2018-03-06 18:32] #390 closed

[2018-03-08 09:24] mikestopcontinues commented on #360
I'm not sure if this is related, but I could only get format-on-save working if "Only format if a Prettier config is found" was disabled... I use a "prettier" key in my package.json. Options I set there do affect results when running in the terminal.

[2018-03-10 20:26] odiak commented on #270
How about adding command: "Prettier: Reload Config"?
It looks easy to implement and better than nothing.

[2018-03-12 22:26] protoEvangelion commented on #291
I overrode an `scss` option like this and it works perfectly:

[code]

[2018-03-13 03:03] wbinnssmith opened #391 "Support Atom IDE's built-in code formatting"
Atom IDE supports code formatting and exposes a similar api via the atom services `code-format.file`, `code-format.onSave`, and others. It implements similar logic as in `prettier-atom` for preserving cursor position, etc.

Atom IDE users expect to use cmd-shift-c to format code of all types, not just those supported by Prettier.

I'd be happy to help with this implementation.

cc @hansonw @vjeux

[2018-03-13 03:06] wbinnssmith commented on #391
[Here's an example of Nuclide's JSON formatting using this service](https://github.com/facebook/nuclide/blob/99337a1a2c843ba7f75105c80306f3315aa6c501/pkg/nuclide-json/lib/main.js#L68-L76)

[2018-03-13 03:20] olsonpm commented on #391
i'm confused at what you're proposing.  It doesn't make sense to me to couple this plugin with atom ide, but if there's something this plugin can do to make it easier for atom-ide to consume it then that would make sense to me.

[2018-03-13 03:22] wbinnssmith commented on #391
Yep, all that's needed is providing an Atom service or two the same way the above JSON formatter does. The service boundary keeps things neatly decoupled.

[2018-03-13 03:34] wbinnssmith commented on #391
[Description is here](https://github.com/facebook-atom/atom-ide-ui/blob/master/docs/code-format.md) and [docs are here](https://github.com/facebook-atom/atom-ide-ui/blob/master/docs/code-format.md#service-api)

[2018-03-13 03:44] olsonpm commented on #391
I see - thanks for the links.  I didn't know atom had a service api that you could declare in the package.json like that.  Seems pretty cool.  I'm a new collaborator and wouldn't be the one to okay something like this since it does take on extra maintenance, but it's got my :+1:

[2018-03-13 13:25] majdi opened #392 "Editor crashing on save"
Hi,
I love this package but I have an annoying issue with "big files", ie more than 200 lines
Everytime I update something and I save the file --> atom is crashing.

Sometimes it's only freezing but I need to wait more than 30seconds [ too much ].
Most of the time Atom is when I'm commented something.

Thanks,

[2018-03-13 14:35] SavePointSam commented on #291
@keithjgrant Do know that due to #270, you'll need to reload Atom after adding your prettier configuration. Sorry about that!

[2018-03-13 14:39] SavePointSam commented on #391
Is there prior art with there being extension plugins for Atom IDE, or is it expected that packages expose hooks for Atom IDE?

I'm hesitant to add more complexity to support a non-standard Atom work environment. As much as I love what Atom IDE is doing (I presently use Nuclide), I'm not convinced it would be our responsibility to provide support. Can you provided non-Nuclide examples (since Atom

[2018-03-13 14:41] SavePointSam commented on #392
Hi there!

Could you provide an example of a file that causes Atom to crash as well as your current package list?

[code]

[2018-03-13 14:56] majdi commented on #392
Sure,

This is my package list:

**atom-alignment@0.13.0
atom-beautify@0.32.2
busy-signal@1.4.3
emmet@2.4.3
file-icons@2.1.17
fonts@3.0.3
git-plus@7.10.0
intentions@1.1.5
language-babel@2.84.0
language-cmake@1.1.0
language-cpp14@0.6.2
language-docker@1.1.8
language-graphql@0.9.0
language-javascript-jsx@0.3.7
language-lisp@0.2.0
language-styled-jsx@1.0.4
language-swift@0.5.0
linter@2.2.0
linter-ui-

[2018-03-13 15:22] olsonpm commented on #391
my understanding is that packages expose services via atom's service api.  It just so happens that atom-ide is the one defining and reading from those services.  We would only be importing atom-ide if we wnted to type check our service structure.

without implementing it's hard to know exactly the complexity added, but it didn't seem much.  However it would be supporting a new endpoint into the pl

[2018-03-13 15:26] olsonpm commented on #392
are you able to reproduce with "a big file" and post the contents of that?  We're mainly looking for ways to reproduce and understand your issue.  I've used the prettier plugin on many files larger than 200 lines, and I doubt it's a hardware issue as 200 is just not that much.

[2018-03-13 15:33] SavePointSam commented on #391
Looking at the provided documentation it seems almost too easy, which is why I'm skeptical. Haha. What are your thoughts on this @robwise?

[2018-03-14 07:58] majdi commented on #392
Hi @olsonpm,
I reproduce the issue, it's not about the size of the file, I think it's something else;
You can find [here](https://gist.github.com/majdi/9ee2f74ac31161d605efac236b6a7a63) another gist with less than 120 lines.

The crash happen when I comment any **import** line on the top of the file and I save the file.

[2018-03-14 17:30] olsonpm commented on #392
haha what a weird bug.  I'm able to reproduce.  I'll let you know what I find and thanks for taking the time to get reproduceable steps!

[2018-03-14 17:40] majdi commented on #392
You're welcome :-D
I'll try to find how to fix-it too.

[2018-03-14 20:04] olsonpm commented on #392
wow this was frustrating.  I don't know what's going on but updating the prettier version fixes it.

@robwise @SavePointSam, unless either of you want to take a deeper look, does it sound okay to you guys to update the bundled prettier version and advise users to update their prettier version locally if they come across this bug?
<br>

Some debugging notes for reference:

- if I run the text throu

[2018-03-14 20:07] olsonpm commented on #392
@majdi - a workaround for now would be to install the latest prettier local to your project.  Then the plugin will take that version instead of:

1. one found in your node_modules if prettier was installed as a direct or indirect dependency
2. the one bundled in this plugin (1.10.2)

[2018-03-14 20:21] SavePointSam commented on #392
Have you tried passing in a different AST parser when calling the CLI from our end? We may be providing an incorrect parser for the file type. Can you look into that as a potential solution, @olsonpm?

I personally don't mind updating our bundled Prettier, but we should probably explore other potential solutions to figure out if we really are the problem first, even more so because there is no men

[2018-03-14 20:53] olsonpm commented on #392
i just pasted his code into a brand new js file so unless i've always been passing an incorrect parser i doubt that's the issue.  I also didn't check this on a clean install, so it's possible package conflicts are at play.  However given the delay happens at that one recursive call and prettier fails to throw an error, I think there's something else at play.

Honestly I've sunk as much time into t

[2018-03-14 22:11] Maushundb commented on #347
I'm getting the same issue:

eslintignore
[code]

`utils/__tests__/myFile.test.js` is not getting formatted

[2018-03-14 22:37] robwise commented on #392
I'll bump now and we can see if it solves the issue, it never hurts to bump it anyway.

[2018-03-14 22:39] olsonpm commented on #392
it solved the issue for me locally inside atom --dev with prettier atom dev linked.  You're right OP should verify the fix though :)

thanks robwise

[2018-03-14 22:56] majdi commented on #392
I just install locally prettier@^1.11.1 and it works well. Thanks @olsonpm!
Hope you'll find the origin of this weird bug 🤓

[2018-03-14 22:57] robwise commented on #392
Okay bumped to prettier 1.11.1 in prettier-atom 0.52.0

[2018-03-14 22:59] olsonpm commented on #392
I've given up actually haha.  I've got some problems that are more interesting atm and bumping a version is a good'nuff stopping point for me.

@majdi If you have a moment please try the new version of prettier-atom to make sure it solves your problem.  If it does then go ahead and close the issue.

[2018-03-14 23:07] majdi commented on #392
Perfect @olsonpm it works in both cases. Thanks guy 👍

[2018-03-14 23:07] #392 closed

[2018-03-15 10:07] joarwilk commented on #392
Thanks for fixing this so fast guys, was seeing the same issue.

[2018-03-16 01:26] olsonpm commented on #347
Ugh - I misread OP as I thought he was saying the files were not getting ignored.  PR coming shortly

[2018-03-16 02:23] robwise commented on #347
Oh no wonder, so did I lol

[2018-03-16 03:07] #347 closed

[2018-03-16 03:11] robwise commented on #391
I'd be fine with doing this, I use atom-ide so at least one of us would be already set up to mess with it and test bugs. My only question is if we expose this to atom-ide so that it can format on save, then do we need to turn the normal format on save?

[2018-03-16 03:31] olsonpm commented on #391
Not sure what you mean by "the normal format on save".

Anywhoo @wbinnssmith seems you're good to start on a PR when you feel it.  You can ping me if you have questions about the code.

[2018-03-16 09:55] kachkaev opened #395 "Plugin support?"
I'm curious if there is anything missing in `prettier-atom` to support [plugins](https://prettier.io/docs/en/plugins.html). After locally installing `prettier` and [`prettier-plugin-elm`](https://github.com/gicentre/prettier-plugin-elm) (which I developed myself 😃 ), the plugin works from the command line, but not in the editor. In particular, pressing `control+option+f` while editing a markdown f

[2018-03-16 20:05] olsonpm commented on #395
wanna push a sample github repo that reproduces your issue?  Mine formatted your hello world content just fine.

[2018-03-16 20:13] olsonpm commented on #395
ha nevermind I didn't look at the output correctly.  It's gotta do with the executable directory.  Note when you do `prettier elm.md` the plugin isn't grabbed, but if you do `npx elm.md` it does (I assume `yarn <pkg> <args>` is doing the same thing as npx)

Anyway, I'd first take this to prettier.  Seems to me which executable is used shouldn't matter - what should matter is the filepath being for